{%extends display.cpMain%}
{%use "/content_cp/posts/layout.html"%}


{%block pageContent%}
<form class="f justify-center" method="post">
 <div class="c9 s12 pRa10">
  <div class="cbox">
   {{block('iTitle')}}
   {{block('iUrl')}}
   {{block('iContent')}}
  </div>
  <div class="cbox">
   {{block('iSubtitle')}}
   {{block('iExcerpt')}}
  </div>
  <div class="cbox">
   {{block('iTag')}}
  </div>
  <div class="cbox">
   {{block('galleryImporter')}}
  </div>
 </div>
 <div class="c3 s12">
  <div class="cbox">
   {{block('iSlug')}}
   {{block('iPublishdate-')}}
   {{block('iStatus')}}
   {{block('iadd')}}
  </div>

{%if not utilityGET.type or utilityGET.type == 'post' %}
  <div class="cbox">
   {{block('iCat')}}
  </div>
{%endif%}

  <div class="cbox">
   {{block('iThumb')}}
  </div>

 </div>
</form>
{% endblock %}

{%block foot_js%}
<script type="text/javascript">
  $(function () {
    var $logs = $('.logs'),
        p = function (text) { return ('<p>' + text + '</p>'); };

    $('#gallery').uploader({
      url: '/cp/posts/edit?id=b',
      dataType: 'json',

      // Note: The GET is for test as POST request is not allowed on Github Pages.
      method: /github/.test(window.location.host) ? 'GET' : 'POST',
      dropzone: '.dropzone',

      upload: function (e) {
        $logs.empty().append(p('All files uploading'));
      },

      start: function (e) {
        $logs.append(p('* File ' + (e.index + 1) + ' uploading'));
      },

      progress: function (e) {
        $logs.append(p('* File ' + (e.index + 1) + ' uploaded: ' + Math.round(e.loaded / e.total * 100) + '%'));
      },

      done: function (e, data) {
        $logs.append(p('* File ' + (e.index + 1) + ' result done: ' + data.result));
      },

      fail: function (e, textStatus) {
        $logs.append(p('* File ' + (e.index + 1) + ' result fail: ' + textStatus));
      },

      end: function (e) {
        $logs.append(p('* File ' + (e.index + 1) + ' completed'));
      },

      uploaded: function (e) {
        $logs.append(p('All files uploaded'));
      }
    });
  });
</script>
{% endblock %}
