{%extends display.cpMain%}
{%use "/content_cp/posts/layout.html"%}


{%block pageContent%}
<form class="f justify-center" method="post">
 <div class="c9 s12 pRa10">
  <div class="cbox">
   {{block('iTitle')}}
   {{block('iUrl')}}
   {{block('iContent')}}
  </div>
  <div class="cbox">
   {{block('iSubtitle')}}
   {{block('iExcerpt')}}
  </div>
  <div class="cbox">
   {{block('iTag')}}
  </div>
  <div class="cbox">
   {{block('galleryImporter')}}
  </div>
 </div>
 <div class="c3 s12">
  <div class="cbox">
   {{block('iSlug')}}
   {{block('iPublishdate-')}}
   {{block('iStatus')}}
   {{block('iadd')}}
  </div>

{%if not requestGET.type or requestGET.type == 'post' %}
  <div class="cbox">
   {{block('iCat')}}
  </div>
{%endif%}

  <div class="cbox">
   {{block('iThumb')}}
  </div>

 </div>
</form>
   {{block('iGalleryShow')}}
{% endblock %}

