{%extends "content_a/layout.html"%}


{%block pageContent%}

<div class="tblBox">

  <table class="tbl1 v1 fs12">
    <thead>
      <tr class="fs08">
		<th>{%trans "Remain credit"%}</th>
		<th>{%trans "Expire date"%}</th>
		<th>{%trans "Fullname"%}</th>
		<th>{%trans "Username"%}</th>
		<th>{%trans "Pricing name"%}</th>
		<th>{%trans "Sms Farsi cost"%}</th>
		<th>{%trans "Sms english cost"%}</th>
		<th>{%trans "Call local cost"%}</th>
		<th>{%trans "Last login date"%}</th>
		<th>{%trans "Mininum allowed credit"%}</th>
		<th>{%trans "Status"%}</th>
		<th>{%trans "Mobile"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='Removed'%} class='negative'{%endif%}>

		<td>{{value.remaincredit | fitNumber}}</td>
		<td>{{value.expiredate | date | dt}}</td>
		<td>{{value.fullname}}</td>
		<td>{{value.username}}</td>
		<td>{{value.pricingname}}</td>
		<td>{{value.smsfarsicost | fitNumber}}</td>
		<td>{{value.smsenglishcost | fitNumber}}</td>
		<td>{{value.calllocalcost | fitNumber}}</td>
		<td>{{value.lastlogindate | date | dt}}</td>
		<td>{{value.mininumallowedcredit | fitNumber}}</td>
		<td>{{value.status}}</td>
		<td>{{value.mobile | fitNumber('mobile')}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
 </div>


{%endblock%}

