{%extends "content_a/layout.html"%}


{%block pageContent%}

<div class="tblBox">

  <table class="tbl1 v1 fs12">
    <thead>
      <tr class="fs08">
		<th>{%trans "Fullname"%}</th>
		<th>{%trans "Credit"%}</th>

		<th>{%trans "Status"%}</th>
		<th>{%trans "Last login date"%}</th>


		<th>{%trans "Pricing"%}</th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='Removed'%} class='negative'{%endif%}>

		<td>
			<div>{{value.fullname}}</div>
			<div class="badge light">{{value.username}}</div>
			<div class="badge light">{{value.mobile | fitNumber('mobile')}}</div>
		</td>
		<td class="txtB">
			<div>{{value.remaincredit | fitNumber}}</div>
			<div class="badge light"> {%trans "Minimum allow credit"%} {{value.mininumallowedcredit | fitNumber}}</div>
		</td>

		<td>{%set myStatus = value.status%}{%trans myStatus%}</td>
		<td>{{value.lastlogindate | date | dt}}</td>

		<td>
			<span class="badge light">{%trans "pricingname"%} {{value.pricingname}}</span>
			<span class="badge light">{%trans "smsfarsicost"%} {{value.smsfarsicost | fitNumber}}</span>
			<span class="badge light">{%trans "smsenglishcost"%} {{value.smsenglishcost | fitNumber}}</span>
			<span class="badge light">{%trans "calllocalcost"%} {{value.calllocalcost | fitNumber}}</span>
		</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
 </div>


{%endblock%}

