{%extends display.cpMain%}

{%block content%}

 <div class=" dbox">
  <h2>{%trans "Create sitemap automatically by click on this page"%}</h2>
  <div class="btns">
   <a target="_blank" href="{{url.root}}/sitemap.xml">{%trans "Base Sitemap"%}</a>
   <a target="_blank" href="{{url.root}}/sitemap/sitemap.xml">{%trans "Sitemap Detail"%}</a>
   <a class="special-btn float-right" href="{{site.root}}/cp/tools/sitemap?run=yes">{%trans "Create it Again"%}</a>
  </div>
 </div>


{%if sitemapData%}
 <div class=" dbox">
  <div class="in">
   <h3>{%trans "Create Sitemap Result"%}</h3>
   {{sitemapData | raw}}
  </div>
 </div>
{%endif%}

{%endblock%}
