{%extends display.cpMain%}


{%block pageContent%}


<div class="cbox">
    <form method="post">
      <div class="f">
        <div class="c3">
            <textarea class="txt" name="usersmobile" rows="12" placeholder='{%trans "Users mobile"%} {%trans "Every mobile in one line"%}'></textarea>
        </div>
        <div class="c">
            <textarea class="txt mLa5" name="msg" rows="12" placeholder='{%trans "What do you want to send to this users?"%}'>{{sendNotify_text}}</textarea>
        </div>
      </div>
      <div class="f">
        <div class="c"></div>
        <div class="cauto">
          <button type="submit" class=" xl w300 btn danger mTB10" >{%trans "Send"%}</button>
        </div>
      </div>
    </form>
</div>


{%endblock%}
