{%extends display.cpMain%}


{%block content%}

<div class="tbox txtc">
  <span class="sf-male-rounded-1 fs50"></span>
  <h3>{%trans "Unbelievable Styles!" %}</h3>
  <p>{%trans "Definitions aren't limited to just buttons on a page. Siftal's components allow several distinct types of definitions: elements, collections, views, modules and behaviors which cover the gamut of interface design." %}</p>
  <p>{%trans "For improved cross-browser rendering, we use <a href='sample/reset'>special reset</a> to correct inconsistencies across browsers and devices while providing slightly more opinionated resets to common HTML elements." %}</p>
</div>

<div class="f cbox">
  <div class="c12">{{block('breadcrumb')}}</div>
  <div class="c4 s12">
    {{block('buttons')}}
    {{block('messages')}}
    {{block('input')}}
    {{block('datalist')}}
    {{block('progress')}}
    {{block('badge')}}

  </div>

  <div class="c4 s12">
    {{block('icons')}}
    {{block('date')}}
    {{block('clock')}}
    {{block('txt')}}
    {{block('checkbox')}}
    {{block('radio')}}

  </div>

  <div class="c4 s12">
    {{block('vcard')}}

  </div>
  <div class="c12">
    {{block('tbl')}}
    {{block('pagination')}}
  </div>
</div>
{%endblock%}






{%block buttons%}
<div class="pA10">
  <h3><a href='sample/button'>{%trans "Button" %}</a></h3>
  <button class="mA3 btn secondary">{%trans "Primary" %}</button>
  <button class="mA3 btn sm warn">{%trans "Warn" %}</button>
  <button class="mA3 btn xs info">{%trans "Info" %}</button>
  <a href='sample/button' class="btn primary block mA5">{%trans "Check buttons collection" %}</a>
</div>
{%endblock%}


{%block messages%}
<div class="pA10">
  <h3><a href='sample/msg'>{%trans "Messages" %}</a></h3>
  <div class="msg warn2">{%trans "This site uses cookies" %}</div>
  <div class="msg success2 f">
    <div class="cauto">
      <span class="sf-load-c spiny fs10 pRa25 vlmiddle"></span>
    </div>
    <div class="c">{%trans "Hello dear!" %}</div>
  </div>
  <div class="msg danger2">
    <div class="title">{%trans "Looking for help?" %}</div>
    <ul class="list">
      <li>{%trans "Use our help center" %}</li>
      <li>{%trans "Check our FAQ" %}</li>
    </ul>
  </div>
</div>
{%endblock%}


{%block icons%}
<div class="pA10">
  <h3><a href='sample/icon' data-direct>Icons</a></h3>
  <div class="fs20">
    <span class="compact pA15 sf-car"></span>
    <span class="compact pA15 sf-trophy"></span>
    <span class="compact pA15 sf-retweet"></span>
    <span class="compact pA15 sf-search"></span>
    <span class="compact pA15 sf-out"></span>
    <span class="compact pA15 sf-star"></span>
    <span class="compact pA15 sf-hourglass-end"></span>
    <span class="compact pA15 sf-bookmark-o"></span>
    <span class="compact pA15 sf-balance-scale"></span>
    <span class="compact pA15 sf-bolt"></span>
    <span class="compact pA15 sf-heart-2"></span>
    <span class="compact pA15 sf-globe-1"></span>
    <span class="compact pA15 sf-pin-1"></span>
    <span class="compact pA15 sf-headphones-1"></span>
    <span class="compact pA15 sf-basket"></span>
    <span class="compact pA15 sf-bug-2"></span>
  </div>
</div>
{%endblock%}


{%block badge%}
<div class="pA10">
  <h3><a href='sample/badge'>{%trans "Badge" %}</a></h3>
  <h4 class="fs14">Posts <span class="badge primary">{%trans "Add New" %}</span></h4>
  <button class="mA5 btn">Notification <span class="badge">7</span></button>
  <span class="badge rounded">{%trans "125" %}</span>
  <span class="badge rounded success">{%trans "64" %}</span>
  <span class="badge rounded warn">{%trans "7" %}</span>
</div>
{%endblock%}


{%block breadcrumb%}
<div class="pA15">
  <nav class="breadcrumb">
    <a href="{{url.base}}/cp/sample/breadcrumb" tabindex="-1"><span class="fa fa-home"></span> Home</a>
    <a href="{{url.base}}/cp/sample/breadcrumb" tabindex="-1">{%trans "Control Panel" %}</a>
    <a href="{{url.base}}/cp/sample/breadcrumb" tabindex="-1">{%trans "Sample" %}</a>
    <a href="{{url.base}}/cp/sample/breadcrumb">Breadcrumb</a>
  </nav>
</div>
{%endblock%}


{%block pagination%}
<div class="pA10">
  <h3><a href='sample/pagination'>{%trans "Pagination" %}</a></h3>
    <nav class="pagination info">
      <a href='/cp/sample/pagination' class="prev disabled">{%trans "Previous" %}</a>
      <a>...</a>
      <a href='/cp/sample/pagination'>{%trans "6" %}</a>
      <a class='active'>{%trans "7" %}</a>
      <a href='/cp/sample/pagination'>{%trans "8" %}</a>
      <a>...</a>
      <a href='/cp/sample/pagination' class="next">{%trans "Next" %}</a>
    </nav>
</div>
{%endblock%}


{%block progress%}
<div class="pA10">
  <h3><a href='sample/progress'>{%trans "Progress" %}</a></h3>
  <div class="pA15">
    <progress value="76" max="100"></progress>
  </div>
  <div class="pA15">
    <meter value="34" min="0" max="100"></meter>
  </div>
</div>
{%endblock%}


{%block tbl%}
<div class="pA10">
  <h3><a href='sample/table'>{%trans "Table" %}</a></h3>
  <table class="tbl zebra">
    <thead class="primary">
      <tr><th>#</th><th>{%trans "First Name" %}</th><th>{%trans "Last Name" %}</th><th>{%trans "Username" %}</th></tr>
    </thead>
    <tbody>
      <tr><th>1</th><td>{%trans "Javad" %}</td><td>{%trans "Evazzadeh" %}</td><td class="collapsing">@evazzadeh</td></tr>
      <tr><th>2</th><td>{%trans "Reza" %}</td><td>{%trans "Mohiti" %}</td><td>@biqarar</td></tr>
      <tr><th>3</th><td>{%trans "Hasan" %}</td><td>{%trans "Salehi" %}</td><td>@baravak</td></tr>
    </tbody>
    <tfoot>
      <tr><th>-</th><th colspan="3">{%trans "Footer" %}</th></tr>
    </tfoot>
  </table>
  </div>
{%endblock%}


{%block input%}
<div class="pA10">
  <h3><a href='sample/input'>{%trans "Input" %}</a></h3>
    <input type="text" placeholder="Type..." class="input">
    <div class="input pTB10">
      <label class="addon" for='sAddon1'>{%trans "@" %}</label>
      <input type="text" placeholder="Type..." id='sAddon1'>
    </div>
    <div class="input pTB10">
      <label class="addon" for='sAddon4'>{%trans "$" %}</label>
      <input type="text" placeholder="Type..." id='sAddon4'>
      <label class="addon" for='sAddon4'>{%trans "." %}00</label>
    </div>
    <div class="input pTB10 lg">
      <span class="addon btn danger" data-val='-5' data-connect='plus'>{%trans "+" %}</span>
      <input type="number" placeholder="Time.." class="txtc" name="plus" step="5" min="0" max="1440">
      <span class="addon btn success" data-val='10' data-connect='plus'>{%trans "-" %}</span>
    </div>
</div>
{%endblock%}


{%block txt%}
<div class="pA10">
  <h3><a href='sample/txt'>{%trans "Textarea" %}</a></h3>
   <textarea class="txt mTB10"></textarea>
   <textarea class="txt mTB10" rows="6"></textarea>
</div>
{%endblock%}


{%block vcard%}
<div class="pA10">
  <h3><a href='sample/vcard'>{%trans "Vcard" %}</a></h3>
      <div class="vcard shadow mA10">
        <img src="http://code.ermile.dev/siftal/images/avatar/1.png">
        <div class="content">
          <a class="header">{%trans "Ermile" %}</a>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          <div class="desc">{%trans "Ermile is our company in Qom!" %}</div>
        </div>
        <div class="footer"><i class="sf-users"></i> 123 Friends</div>
      </div>
    <div class="vcard shadow mA10">
      <div class="content f">
        <div class="c">
          <a class="header">{%trans "Ermile" %}</a>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
        </div>
        <div class="cauto">
          <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="mini">
        </div>
        <div class="desc c12">{%trans "Ermile requested permission to transfer <b>Tejarak</b> team to you" %}</div>
      </div>
      <div class="footer f">
        <div class="c6 s pA5"><button class="btn success outline block">{%trans "Approve"%}</button></div>
        <div class="c6 s pA5"><button class="btn danger outline block">{%trans "Decline"%}</button></div>
      </div>
    </div>
    <div class="vcard shadow mA10">
      <div class="content">
        <a class="header">{%trans "Javad Evazzadeh" %}</a>
        <div class="meta"><span>{%trans "3 days ago" %}</span> <a href="#">Ermile</a></div>
        <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
      </div>
      <div class="footer pAn"><button class="btn block primary">{%trans "Check more!" %}</button></div>
    </div>
    <div class="small mA10 txtc">
      <a href="#" class="vcard shadow">
       <img src="http://code.ermile.dev/siftal/images/avatar/1.png">
        <div class="content">
         <div class="header">{%trans "Javad Evazzdeh" %}</div>
         <div class="meta"><span>{%trans "CEO and Founder" %}</span></div>
        </div>
      </a>
      <a href="#" class="vcard shadow">
       <img src="http://code.ermile.dev/siftal/images/avatar/2.png">
        <div class="content">
         <button class="btn block danger">{%trans "Remove" %}</button>
        </div>
      </a>
    </div>
</div>
{%endblock%}


{%block clock%}
<div class="pA10">
  <h3><a href='sample/clock'>{%trans "Clockpicker" %}</a></h3>
   <div class="input clockpicker w300">
    <input type="text" class="input" value="09:30" placeholder="Choose clock">
   </div>
</div>
{%endblock%}


{%block date%}
<div class="pA10">
  <h3><a href='sample/date'>{%trans "Datepicker" %}</a></h3>
    <div class="input pB5">
     <input class="datepicker">
    </div>
    <div class="input pB5">
     <input class="datepicker" data-format='YY/MM/DD' data-view='year' data-alt='#normalAlt' data-altFormat='LLLL' >
    </div>
    <div class="input pB5">
     <input id="normalAlt" disabled>
    </div>

</div>
{%endblock%}


{%block checkbox%}
<div class="pA10">
  <h3><a href='sample/checkbox'>{%trans "Checkbox" %}</a></h3>
   <div class="check1">
    <input type="checkbox" id="sChk1">
    <label for="sChk1">{%trans "Check1 Sample1"%}</label>
   </div>

  <h4><a href='sample/checkbox#switch'>{%trans "Switch" %}</a></h4>
   <div class="switch1">
    <input type="checkbox" name="switch12" id="switch12">
    <label for="switch12" data-on='{%trans "YES"%}' data-off='{%trans "NO!"%}'></label>
    <label for="switch12">{%trans "Are you like Siftal?" %}</label>
   </div>

</div>
{%endblock%}


{%block datalist%}
<div class="pA10">
  <h3><a href='sample/datalist'>{%trans "Datalist" %}</a></h3>
    <div class="input">
      <input type="text" list="states" placeholder="Find Iran State">
    </div>

    <datalist id="states">
      <option value="{%trans 'Qom' %}">
      <option value="{%trans 'Tehran' %}">
    </datalist>
</div>
{%endblock%}


{%block radio%}
<div class="pA10">
  <h3><a href='sample/radio'>{%trans "Radio" %}</a></h3>
   <div class="radio1">
    <input type="radio" name="colors" id="sRdc1">
    <label for="sRdc1">{%trans "Blue"%} ({%trans "Default"%})</label>
   </div>
   <div class="radio1 red">
    <input type="radio" name="colors" id="sRdc2" checked>
    <label for="sRdc2">{%trans "Red"%}</label>
   </div>
   <div class="radio1 yellow">
    <input type="radio" name="colors" id="sRdc3">
    <label for="sRdc3">{%trans "Yellow"%}</label>
   </div>
   <div class="radio1 green">
    <input type="radio" name="colors" id="sRdc4">
    <label for="sRdc4">{%trans "Green"%}</label>
   </div>
   <div class="radio1 black">
    <input type="radio" name="colors" id="sRdc5">
    <label for="sRdc5">{%trans "Black"%}</label>
   </div>
</div>
{%endblock%}
