{%extends display.cpMain%}


{%block content%}
{%if transaction_record %}
<h2>{%trans "Saved record"%}</h2>

<div class="df">
	<div class="f">
		<div class="c">{%trans "Code"%}</div>
		<div class="c">{%trans "Title"%}</div>
		<div class="c">{%trans "Type"%}</div>
		<div class="c">{%trans "Date"%}</div>
		<div class="c">{%trans "Plus"%}</div>
		<div class="c">{%trans "Minus"%}</div>
		<div class="c">{%trans "Condition"%}</div>
		<div class="c">{%trans "Verify"%}</div>
		<div class="c">{%trans "Description"%}</div>
	</div>
	<div class="f">
		<div class="c">{{transaction_record.code}}</div>
		<div class="c">{{transaction_record.title}}</div>
		<div class="c">{%set my_type = transaction_record.type %}{%trans my_type %}</div>
		{%if site.currentlang == 'fa'%}
			<div class="c">{{transaction_record.date|jdate("Y-m-d H:i:s")}}</div>
		{%else%}
			<div class="c">{{transaction_record.date}}</div>
		{%endif%}
		<div class="c">{{transaction_record.plus | number_format  | fitNumber}}</div>
		<div class="c">{{transaction_record.minus | number_format  | fitNumber}}</div>
		<div class="c">{%set my_condition = transaction_record.condition %}{%trans my_condition %}</div>
		<div class="c">{{transaction_record.verify | fitNumber}}</div>
		<div class="c">{{transaction_record.desc}}</div>
	</div>
</div>

<hr>
<h2>{%trans "Repair to"%}</h2>
{%endif%}
 <form method="post" class="df g1 form-box" >
	<div class="f">
		<label for="title" class="c2">{%trans "Title"%}</label>
		<input type="text" name="title" class="c" id="title" placeholder='{%trans "Title"%} *' required >
	</div>

	<div class="f">
		<label for="type" class="c2">{%trans "type"%}</label>
		<select name="type" class="c" id="type">
			<option value="">{%trans "Please select one item"%}</option>
			<option value="money">{%trans "Money"%}</option>
			<option value="gift">{%trans "Gift"%}</option>
			<option value="transfer">{%trans "Transfer"%}</option>
			<option value="prize">{%trans "Prize"%}</option>
		</select>
	</div>
	<div class="f">
		<label for="unit" class="c2">{%trans "Unit"%}</label>
		<select name="unit" class="c" id="unit">
			<option value="">{%trans "Please select one item"%}</option>
			<option value="toman" selected="">{%trans "Toman"%}</option>
			<option value="dollar">{%trans "$"%}</option>
		</select>
	</div>

	<div class="f">
		<label for="mobile" class="c2">{%trans "Mobile"%}</label>
		<input type="text" name="mobile" class="c" id="mobile" placeholder='{%trans "Mobile"%} *' required value="{{get_mobile}}">
	</div>

	<div class="f">
		<label for="minus" class="c2">{%trans "Minus"%}</label>
		<input type="text" name="minus" class="c" id="minus" placeholder='{%trans "Minus"%}'>
	</div>

	<div class="f">
		<label for="plus" class="c2">{%trans "Plus"%}</label>
		<input type="text" name="plus" class="c" id="plus" placeholder='{%trans "Plus"%}'>
	</div>

	<div class="f">
		<label for="desc" class="c2">{%trans "Description"%}</label>
		<input type="text" name="desc" class="c" id="desc" placeholder='{%trans "Description"%}'>
	</div>

	<div class="f">
		<label class="c2"> ‌</label>
		<input type="submit"  class="c bp"  value='{%trans "Add"%}'>
	</div>
</form>
<br>


{%endblock%}
