{%extends display.cpMain%}



{%block pageContent%}
<div class="cbox">
{{block('bChartPrimary')}}
	<div class="msg primary2">
		<a class="msg primary" href="{{url.this}}?period=hours24">{%trans "Last 24 hours"%}</a>
		<a class="msg primary" href="{{url.this}}?period=week">{%trans "Last week"%}</a>
		<a class="msg primary" href="{{url.this}}?period=month">{%trans "Last month"%}</a>
	</div>

	<div class="f">
		<div class="dcard c">
			<a href="{{url.this}}/datalist">{%trans "Visitor list"%}</a>
		</div>
		<div class="dcard c">
			<a href="{{url.this}}/chart">{%trans "Visitor chart"%}</a>
		</div>


	</div>
	<div class="msg">{%trans "Visit"%} <b>{{dashboardDetail.visit | fitNumber}}</b></div>
	<div class="msg">{%trans "Visitor"%} <b>{{dashboardDetail.visitor | fitNumber}}</b></div>
	<div class="msg" title="{{dashboardDetail.avgtime}}">{%trans "AVG TIME"%} {{dashboardDetail.avgtime | fitNumber}} {%trans "Second"%}</div>
	<div class="msg">{%trans "Max trafic time"%} {{(dashboardDetail.maxtrafictime ~ ":00:00") | dt(true)}}</div>

</div>
{%endblock%}



{%block bChartPrimary%}
<a class="dcard x4" >
 <div class="chart" id="chartdiv" data-type='bar' data-vals='{{visitor.chart}}'></div>
</a>
{%endblock%}


{%block foot_js%}
<script type="text/javascript">
  {%include 'content_cp/visitor/home/chart.js'%}
</script>
{%endblock%}
