{%extends display.cpMain%}



{%block pageContent%}
<div class="cbox">
{{block('bChartPrimary')}}
	<div class="msg primary2">
		<a class="msg primary" href="{{url.this}}?period=hours24">{%trans "Last 24 hours"%}</a>
		<a class="msg primary" href="{{url.this}}?period=week">{%trans "Last week"%}</a>
		<a class="msg primary" href="{{url.this}}?period=month">{%trans "Last month"%}</a>
	</div>

	<a href="{{url.this}}/datalist">DATA LIST</a>
	<div class="msg">Visit {{dashboardDetail.visit}}</div>
	<div class="msg">Visitor {{dashboardDetail.visitor}}</div>
	<div class="msg" title="{{dashboardDetail.avgtime}}">AVG TIME {{dashboardDetail.avgtime}} Second</div>
	<div class="msg">Max trafic time {{dashboardDetail.maxtrafictime}}</div>

</div>
{%endblock%}



{%block bChartPrimary%}
<a class="dcard x4" >
 <div class="chart" id="chartdiv" data-type='bar' data-vals='{{visitor.chart}}'></div>
</a>
{%endblock%}


{%block foot_js%}
<script type="text/javascript">
  {%include 'content_cp/visitor/home/chart.js'%}
</script>
{%endblock%}
