{%extends display.suMain%}

{%block pageContent%}

{%if true or perm.tools.view%}

<div class="f mB100">
  <div class="c3 s12 pRa25">
    {{block('iCurrent')}}
  </div>
  <div class="c4 s12">
    {{block('iCurrentVersion')}}
    {{block('iLastUpdate')}}
  </div>
  <div class="c">
    {{block('iLocation')}}
  </div>
</div>

<p class="msg danger fs16 txtC">{%trans "If you dont know about this page, leave it!"%}</p>
<div class="f mB25">
  <div class="c8 s12 pRa25">
    {{block('iRepo')}}
  </div>
  <div class="c4 s12">
    {{block('iUpdateDb')}}
  </div>
</div>





{%endif%}

{%endblock%}


{%block iCurrent%}
<div class="vcard shadow txtC fs14 mB10">
  <img src="{{url.base}}/static/siftal/images/logo/dash.svg" alt="dash logo" class="pA10-f">
  <div class="content">
    <a class="header">{%trans "Dash"%}</a>
  </div>
</div>
{%endblock%}


{%block iLastUpdate%}
<div class="dcard x2 mB10">
  <div class="statistic grey">
    <div class="value"><span>{{dash.lastUpdate | sdate}}</span></div>
    <div class="label">{%trans "Last update"%}</div>
  </div>
</div>
{%endblock%}


{%block iCurrentVersion%}
<div class="dcard x2 mB10">
  <div class="statistic teal">
    <div class="value">{{dash.version | fitNumber(false)}}</div>
    <div class="label">{%trans "Current Version"%}</div>
  </div>
</div>
{%endblock%}


{%block iLocation%}
<div class="dcard x2 mB10">
  <div class="statistic">
    <div class="value">{{dashLoc | raw}}</div>
    <div class="label">{%trans "Dash Engine Location"%}</div>
  </div>
</div>
{%endblock%}


{%block iUpdateDb%}
 <form method="post" action="{{url.here}}/db" data-action class="cbox">
  <h2>{%trans "Upgrade Database"%}</h2>
  <div class="msg danger2 txtC">{%trans "Submit this form carefully"%}</div>
  <div class="input mB10">
   <span class="addon">{%trans "Username"%}</span>
   <input type="text" name="username" placeholder="db username">
  </div>
  <div class="input mB10">
   <span class="addon">{%trans "Password"%}</span>
   <input type="password" name="password" placeholder="db password" autocomplete="new-password" class="input">
  </div>
  <div class="input mB10 f">
   <span class="addon cauto">{%trans "Type"%}</span>
  <select name="type" class="c input">
   <option value="upgrade" selected="selected">{%trans "Upgrade"%}</option>
   <option value="backup" >{%trans "Backup"%}</option>
   <option value="backup_dump" >{%trans "Backup by dump"%}</option>
  </select>
  </div>
  <button class="btn block danger outline">{%trans "Submit"%}</button>
 </form>
{%endblock%}


{%block iRepo%}
 <div class="cbox">
   <h2>{%trans "Update Git Repositories"%}</h2>
   <p class="msg warn2 txtC">{%trans "Before update create a full backup from database and files"%}</p>
   <div class="f">
    <div class="c6 pRa10">
      <a target='_blank' class="btn block mB10 c6 secondary" href="{{url.here}}/update?git={{url.root}}">{%trans "Update"%} {%trans "Current Project Repository"%}</a>
    </div>
    <div class="c6">
      <a target='_blank' class="btn block mB10 c6 secondary" href="{{url.here}}/update?git=dash">{%trans "Update"%} {%trans "Dash Repository"%}</a>
    </div>
   </div>
    <a target='_blank' class="btn block mB10 xl" href="{{url.here}}/update?git=all">{%trans "Update"%} {%trans "Dash + Current Poject Repository"%}</a>
 </div>
{%endblock%}


