{%extends display.payMain%}


{%block pageContent%}

<div class="f justify-center">
	<div class="c6 s12">
		{{block('bPayTicket')}}
		{{block('bPayTicketDetail')}}
	</div>
</div>

<div class="f hide justify-center">
	<div class="c4 s12">
		<div class="cbox">


			{%if dataRow.displayname%}
				<div class="teal statistic fs06">
		           <div class="value">{{dataRow.displayname}}</div>
		        </div>
			{%endif%}

			{%if dataRow.banktoken%}
				{%if dataRow.condition == 'ok'%}
		          <div class="green statistic">
		            <div class="value">{{dataRow.plus | fitNumber}}</div>
		            <div class="label">{%trans "Toman"%}</div>
		          </div>
		          <div class="msg success txtC txtB">{%trans "Payed"%}</div>
				{%elseif dataRow.condition == 'error' or dataRow.condition == 'verify_error'%}
					<div class="red statistic">
			           <div class="value">{{dataRow.plus | fitNumber}}</div>
			           <div class="label">{%trans "Toman"%}</div>
			        </div>
		          	<div class="msg danger txtC txtB">{%trans "Canceled"%}</div>
				{%else%}
					<div class="yellow statistic">
			           <div class="value">{{dataRow.plus | fitNumber}}</div>
			           <div class="label">{%trans "Toman"%}</div>
			        </div>
		          	<div class="msg warn txtC txtB">{%trans "Canceled"%}</div>
				{%endif%}
			{%else%}
				<div class="green statistic">
		            <div class="value">{{dataRow.plus | fitNumber}}</div>
		            <div class="label">{%trans "Toman"%}</div>
	            </div>
			{%endif%}

		</div>
	</div>
</div>
{%endblock%}




{%block bPayTicket%}
<div class="payTicket">
	<div class="f fix topBox">
		<div class="c8">
			<div class="priceBox">
				<span class="price">{{dataRow.plus | fitNumber}}</span>
				<abbr class="unit">{%trans "Toman"%}</abbr>
			</div>
		</div>
		<div class="cauto">
			<div class="breakLine"><i></i></div>
		</div>
		<div class="c status">
			<span class="myStatus sf-check"></span>
		</div>
	</div>
</div>
{%endblock%}


{%block bPayTicketDetail%}
		<div class="payTicketDetail">

			{%if payDetail.msg_go%}
				<div class="msg info2">{{payDetail.msg_go}}</div>
			{%endif%}

			{{block('ipayTable')}}

			<form method="post">

				<p>{%trans "Choose a gateway"%}</p>

				{{block('ipayBank')}}

		    	{%if dataRow.condition == 'request' or dataRow.condition == 'redirect'%}
					<input type="hidden" name="ok" value="1">

					<button class="btn primary block">{%trans "Pay"%}</button>

					{%if payDetail.turn_back%}
					<div class="f mT5">
						<a href="{{payDetail.turn_back}}" class="cauto os btn outline sm">{%trans "Cancel"%}</a>
					</div>
					{%endif%}

				{%else%}

					{%if payDetail.turn_back%}
					<a class="btn success block mT10" href="{{payDetail.turn_back}}">{%trans "Back"%}</a>
					{%endif%}

				{%endif%}
			</form>
		</div>
{%endblock%}




{%block ipayTable%}
<table class="tbl1 txtC">
	<tbody>
		<tr>
			<th>Key</th>
			<td>Val</td>
		</tr>
		<tr>
			<th>Key</th>
			<td>Val</td>
		</tr>
		<tr>
			<th>Key</th>
			<td>Val</td>
		</tr>
	</tbody>
</table>
{%endblock%}


{%block ipayBank%}

	{%if options.parsian.status%}
	<div class="radioGateway" title='{%trans "Parsian"%}'>
	<input type="radio" name="bank" value="parsian" id="parsian"  {%if options.default_payment == 'parsian'%} checked {%endif%}>
	<label for='parsian' class="spay-64-parsian"></label>
	</div>
	{%endif%}

	{%if options.asanpardakht.status%}
	<div class="radioGateway">
	<input type="radio" name="bank" value="asanpardakht" id="asanpardakht" {%if options.default_payment == 'asanpardakht'%} checked {%endif%}>
	<label for='asanpardakht' class="spay-64-asanpardakht"></label>
	</div>
	{%endif%}

	{%if options.irkish.status%}
	<div class="radioGateway">
	<input type="radio" name="bank" value="irKish" id="irKish" {%if options.default_payment == 'irkish'%} checked {%endif%}>
	<label for='irKish' class="spay-64-irkish"></label>
	</div>
	{%endif%}

	{%if options.zarinpal.status%}
	<div class="radioGateway">
	<input type="radio" name="bank" value="ZarinPal" id="ZarinPal" {%if options.default_payment == 'zarinpal'%} checked {%endif%}>
	<label for='ZarinPal' class="spay-64-zarinpal"></label>
	</div>
	{%endif%}

	{%if options.payir.status%}
	<div class="radioGateway">
	<input type="radio" name="bank" value="payir" id="payir" {%if options.default_payment == 'payir'%} checked {%endif%}>
	<label for='payir' class="spay-64-payir"></label>
	</div>
	{%endif%}

	{%if options.mellat.status%}
	<div class="radioGateway">
	<input type="radio" name="bank" value="mellat" id="mellat" {%if options.default_payment == 'mellat'%} checked {%endif%}>
	<label for='mellat' class="spay-64-mellat"></label>
	</div>
	{%endif%}

{%endblock%}

























{%block suDetail%}
{%if perm_su() and 0%}
<h3 data-kerkere='.iDetailKerkere'>{%trans "Detail"%}</h3>
<div class="iDetailKerkere" data-kerkere-content='hide'>
	<div class="f">
		{{block('iPaymentDetail')}}
		{{block('iPaymentDetail1')}}
		{{block('iPaymentDetail2')}}
		{{block('iPaymentDetail3')}}
		{{block('iTransactionRecord')}}
	</div>
</div>
{%endif%}

{%endblock%}




{%block iPaymentDetail%}
	<div class="c s12">
		<div class="cbox">
			<h3>Payment detail</h3>
			{%for key, value in dataRow.payment_response%}
			{% if value is iterable%}
				<div class="msg"><code>{{key}}</code> <pre class="floatL">{{value | dump}}</pre></div>
			{%else%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endif%}
			{%endfor%}
		</div>
	</div>
{%endblock%}

{%block iPaymentDetail1%}
	<div class="c s12">
		<div class="cbox">
			<h3>Payment response1</h3>
			{%for key, value in dataRow.payment_response1%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>
{%endblock%}

{%block iPaymentDetail2%}
	<div class="c s12">
		<div class="cbox">
			<h3>Payment response2</h3>
			{%for key, value in dataRow.payment_response2%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>
{%endblock%}

{%block iPaymentDetail3%}
	<div class="c s12">
		<div class="cbox">
			<h3>Payment response3</h3>
			{%for key, value in dataRow.payment_response3%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>
{%endblock%}

{%block iTransactionRecord%}
	<div class="c s12">
		<div class="cbox">
			<h3>Payment record</h3>
			{%for key, value in dataRow%}
			{% if value is iterable%}
				<div class="msg"><code>{{key}}</code> <pre class="floatL">{{value | dump}}</pre></div>
			{%else%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endif%}
			{%endfor%}
		</div>
	</div>
{%endblock%}



{%block foot_js%}
<script>
$(".payTicket .price").shrink(100);
</script>
{%endblock%}
