
<div class="cbox">
  <form method="post" enctype="multipart/form-data" autocomplete="off" action="{{url.pwd}}">

{%if url.child == 'add'%}
    <label for="title">{%trans "Ticket Subject"%}</label>
    <div class="input">
      <input type="text" name="title" id="title" placeholder='{%trans "Subject of your ticket"%}' value="{{dataRow.title}}" autofocus maxlength='150' minlength="1" title='{%trans "Set title will help us answer quickly"%}'>
    </div>
{%endif%}

    <label for="content">{%trans "Description"%} <small class="fc-red">{%trans "Require"%} *</small></label>
    <textarea class="txt mB10" id='content' name="content" placeholder='' maxlength='1000' rows="5">{{dataRow.desc}}</textarea>


    <label for="file1">{%trans "Attachment"%} <small class="fc-mute">{%trans "Max size"%} {{maxUploadSize}}</small></label>
    <div class="input">
     <input type="file" name="file" id="file1" data-max="5000">
    </div>

{%if url.child == 'add'%}
    <button class="btn primary block mT20">{%trans "Submit a ticket"%}</button>
{%else%}
{%if perm('supportSecretMessage') %}
<div class="f">
  <div class="c9">
    <button class="btn primary block mT20">{%trans "Send new message"%}</button>
  </div>
  <div class="c">
    <button class="btn secondary outline mLa5 block mT20" name="secret" value="message">{%trans "Send secret message"%}</button>
  </div>
</div>
{%else%}
    <button class="btn primary block mT20">{%trans "Send new message"%}</button>
{%endif%}
{%endif%}
  </form>
</div>
