{%extends display.suMain%}


{%block content%}
<div class="tbox">
	<h2>{%trans "Users list"%} <a href="{{url.here}}/users/add" class="badge primary xs">{%trans "Add new"%}</a></h2>


</div>
 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{get_search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>
<br>

<table class="tbl">
	<thead>
		<th><a href="{{url.base}}/su/users/{{order_url.id}}">{%trans "ID"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.mobile}}">{%trans "Mobile"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.email}}">{%trans "Email"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.displayname}}">{%trans "Display name"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.status}}">{%trans "Status"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.parent}}">{%trans "Parent"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.username}}">{%trans "Username"%}</a></th>
		<th><a href="{{url.base}}/su/users/{{order_url.fileurl}}">{%trans "Avatar"%}</a></th>
		<th>{%trans "More"%}</th>
		<th>{%trans "Edit"%}</th>
		<th>{%trans "Logs"%}</th>
		<th>{%trans "Transactions"%}</th>
		<th>{%trans "Permission"%}</th>

	</thead>
	<tbody>
		{%for key, value in users_list%}
		<tr>
			<td>{% set user_code = value.id|shortURL("encode")%}{{user_code}}</td>
			<td>{{value.mobile|fitNumber}}</td>
			<td>{{value.email}}</td>
			<td>{{value.displayname}}</td>
			<td>{{value.status}}</td>
			<td>{{value.parent}}</td>
			<td>{{value.username}}</td>
			{%if value.fileurl%}
				<td>
					<a href="{{url.base}}/{{value.fileurl}}" target="_blank"><img src="{{url.base}}/{{value.fileurl}}" height="25" width="25"></a>
				</td>
			{%else%}
				<td><span class="sf-file-image-o"></span></td>
			{%endif%}

			<td><a href='{{url.base}}/su/users/detail/{{user_code}}'><span class="sf-align-left-1"></span></a></td>
			<td><a href='{{url.base}}/su/users/edit/{{user_code}}'><span class="sf-edit-write"></span></a></td>
			<td><a href='{{url.base}}/su/logs/sort=id/order=desc/user_id={{user_code}}'><span class="sf-archive"></span></a></td>
			<td><a href='{{url.base}}/su/transactions/sort=id/order=desc/user_id={{user_code}}'><span class="sf-credit-card"></span></a></td>
			<td><a href='{{url.base}}/su/permission/{{user_code}}'><span class="sf-flag-o"></span></a></td>
		</tr>
		{%endfor%}

	</tbody>
</table>
{%include display.pagination%}

{%endblock%}
