{%extends display.dash%}



{%block pageContent%}


{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/users' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
 <div class="cbox fs12">
  <table class="tbl bordered1">
    <thead class="primary">
      <tr>
        <th data-sort="{{sortLink.id.order}}"><a href='{{sortLink.id.link}}'>{%trans "Id"%}</a></th>
        <th data-sort="{{sortLink.gender.order}}" class="s0 collapsing"><a href='{{sortLink.gender.link}}'>{%trans "Gender"%}</a></th>
        <th data-sort="{{sortLink.displayname.order}}"><a href='{{sortLink.displayname.link}}'>{%trans "Display name"%}</a></th>
        <th data-sort="{{sortLink.mobile.order}}"><a href='{{sortLink.mobile.link}}'>{%trans "Mobile"%}</a></th>
        <th data-sort="{{sortLink.password.order}}" class="s0"><a href='{{sortLink.password.link}}'>{%trans "Password"%}</a></th>
        <th data-sort="{{sortLink.status.order}}" class="s0"><a href='{{sortLink.status.link}}'>{%trans "Status"%}</a></th>
        <th data-sort="{{sortLink.email.order}}" class="s0"><a href='{{sortLink.email.link}}'>{%trans "Email"%}</a></th>
        <th data-sort="{{sortLink.permission.order}}" class="s0 m0"><a href='{{sortLink.permission.link}}'>{%trans "Permission"%}</a></th>
      </tr>
    </thead>
    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td><a href="{{url.here}}/users/set?id={{value.id}}">{{value.id}}</a></td>
        <td class="s0">{%if value.gender == 'male'%}{%trans "Mr"%} {%elseif value.gender == 'female'%}{%trans "Mrs"%}{%else%}-{%endif%}</td>
        <td><a href="{{url.here}}/users/set?id={{value.id}}">{{value.displayname}}</a></td>
        <td><a href="{{url.here}}/users/set?id={{value.id}}">{{value.mobile | persian}}</a></td>
        <td class="s0"><span class="disabled">{%if value.password%}{%trans "Set"%}{%else%}{%trans "Not set"%}{%endif%}</span></td>
        <td class="s0"><a href="{{url.here}}/users?status={{value.status}}">{%set myStatus = value.status %}{%trans myStatus%}</a></td>
        <td class="s0">{{value.email}}</td>
        <td class="s0 m0"><a href="{{url.here}}/users?permission={{value.permission}}">{{value.permission}}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
 </div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 alert alert-info">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/users">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 alert alert-error">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/users">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 alert alert-success pTB20">{%trans "Hi!"%} <a href="{{url.here}}/users/add">{%trans "Try to start with add new user!"%}</a></p>
{%endblock%}




{%block stAll%}
<a class="dcard {%if requestGET.type%}{%else%}active{%endif%}" href='{{url.this}}' data-shortkey="49shift">
 <div class="statistic gray">
  <div class="value"><i class="sf-users"></i><span>{{dashboardData.customer_count | fitNumber}}</span></div>
  <div class="label">{%trans "All :Members"%} <kbd>Shift+1</kbd></div>
 </div>
</a>
{%endblock%}

{%block stExpert%}
<a class="dcard {%if requestGET.type == 'expert'%}active{%endif%}" href='{{url.this}}?type=expert' data-shortkey="50shift">
 <div class="statistic gray">
  <div class="value"><i class="sf-user-md"></i><span>{{dashboardData.customer_count | fitNumber}}</span></div>
  <div class="label">{%trans ":Experts"%} <kbd>Shift+2</kbd></div>
 </div>
</a>
{%endblock%}


{%block stTeacher%}
<a class="dcard {%if requestGET.type == 'teacher'%}active{%endif%}" href='{{url.this}}?type=teacher' data-shortkey="51shift">
 <div class="statistic orange">
  <div class="value"><i class="sf-user-5"></i><span>{{dashboardData.staff_count | fitNumber}}</span></div>
  <div class="label">{%trans ":Teachers"%} <kbd>Shift+3</kbd></div>
 </div>
</a>
{%endblock%}



{%block stStudent%}
<a class="dcard {%if requestGET.type == 'student'%}active{%endif%}" href='{{url.this}}?type=student' data-shortkey="52shift">
 <div class="statistic teal">
  <div class="value"><i class="sf-user-4"></i><span class="fs08">{{dashboardData.supplier_count | fitNumber}}</span></div>
  <div class="label">{%trans "Students"%} <kbd>Shift+4</kbd></div>
 </div>
</a>
{%endblock%}

