{%extends display.cpMain%}


{%block pageContent%}


<div class="cbox">
    <form method="post">
      {%if userInfo%}
      <div class="f">

      <div class="c2 large ">
          <div class="vcard shadow ">
              <img alt='{{userInfo.displayname}}' src="{{userInfo.avatar}}">
              <div class="content">
                <div class="header">{{userInfo.firstname}} <b>{{userInfo.lastname}}</b></div>
                <div class="meta"><span>{{userInfo.mobile | persian}}</span></div>
              </div>
            </div>
        </div>
        <div class="c10">
          <textarea class="txt" name="msg" rows="10" placeholder='{%trans "What do you want to send to this user?"%}'>{{sendNotify_text}}</textarea>
          <div class="f">
            <div class="c"></div>
            <div class="cauto">
              <button type="submit" class=" xl w300 btn success mTB10" >{%trans "Send"%}</button>
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <div class="input mTB10">
          <input type="tel" name="mobile" placeholder='{%trans "Mobile"%}' value="{{requestGET.mobile}}">
      </div>
      <textarea class="txt" name="msg" rows="10" placeholder='{%trans "What do you want to send to this user?"%}'>{{sendNotify_text}}</textarea>
      <div class="f">
        <div class="c"></div>
        <div class="cauto">
          <button type="submit" class=" xl w300 btn success mTB10" >{%trans "Send"%}</button>
        </div>
      </div>
      {%endif%}
    </form>
</div>


{%endblock%}
