
{%block iTitle %}
<div class="input mB10">
  <input type="text" name="title" id="title" placeholder='{%trans "Enter a good and short title"%} *' value="{{dataRaw.title}}" autofocus required maxlength='100' minlength="1" pattern=".{1,100}" title='{%trans "Enter a valid title"%}'>
</div>
{% endblock %}

{%block iUrl %}
<a href="{{url.base}}/{{dataRaw.url}}">{{dataRaw.url}}</a>
{% endblock %}

{%block iSlug %}
<div class="input ltr">
  <input type="text" name="slug" id="slug" placeholder='{%trans "Slug used for url"%} *' value="{{dataRaw.slug}}"  maxlength='100' minlength="1" pattern=".{1,100}" title='{%trans "Enter a valid slug"%}'>
</div>
{% endblock %}


{%block iContent%}
<textarea class="txt mB10" data-editor id='descInput' name="content" placeholder='{%trans "Write post "%}' maxlength='100000' rows="20">{{dataRaw.content}}</textarea>
{%endblock%}


{%block iPublishdate %}
<label for="publishdate"></label>
<div class="input">
  <input class="datepicker" type="text" name="publishdate" id="publishdate" placeholder='{%trans "Publish date"%}' value="{{dataRaw.publishdate | fitNumber}}" maxlength='15' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{% endblock %}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block iStatus%}

<div class="mT15">
 <label >{%trans "Status of post"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-publish" name="status" value="publish" {%if dataRaw.status == 'publish' or not dataRaw.status %} checked{%endif%}>
  <label for="r-publish">{%trans "Publish"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-draft" name="status" value="draft" {%if dataRaw.status == 'draft'%} checked{%endif%} >
  <label for="r-draft">{%trans "Draft"%}</label>
 </div>

 <div class="radio1 red mB25">
  <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRaw.status == 'deleted'  %} checked{%endif%}>
  <label for="r-deleted">{%trans "Deleted"%}</label>
 </div>

</div>
{%endblock%}


{%block iComment%}
<div class="switch1">
 <input type="checkbox" name="comment" id="comment" checked="">
 <label for="comment">{%trans "Comment"%}</label>
 <label for="comment">{%trans "Comment"%}</label>
</div>
{%endblock%}


{%block iLanguage%}
<label for="language">{%trans "Language"%}</label>
<select name="language" class="select">
  <option value=""><i>{%trans "Whithout language"%}</i></option>
  {%for key, value in site.langlist%}
    {%if key | length == 2%}
    <option value="{{key}}" {%if site.currentlang == key %} selected {%endif%}>{{value}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}



{%block iCat%}
{%set postCat = category({"post_id" : dataRaw.id, "id" : true})%}

{%for key, value in cat_list%}
<div class="check1">
  <input type="checkbox" name="cat_{{value.id}}" value="{{value.title}}" id="cat_{{value.id}}" {%if value.id in postCat %} checked {%endif%}>
  <label for="cat_{{value.id}}">{{value.title}}</label>
</div>
{%endfor%}
{%endblock%}



{%block iTag%}

{%set postTag = tags({"post_id" : utilityGET.id | shortURL("decode"), "title" : true, "json" : true}) %}


<div class="tagDetector" data-val='{{postTag}}'>
  <div class="input hide">
    <input type="text" class="input tagVals" name="tag" value="" id="tagValues" placeholder='{%trans "Tag"%}'>
  </div>

  <div class="input">
    <input type="text" class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
    <button class="addon tagAdd">add</button>
  </div>

  <div class="tagBox">
    {{tags({"post_id" : utilityGET.id | shortURL("decode"), "html" : true})}}
  </div>
</div>
{%endblock%}


{%block iThumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="fthumb" data-preview data-max="500">
 <label for="fthumb" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if dataRaw.meta.thumb%}
  <img src="{{dataRaw.meta.thumb}}" alt="{{dataRaw.title}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}
