{%extends display.dash%}



{%block sidenav%}
    <li><a href="{{url.base}}/cp"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
    <li>
        <a href="{{url.here}}/cms"><i class='sf-diamond'></i> <span>{% trans "CMS" %}</span></a>
        <ul>
            <li><a href="{{url.here}}/posts">{% trans "News" %}</a></li>
            <li><a href="{{url.here}}/terms?type=cat">{% trans "Categries" %}</a></li>
            <li><a href="{{url.here}}/terms?type=tag">{% trans "Tags" %}</a></li>
            <li><a href="{{url.here}}/posts?type=page">{% trans "Pages" %}</a></li>
        </ul>
    </li>
    <li><a href="{{url.base}}/cp/options"><i class='sf-tools'></i> <span>{% trans "Options" %}</span></a></li>
{%endblock%}



{%block copyright%}
    <span>{%trans "Powered by"%} <a href='https://ermile.com/dash' target="_blank" title='{%trans "Some right reserved"%}' tabindex='-1'>{%trans "Ermile"%}</a></span> | <abbr>{%trans "Version"%} {{dash.version | fitNumber}}</abbr>
{%endblock%}

