{%extends display.suMain%}


{%block content%}
<div class="tbox">
	{%trans "Logs List"%}
</div>

 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{utilityGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl mT15">
	<thead>
		<th class="c1"><a href="{{url.base}}/su/logs/{{order_url.id}}">{%trans "ID"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.logitem_id}}">{%trans "Log item id"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.type}}">{%trans "Type"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.caller}}">{%trans "Caller"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.title}}">{%trans "Title"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.priority}}">{%trans "Priority"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.user_id}}">{%trans "User_id"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.data}}">{%trans "Data"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.desc}}">{%trans "Desc"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.status}}">{%trans "Status"%}</a></th>
		<th class="c"><a href="{{url.base}}/su/logs/{{order_url.createdate}}">{%trans "createdate"%}</a></th>
		<!-- <div class="c0">{%trans "Meta"%}</div> -->
	</thead>
	<tbody>
		{%for key, value in logs_list%}
		<tr>
			<td><a href="{{url.base}}/su/logs/detail/{{value.id}}">{{value.id|fitNumber}}</a></td>
			<td>{{value.logitem_id|fitNumber}}</td>
			<td>{{value.type}}</td>
			<td><a href="{{url.base}}/su/logs/caller={{value.caller}}">{{value.caller}}</a></td>
			<td>{{value.title}}</td>
			<td>{{value.priority}}</td>
			<td>{{value.user_id|fitNumber}}</td>
			<td>{{value.data}}</td>
			<td>{{value.desc}}</td>
			<td>{%set myStatus = value.status |capitalize%}{%trans myStatus%}</td>
			{%if site.currentlang == 'fa'%}
				<td>{{value.createdate|jdate("Y-m-d H:i:s")}}</td>
			{%else%}
				<td>{{value.createdate}}</td>
			{%endif%}
			<!-- <td class="modal-body log-modal c" >
	            <code class="json ltr">
	            {% if value.meta is iterable %}
	                {{value.meta|json_encode(constant('JSON_UNESCAPED_UNICODE'))}}
	            {%else%}
	                {{value.meta}}
	            {%endif%}
	            </code>
	        </td> -->
		</tr>
		{%endfor%}

	</tbody>

</table>


{%include display.pagination%}


{%endblock%}
