{%extends display.admin%}



{%block pageContent%}

  {{block('detailCards')}}

{%if dataTable%}

{{block('htmlTable')}}

{%else%}
{{block('htmlStartAddNew')}}
{%endif%}

{%endblock%}







{%block htmlTable%}
 <div class="cbox fs12 pB5">
{%for key, value in dataTable%}
  <a class="msg f align-center" href="{{url.here}}/ticket/show?id={{value.id}}">
    <span class="cauto"><img src="{{value.avatar}}" class="avatar mRa10" src="{{value.displayname}}"></span>
    <span class="c2 s0 txtB pRa10">{{value.displayname}}</span>
    <span class="cauto s txtB pRa10">{{value.title}}</span>
    <span class="c s0">{{value.content | slice(0, 70)}}</span>

    <span class="cauto pRa10">{%if value.answertime%}<i class="sf-spin-alt fc-green"></i>{%else%}<i class="sf-asterisk spiny fc-red"></i>{%endif%}</span>
    <span class="cauto pRa10">{{ 6 | fitNumber}} <i class="sf-chat-alt-fill"></i></span>
    <span class="cauto we80 s0 txtRa os" title='{{value.datecreated | tdate("Y-m-d H:i:s")}}'>{{value.datecreated | sdate("year")}}</span>
  </a>
{%endfor%}
 </div>
{%endblock%}



{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.here}}/ticket/add">{%trans "Open new ticket!"%}</a></p>
{%endblock%}





{%block detailCards%}

<div class="f">
  <div class="c2 s12">
    <a class="dcard" href="{{url.here}}">
      <div class="statistic sm teal">
        <div class="label mB10"><i class="fs20 mRa5 sf-life-ring"></i> {%trans "Tickets"%}</div>
        <div class="value counter">{{dashboardDetail.tickets |fitNumber}}</div>
      </div>
    </a>
  </div>
  <div class="c2 s6">
    <a class="dcard" href="{{url.here}}/replies">
      <div class="statistic sm">
        <div class="label mB10"><i class="fs20 mRa5 sf-chat"></i> {%trans "Replies"%}</div>
        <div class="value">{{dashboardDetail.replies |fitNumber}}</div>
      </div>
    </a>
  </div>

  <div class="c2 s6">
    <a class="dcard" href="{{url.here}}/archived">
      <div class="statistic sm">
        <div class="label mB10"><i class="fs20 mRa5 sf-archive"></i> {%trans "Archived"%}</div>
        <div class="value">{{dashboardDetail.archived |fitNumber}}</div>
      </div>
    </a>
  </div>

  <div class="c3 s12">
    <a class="dcard" href="{{url.here}}">
      <div class="statistic sm">
        <div class="label mB10"><i class="fs20 mRa5 sf-clock-o"></i> {%trans "Avg. First Response"%}</div>
        <div class="value">{{dashboardDetail.avgfirst |fitNumber}} <small class="fs05">{%trans "Minute"%}</small></div>
      </div>
    </a>
  </div>

  <div class="c3 s12">
    <a class="dcard" href="{{url.here}}">
      <div class="statistic sm">
        <div class="label mB10"><i class="fs20 mRa5 sf-calendar-check-o"></i> {%trans "Avg. Time to Archive"%}</div>
        <div class="value">{{dashboardDetail.avgarchive |fitNumber}} <small class="fs05">{%trans "Hours"%}</small></div>
      </div>
    </a>
  </div>

</div>
{%endblock%}

