{%extends display.suMain%}

{%block pageContent%}
<div class="f mB25">
  <div class="c3 s12">
    {{block('iOverview')}}
  </div>
  <div class="c4 s12">
    {{block('iSample')}}
    {{block('iSample')}}

  </div>
  <div class="c s12">
    {{block('iSample')}}
    {{block('iSample')}}
  </div>
</div>

{%endblock%}


{%block iOverview%}
<div class="dcard x4 mB10 {%if tg.info.status%} success{%else%}warn{%endif%}">
  <h2>{{tg.info.bot}}</h2>
  <pre class="mT25 txtC">{{tg.info.token}}</pre>
</div>
{%endblock%}

{%block iSample%}
<div class="dcard x2 mB10">
  salam
</div>
{%endblock%}


