{%extends display.cpMain%}


{%block pageContent%}
<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">
      {%if perm('cpUsersEdit') %}
        <a class="btn danger outline block mB20" href="{{url.this}}/set?id={{requestGET.id}}">{%trans "Edit"%}</a>
      {%endif%}
      <table class="tbl">
        <thead>
          <tr class="primary">
            <th>{%trans "Field"%}</th>
            <th>{%trans "Value"%}</th>
          </tr>
        </thead>
        <tbody>
          {%for key, value in dataRow%}
{%if value%}
            {%if key in ['password', 'unit_id'] %}
            {%elseif key == 'mobile'%}
              <tr class="f-{{key}} positive">
                <th>{%trans key%}</th>
                <td class="ltr">
                  <a href="tel:{{value}}"><i class="sf-mobile"></i> {{value | fitNumber('mobile12')}}</a>
      {%if perm('cpSmsSend') %}
                  <br>
                  <a class="btn" href="{{url.here}}/sms/send?mobile={{value}}"><i class="sf-envelope"></i> {%trans "Send SMS"%}</a>
      {%endif%}
      {%if perm_su() %}
                  <a class="btn" href="{{url.base}}/enter?mobile={{value}}"><i class="sf-user"></i> {%trans "Enter"%}</a>
      {%endif%}
                </td>
              </tr>
            {%else%}
              <tr class="f-{{key}} {%if key == 'username' or key == 'mobile'%}positive{%endif%}">
                <th class="collapsing">{%trans key%}</th>
                <td>{%set myValue = value | capitalize | fitNumber(false)%}
                {%if key == 'birthday' or 'date' in key %}
                  <span class="block ltr" title="{{value}}"><i class="sf-calendar"></i> {{value | tdate(true)}}</span>
                {%elseif 'code' in key or 'id' in key or key == 'phone'%}
                  <span class="block ltr">{{myValue}}</span>
                {%elseif key == 'website'%}
                  <a class="block ltr" href="{{value}}">{{value}}</a>
                {%elseif key == 'facebook'%}
                  <a class="block ltr" href="https://facebook.com/{{value}}">{{value}}</a>
                {%elseif key == 'twitter'%}
                  <a class="block ltr" href="https://twitter.com/{{value}}">{{value}}</a>
                {%elseif key == 'instagram'%}
                  <a class="block ltr" href="https://instagram.com/{{value}}">{{value}}</a>
                {%elseif key == 'linkedin'%}
                  <a class="block ltr" href="https://linkedin.com/in/{{value}}">{{value}}</a>
                {%elseif key == 'email' or key == 'gmail'%}
                  <a class="block ltr" href="mailto:{{value}}">{{value}}</a>
                {%elseif key == 'avatar' %}
                  <img src="{{value}}" class="size-we80">
                {%else%}
                  {%trans myValue%}
                {%endif%}
                </td>
              </tr>
            {%endif%}
{%endif%}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endblock%}









