{%extends display.cpMain%}


{%block pageContent%}

<div class="f justify-center">
{%if requestGET.type%}
  <div class="c4 s12 pRa20">
    {{block ('iAddEditBox') }}
  </div>
{%endif%}
  <div class="c s12">
      {{block ('iDataBox') }}
  </div>
</div>
{%endblock%}


{%block iAddEditBox%}
<form method="post" class="cbox">
  {{block ('iTitle') }}
  {{block ('iSlug') }}
{%if requestGET.type == 'category'%}
  {{block ('iParent') }}
{%endif%}
  {{block ('iDescription') }}
  {{block ('iLanguage') }}

  {{block ('iStatus') }}
  {%if editMode%}{{block ('iedit')}}{%else%}{{block ('iadd')}}
  {%endif%}
</form>
{%endblock%}


{%block iDataBox%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}



{%endblock%}



{%block htmlSearchBox1%}
<div class="cbox fs12">
  <form method="get" data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="cbox">
  <table class="tbl">
    <thead>
      <tr class="primary fs09">
        <th>{%trans "Title"%}</th>
        <th>{%trans "Slug"%}</th>
{%if not requestGET.type%}
        <th>{%trans "Type"%}</th>
{%endif%}
        <th>{%trans "Status"%}</th>
      </tr>
    </thead>
    <tbody>
      {%for key, value in dataTable%}
        <tr>
          <td><a href="{{url.this}}?type={{value.type}}&edit={{value.id}}">{{value.title}}</a></td>
          <td class="fs08"><a href="{{url.kingdom}}/{{value.url}}" target="_blank"><span class="sf-share"></span> {{value.slug}}</a></td>
          {%if not requestGET.type%}
            <td><a href="{{url.this}}?type={{value.type}}">{%set vType = value.type%}{%trans vType%}</a></td>
          {%endif%}
          <td class="collapsing">{%set vStatus = value.status%}{%trans vStatus%}</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}

{%block iedit%}
<button class="btn primary block mT25">{%trans "Edit"%}</button>
{%endblock%}


{%block iTitle%}
<label for='ftitle'>{%trans "Title"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
 <input type="text" name="title" placeholder='{%trans "Title"%} *' value="{{datarow.title}}" autofocus maxlength='100' minlength="1" pattern=".{1,100}" title='{%trans "Enter a valid title"%}' id='ftitle' required>
</div>
{%endblock%}


{%block iSlug%}
<label for='fslug'>{%trans "Slug"%} <small>{%trans "Used for url"%}</small></label>
<div class="input ltr">
 <input type="text" name="slug" placeholder='{%trans "Slug"%}' value="{{datarow.slug}}" maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid slug"%}' id='fslug'>
</div>
{%endblock%}


{%block iParent%}

<label for="parent">{%trans "Parent Category"%}</label>
<select name="parent" class="input select">
  <option value="">{%trans "Please select one itme"%}</option>
  {%for key, item in dataTable%}
{%if item.id == requestGET.edit%}
{%else%}
    <option value="{{item.id}}" {%if datarow.parent == item.id %} selected {%endif%}>{{item.title}}</option>
{%endif%}
  {%endfor%}
</select>
{%endblock%}


{%block iDescription%}
<label for='fdesc'>{%trans "Description"%}</label>
<textarea class="txt" name="desc" rows="7" placeholder='{%trans "Description"%}' id='fdesc'>{{datarow.desc}}</textarea>
{%endblock%}


{%block iStatus%}
<div class="switch1 mT10">
    <input type="checkbox" name="status" id="switch12" {%if datarow.status == 'enable' or not datarow %} checked {%endif%}>
    <label for="switch12" data-on='{%trans "Active"%}' data-off='{%trans "Deactive"%}'></label>
    <label for="switch12">{%trans "Status"%}</label>
   </div>
{%endblock%}



{%block iexcerpt%}
<label for='excerpt'>{%trans "Excerpt"%}</label>
<textarea class="txt" name="excerpt" rows="7" placeholder='{%trans "Description"%}' id='excerpt'>{{datarow.excerpt}}</textarea>
{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2">{%trans "Hi!"%} {%trans "Try to start with add new records!"%}</p>
{%endblock%}


{%block iLanguage%}
<label for="language">{%trans "Language"%}</label>
<select name="language" class="select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  {%for key, value in lang.list%}
    {%if key | length == 2%}
    <option value="{{key}}" {%if datarow.language == key or (not datarow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}
