{%extends display.cmsMain%}



{%block pageContent%}
<div class="f">
  <div class="c6">

    <a class="dcard" href='{{url.this}}/contents'>
     <div class="statistic sm teal">
      <div class="label mB10"> {%trans "Contents"%}</div>
      <div class="value"><i class="mRa5 sf-list"></i></div>
     </div>
    </a>
  </div>

  <div class="c6">
    <a class="dcard" href='{{url.this}}/setting'>
     <div class="statistic sm teal">
      <div class="label mB10">{%trans "Setting"%}</div>
      <div class="value"><i class="mRa5 sf-cogs"></i></div>
     </div>
    </a>
  </div>
</div>

{%endblock%}

