{%extends display.suMain%}


{%block content%}
  <p class="msg danger">{%trans "You can use our tools"%}. {%trans "If you dont know about this page, leave it!"%}</p>

 <div class="dbox">

  <h2 class="title">{%trans "Special tools"%}</h2>
  <div class="btns">
   <a  href="{{url.here}}/backup">{%trans "Backup"%}</a>
   <a  href="{{url.here}}/tools/permission" target="_blank">{%trans "Permission"%}</a>
   <a target='_blank' href="{{url.here}}/tools/sitemap">{%trans "Sitemap"%}</a>
   <a target='_blank' href="{{url.here}}/info">{%trans "Server information"%}</a>
   <a target='_blank' href="{{url.here}}/tools/log">{%trans "Log"%}</a>
{%if url.tld == 'local'%}
   <a target='_blank' href="{{url.here}}/tools/translation">{%trans "Translation tools"%}</a>
{%endif%}
   <a target='_blank' href="{{url.here}}/update" class="warn">{%trans "Update"%}</a>

  </div>
 </div>
{%endblock%}

