{%extends display.cpMain%}


{%block content%}
<div class="tbox">
	<h2>{%trans "Add new user"%}</h2>
</div>

<div class="cbox w300">
<form method="post">

	<label for="mobile">{%trans "Mobile"%}</label>
	<div class="input">
		<input type="number" name="mobile" placeholder='{%trans "Mobile"%} *' required>
	</div>

	<label for="displayname">{%trans "Display name"%}</label>
	<div class="input">
		<input type="text" name="displayname" placeholder='{%trans "Display name"%}'>
	</div>

	<input type="submit" name="" value='{%trans "Add"%}' class="btn primary">
</form>
</div>
{%endblock%}
