{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Badges"%}</h2>
  <p>{%trans "Documentation and examples for badges, our small count and labeling component."%}</p>
</div>

<div class="cbox">
  <h3>{%trans "Examples"%}</h3>
  <p>{%trans "Badges scale to match the size of the immediate parent element by using relative font sizing and <code class='code1'>em</code> units."%}</p>

  <div class="example">
    <h1>{%trans Example heading <span class="badge primary">New</span> %}</h1>
    <h2>{%trans Example heading <span class="badge primary">New</span> %}</h2>
    <h3>{%trans Example heading <span class="badge primary">New</span> %}</h3>
    <h4>{%trans Example heading <span class="badge primary">New</span> %}</h4>
    <h5>{%trans Example heading <span class="badge primary">New</span> %}</h5>
    <h6>{%trans Example heading <span class="badge primary">New</span> %}</h6>
  </div>

  <p>Badges can be used as part of links or buttons to provide a counter.</p>
  <div class="example">
    <button class="mA5 btn xl">{%trans Notification <span class="badge">7</span> %}</button>
    <button class="mA5 btn primary">{%trans Notification <span class="badge">7</span> %}</button>
    <button class="mA5 btn sm">{%trans Notification <span class="badge">5</span> %}</button>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Contextual variations"%}</h3>
  <p>{%trans "Add any of the below mentioned modifier classes to change the appearance of a badge."%}</p>

  <div class="example">
    <span class="mA3 badge primary">{%trans Primary %}</span>
    <span class="mA3 badge secondary">{%trans Secondary %}</span>
    <span class="mA3 badge success">{%trans Success %}</span>
    <span class="mA3 badge danger">{%trans Danger %}</span>
    <span class="mA3 badge warning">{%trans Warning %}</span>
    <span class="mA3 badge info">{%trans Info %}</span>
    <span class="mA3 badge light">{%trans Light %}</span>
    <span class="mA3 badge dark">{%trans Dark %}</span>
  </div>

  <div class="example bg-black">
    <span class="mA3 badge primary">{%trans Primary %}</span>
    <span class="mA3 badge secondary">{%trans Secondary %}</span>
    <span class="mA3 badge success">{%trans Success %}</span>
    <span class="mA3 badge danger">{%trans Danger %}</span>
    <span class="mA3 badge warning">{%trans Warning %}</span>
    <span class="mA3 badge info">{%trans Info %}</span>
    <span class="mA3 badge light">{%trans Light %}</span>
    <span class="mA3 badge dark">{%trans Dark %}</span>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Rounded badge"%}</h3>
  <p>{%trans "Use the <code class='code1'>.rounded</code> modifier class to make badges more rounded (with a larger border-radius and additional horizontal padding)."%}</p>

  <div class="example">
    <span class="mA3 badge rounded primary">{%trans Primary %}</span>
    <span class="mA3 badge rounded secondary">{%trans Secondary %}</span>
    <span class="mA3 badge rounded success">{%trans Success %}</span>
    <span class="mA3 badge rounded danger">{%trans Danger %}</span>
    <span class="mA3 badge rounded warning">{%trans Warning %}</span>
    <span class="mA3 badge rounded info">{%trans Info %}</span>
    <span class="mA3 badge rounded light">{%trans Light %}</span>
    <span class="mA3 badge rounded dark">{%trans Dark %}</span>
  </div>

  <div class="example">
    <span class="mA3 badge circle primary">{%trans Primary %}</span>
    <span class="mA3 badge circle secondary">{%trans Secondary %}</span>
    <span class="mA3 badge circle success">{%trans Success %}</span>
    <span class="mA3 badge circle danger">{%trans Danger %}</span>
    <span class="mA3 badge circle warning">{%trans Warning %}</span>
    <span class="mA3 badge circle info">{%trans Info %}</span>
    <span class="mA3 badge circle light">{%trans Light %}</span>
    <span class="mA3 badge circle dark">{%trans Dark %}</span>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Links"%}</h3>
  <p>{%trans "Using the <code class='code1'>.badge</code> classes with the <code class='code1'>&lt;a&gt;</code> element quickly provide actionable badges with hover and focus states."%}</p>

  <div class="example">
    <a href="#" class="badge primary">{%trans Primary %}</a>
    <a href="#" class="badge secondary">{%trans Secondary %}</a>
    <a href="#" class="badge success">{%trans Success %}</a>
    <a href="#" class="badge danger">{%trans Danger %}</a>
    <a href="#" class="badge warning">{%trans Warning %}</a>
    <a href="#" class="badge info">{%trans Info %}</a>
    <a href="#" class="badge light">{%trans Light %}</a>
    <a href="#" class="badge dark">{%trans Dark %}</a>
  </div>
</div>


{%endblock%}
 %}
{%trans