{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Breadcrumb"%}</h2>
  <p>{%trans "Indicate the current page's location within a navigational hierarchy that automatically adds separators via CSS."%}</p>
</div>

<div class="cbox">
  <h3>{%trans "Examples"%}</h3>
  <p>{%trans "Separators are automatically added in CSS through ::before and content."%}</p>
  <div class="example">
    <nav class="breadcrumb">
      {{block('breadcrumbData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="breadcrumb2">
    {{block('breadcrumbData')}}
    </nav>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Sizes"%}</h3>
  <p>{%trans "A breadcrumb can vary in size"%}</p>

  <div class="example">
    <nav class="breadcrumb xs">
    {{block('breadcrumbData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="breadcrumb sm">
    {{block('breadcrumbData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="breadcrumb">
    {{block('breadcrumbData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="breadcrumb lg">
    {{block('breadcrumbData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="breadcrumb xl">
    {{block('breadcrumbData')}}
    </nav>
  </div>
</div>


{%endblock%}


{%block breadcrumbData%}
      <a href="{{url.base}}" tabindex="-1"><span class="fa fa-home"></span> {%trans Home %}</a>
      <a href="{{url.base}}/cp" tabindex="-1">{%trans Control Panel %}</a>
      <a href="{{url.base}}/cp/sample" tabindex="-1">{%trans Sample %}</a>
      <a>Breadcrumb</a>
{%endblock%}

