{%extends display.cpMain%}


{%block content%}

<h2>Button</h2>
<p class="fs12 mB25">Use Siftal's custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>

<div class="box bg-white pA20 mB15 fs12">
  <h4>Simple Examples</h4>
  <p class="fs12 mB25">Siftal includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>

  <div class="pA15">
    <button class="btn">Default Btn</button>
    <button class="btn primary">Primary</button>
    <button class="btn secondary">Secondary</button>
    <button class="btn success">Success</button>
    <button class="btn danger">Danger</button>
    <button class="btn warn">Warn</button>
    <button class="btn info">Info</button>
    <button class="btn light">Light</button>
    <button class="btn dark">Dark</button>
    <a class="btn link">a simple link</a>
  </div>


</div>


{%endblock%}

