{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Button"%}</h2>
  <p>{%trans "Use Siftal's custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more."%}</p>
</div>

<div class="cbox">
  <h3>{%trans "Simple Examples"%}</h3>
  <p>{%trans "Siftal includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control."%}</p>

  <div class="example">
    <button class="mA3 btn">{%trans "Default Btn"%}</button>
    <button class="mA3 btn primary">{%trans Primary %}</button>
    <button class="mA3 btn secondary">{%trans Secondary %}</button>
    <button class="mA3 btn light">{%trans Light %}</button>
    <button class="mA3 btn dark">{%trans Dark %}</button>
    <a class="mA3 btn link">{%trans a simple link %}</a>
  </div>
  <div class="example">
    <button class="mA3 btn success">{%trans Success %}</button>
    <button class="mA3 btn danger">{%trans Danger %}</button>
    <button class="mA3 btn warn">{%trans Warn %}</button>
    <button class="mA3 btn info">{%trans Info %}</button>
  </div>
</div>


<div class="cbox">
  <h3>Button tags</h3>
  <p>{%trans The <code class='code1'>.btn</code> classes are designed to be used with the <code class='code1'>&lt;button&gt;</code> element. However, you can also use these classes on <code class='code1'>&lt;a&gt;</code> or <code class='code1'>&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering). %}</p>

  <p>{%trans When using button classes on <code class='code1'>&lt;a&gt;</code> elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a <code class='code1'>role="button"</code> to appropriately convey their purpose to assistive technologies such as screen readers. %}</p>

  <div class="example">
    <a class="mA3 btn" href="#" role="button">{%trans Link %}</a>
    <a class="mA3 btn primary" href="#" role="button">{%trans Link %}</a>
    <button class="mA3 btn secondary" type="submit">{%trans Button %}</button>
    <input class="mA3 btn success" type="button" value="Input Button">
    <input class="mA3 btn danger" type="submit" value="Input Submit">
    <input class="mA3 btn warn" type="reset" value="Input Reset">
    <a class="mA3 btn link" href="#" role="button">{%trans Link %}!</a>
  </div>
</div>


<div class="cbox">
  <h3>{%trans Outline buttons %}</h3>
  <p>{%trans In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code class='code1'>.outline</code> ones to remove all background images and colors on any button. %}</p>

  <div class="example">
    <button class="mA3 btn outline">{%trans "Default Btn"%}</button>
    <button class="mA3 btn outline primary">{%trans Primary %}</button>
    <button class="mA3 btn outline secondary">{%trans Secondary %}</button>
    <button class="mA3 btn outline light">{%trans Light %}</button>
    <button class="mA3 btn outline dark">{%trans Dark %}</button>
    <a class="mA3 btn outline link">a simple link</a>
  </div>
  <div class="example">
    <button class="mA3 btn outline success">{%trans Success %}</button>
    <button class="mA3 btn outline danger">{%trans Danger %}</button>
    <button class="mA3 btn outline warn">{%trans Warn %}</button>
    <button class="mA3 btn outline info">{%trans Info %}</button>
  </div>
</div>


<div class="cbox">
  <h3>{%trans Inverted %}</h3>
  <p>{%trans A button can be formatted to appear on dark backgrounds %}</p>

  <div class="example bg-black">
    <button class="mA3 btn">{%trans "Default Btn"%}</button>
    <button class="mA3 btn primary">{%trans Primary %}</button>
    <button class="mA3 btn secondary">{%trans Secondary %}</button>
    <button class="mA3 btn light">{%trans Light %}</button>
    <button class="mA3 btn dark">{%trans Dark %}</button>
    <a class="mA3 btn link">{%trans a simple link %}</a>
  </div>
  <div class="example bg-black">
    <button class="mA3 btn success">{%trans Success %}</button>
    <button class="mA3 btn danger">{%trans Danger %}</button>
    <button class="mA3 btn warn">{%trans Warn %}</button>
    <button class="mA3 btn info">{%trans Info %}</button>
  </div>
  <div class="example bg-black">
    <button class="mA3 btn outline success">{%trans Success %}</button>
    <button class="mA3 btn outline danger">{%trans Danger %}</button>
    <button class="mA3 btn outline warn">{%trans Warn %}</button>
    <button class="mA3 btn outline info">{%trans Info %}</button>
  </div>
</div>


<div class="cbox">
  <h3>{%trans Sizes %}</h3>
  <p>{%trans Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes. %}</p>

  <div class="example">
    <button class="btn xs mA3 success">{%trans Extra small xs %}</button>
    <button class="btn sm mA3 danger">{%trans Small sm %}</button>
    <button class="mA3 btn primary">{%trans Normal %}</button>
    <button class="btn lg mA3 warn">{%trans Large lg %}</button>
    <button class="btn xl mA3 info">{%trans Extra Large xl %}</button>
  </div>
  <div class="example">
    <button class="mA3 btn primary block">{%trans Primary Block %}</button>
    <button class="mA3 btn secondary block">{%trans Secondary block %}</button>
  </div>
</div>


<div class="cbox">
  <h3>{%trans Active state %}</h3>
  <p>{%trans Buttons will appear pressed (with a darker background) when active. There’s no need to add a class to <code class='code1'>&lt;button&gt;</code>s as they use a pseudo-class. However, you can still force the same active appearance with .active should you need to replicate the state programmatically. %}</p>

  <div class="example">
    <button class="mA3 btn primary">{%trans Primary %}</button>
    <button class="mA3 btn success">{%trans Success %}</button>
    <button class="mA3 btn danger">{%trans Danger %}</button>
    <button class="mA3 btn warn">{%trans Warn %}</button>
    <button class="mA3 btn info">{%trans Info %}</button>
  </div>
  <div class="example">
    <button class="btn active mA3 primary">{%trans Primary %}</button>
    <button class="btn active mA3 success">{%trans Success %}</button>
    <button class="btn active mA3 danger">{%trans Danger %}</button>
    <button class="btn active mA3 warn">{%trans Warn %}</button>
    <button class="btn active mA3 info">{%trans Info %}</button>
  </div>
</div>


<div class="cbox">
  <h3>{%trans Disabled state %}</h3>
  <p>{%trans Make buttons look inactive by adding the disabled boolean attribute to any <code class='code1'>&lt;button&gt;</code> element. %}</p>

  <p>{%trans Disabled buttons using the <code class='code1'>&lt;a&gt;</code> element behave a bit different because <code class='code1'>&lt;a&gt;</code>s don’t support the <code class='code1'>disabled</code> attribute, so you must add the <code class='code1'>.disabled</code> class to make it visually appear disabled. %}
  </p>

  <div class="example">
    <button class="mA3 btn primary">{%trans Normal %}</button>
    <button class="mA3 btn primary" disabled>{%trans disabled %}</button>
    <button class="mA3 btn primary disabled">{%trans .disabled %}</button>
    <a href="#" class="mA3 btn secondary disabled">{%trans .disabled Link %}</a>
  </div>

  <div class="callout warn">
    <h4>{%trans Link functionality caveat %}</h4>

    <p>{%trans The <code class='code1'>.disabled</code> class uses <code class='code1'>pointer-events: none</code> to try to disable the link functionality of <code class='code1'>&lt;a&gt;</code>s, but that CSS property is not yet standardized. In addition, even in browsers that do support <code class='code1'>pointer-events: none</code>, keyboard navigation remains unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these links. So to be safe, add a <code class='code1'>tabindex="-1"</code> attribute on these links (to prevent them from receiving keyboard focus) and use custom JavaScript to disable their functionality. %}</p>
  </div>
</div>


{%endblock%}

