{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Input"%}</h2>
  <p>{%trans "Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs."%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Simple Examples with input element"%}</h3>

  <div class="example">
   <h4>{%trans "Normal"%}</h4>


   <div class="check1">
    <input type="checkbox" id="sChk1">
    <label for="sChk1">{%trans "Show users avatars"%}</label>
   </div>


  </div>
</div>




{%endblock%}

