{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Crop Images"%}</h2>
  <p>{%trans "A simple and full feature crop for avatar or something else!"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>
  <p>{%trans Check more on cropprer documentation! <a target='_blank' href="https://github.com/fengyuanchen/cropperjs">Github</a> | <a target='_blank' href="https://fengyuanchen.github.io/cropperjs/">Example</a> %}</p>

  <div class="example cropper">
    <p>{%trans  Only run cropper without anything! %}</p>
    <div>
    {{block('sampleImg')}}
    </div>
  </div>

  <div class="example cropper" data-aspectRatio='1.5' data-minCropBoxWidth='100' data-minCropBoxHeight='100'>
    <p>{%trans Only run cropper with aspect ratio and min width and height on cropbox %}</p>
    <div>
    {{block('sampleImg')}}
    </div>
  </div>

  <div class="example cropper" data-aspectRatio='1' data-minCropBoxWidth='100' data-minCropBoxHeight='100' data-preview='.prev1' data-img='img'>
    <p>{%trans Complete example with full function %}</p>
    <div class="f">
      <div class="c9 s12">
       <div>
       {{block('sampleImg')}}
       </div>

       <div class="f pTB10">
        <div class="cauto pA10">
         <div class="btn sf-arrows" data-func='setDragMode_move'></div>
         <div class="btn sf-crop" data-func='setDragMode_crop'></div>
        </div>
        <div class="cauto pA10">
         <div class="btn sf-search-plus" data-func='zoom_0.1'></div>
         <div class="btn sf-search-minus" data-func='zoom_-0.1'></div>
        </div>
        <div class="cauto pA10">
         <div class="btn sf-arrow-left" data-func='move_-10,0'></div>
         <div class="btn sf-arrow-right" data-func='move_10,0'></div>
         <div class="btn sf-arrow-up" data-func='move_0,-10'></div>
         <div class="btn sf-arrow-down" data-func='move_0,10'></div>
        </div>
       </div>
       <div class="f pTB10">
        <div class="cauto pA10">
         <div class="btn sf-undo" data-func='rotate_-90'></div>
         <div class="btn sf-repeat" data-func='rotate_90'></div>
        </div>
        <div class="cauto pA10">
         <div class="btn sf-arrow-vertical" data-func='scaleY_-1' data-toggle></div>
         <div class="btn sf-arrow-horizontal" data-func='scaleX_-1' data-toggle></div>
        </div>
        <div class="cauto pA10">
         <div class="input"><input type="file" accept=".jpg,.jpeg,.png,.gif,.bmp" name="file"></div>
        </div>
       </div>

       <div class="f pTB10">
        <div class="cauto pA10">
         <div class="btn sf-check" data-func='crop'></div>
         <div class="btn sf-times" data-func='clear'></div>
        </div>
        <div class="cauto pA10">
         <div class="btn sf-unlock" data-func='enable'></div>
         <div class="btn sf-lock" data-func='disable'></div>
        </div>
        <div class="cauto pA10">
         <div class="btn sf-refresh" data-func='reset'></div>
         <div class="btn sf-power-off" data-func='destroy'></div>
        </div>
       </div>

      </div>
      <div class="c3 s12">
       <div class="c3 pA5"><div class="prev1 cropperPreview wA200"><img></div></div>
       <div class="c3 pA5"><div class="prev1 cropperPreview wA200 rounded"><img></div></div>
       <div class="c3 pA5"><div class="prev1 cropperPreview wA100"><img></div></div>
       <div class="c3 pA5"><div class="prev1 cropperPreview wA50"><img></div></div>
      </div>
    </div>




  </div>

  <div class="example cropper" data-aspectRatio='1' data-minCropBoxWidth='100' data-minCropBoxHeight='100' data-preview='.prev2' data-img='.modal-body img'>
    <p>{%trans run cropper with aspect ratio and min width and height in modal %}</p>
    <div class="f">
      <div class="cauto">
       <div class="btn primary" data-modal='cropperModal'>{%trans "Crop image in modal"%}</div>
      </div>
      <div class="cauto os">
       <div class="prev2 cropperPreview wA100"><img></div>
      </div>
    </div>

    <div class='modal fs14' id='cropperModal'>
     <div class='modal-dialog'>
      <h3 class='modal-title'>{%trans "Crop your avatar"%}</h3>
      <div class='modal-body'>
       <p>{%trans Please choose and crop your image %}</p>
       {{block('sampleImg')}}
      </div>
      <div class="modal-footer">
       <div class="input"><input type="file" accept=".jpg,.jpeg,.png,.gif,.bmp" name="file"></div>
      </div>
     </div>
    </div>

  </div>



  <div class="example cropper">
    <p>{%trans complete example of crop in modal and show preview after that %}</p>
    <div class="f">
      <div class="input preview pTB10">
        <input type="file" accept="image/gif, image/jpeg, image/png" id="anyfile1" data-crop='cropperModal2'>
        <label for="anyfile1" title="Simple Title"></label>
      </div>
    </div>

    <div class='modal fs14' id='cropperModal2'>
     <div class='modal-dialog'>
      <h3 class='modal-title'>{%trans "Crop your avatar"%}</h3>
      <div class='modal-body'>
       {{block('sampleImg')}}
      </div>
      <div class="modal-footer f">
        <div class="c">
         <div class="btn sf-trash secondary" data-cancel>{%trans "Cancel"%}</div>
         <div class="btn sf-check primary" data-ok>{%trans "Crop"%}</div>
        </div>
        <div class="os">
          <div class="btn sf-undo" data-func='rotate_-90'></div>
          <div class="btn sf-repeat" data-func='rotate_90'></div>
        </div>
      </div>
     </div>
    </div>

  </div>





</div>
{%endblock%}


{%block sampleImg%}
    <img src="{{url.static}}siftal/images/bg/bg-ermile.jpg">
{%endblock%}




{%block foot_js2%}
<script type="text/javascript">



  // var myArg = _args.data;
  // if(!myArg)
  // {
  //   return false;
  // }
  // var ePreview    = myArg.preview;
  // var eTarget     = myArg.targetEl;

  // var ePreviewImg = ePreview.find('img');
  // var eTargetImg  = eTarget.find('img')[0];
  // var options     =
  // {
  //   aspectRatio: null,
  //   viewMode: 2,
  //   dragMode: 'move',
  //   toggleDragModeOnDblclick: false,
  // };

  // // run cropper
  // var cropper = new Cropper(eTargetImg, options);
  // // on press btn, send new Image to server
  // $("#modal-preview .btn.submit").off("click");
  // $("#modal-preview .btn.submit").on("click", function(_e)
  // {
  //   cropAsCanvas(cropper, ePreviewImg);
  // });

  // // on press btn, send new Image to server
  // $("#modal-preview .btn.cancel").off("click");
  // $("#modal-preview .btn.cancel").on("click", function(_e)
  // {
  //   removeFile(ePreview);
  // });

  // $('#modal-preview .finalPreview').off("dblclick");
  // $('#modal-preview .finalPreview').on("dblclick", function(_e)
  // {
  //   cropper.rotate(90);
  // });

/**
 * [cropAsCanvas description]
 * @param  {[type]} _cropper [description]
 * @param  {[type]} _preview [description]
 * @return {[type]}          [description]
 */
function cropAsCanvas(_cropper, _preview)
{
  if (!_cropper)
  {
    return;
  }
  // start syncing
  syncing(true);
  // create a canvas from selected area
  canvasImg = _cropper.getCroppedCanvas();
  // console.log(_cropper);
  // console.log(canvasImg);
  if(!canvasImg)
  {
    console.log('has error! not found!');
    return false;
  }
  // way 1
  // convert to data
  // newImgData = canvasImg.toDataURL('image/jpeg');
  // _preview.attr('src', newImgData);
  // console.log(canvasImg.toBlob());

  // way 2
  // use blob
  // canvasImg.toBlob(function(_blob)
  // {
  //  // create url for new blob
  //  url = URL.createObjectURL(_blob);
  //  // set url for src of img
  //  _preview.attr('src', url);
  // });
  canvasImg.toBlob(function (_blob)
  {
    var parentBox  = _preview.closest('.preview');
    var parentLi   = _preview.closest('.ultra').parent();
    var rowId      = parentLi.attr('data-row');
    var questionId = $('#question-add').attr('data-id');
    var filePath   = parentLi.find('.file input').val();

    // create url for new blob
    url = URL.createObjectURL(_blob);
    // if(_blob && _blob.type)
    // {

    // }

    // add progress element if not exist
    if(!$('.sync .sync-in b').length)
    {
      $('.sync .sync-in').append('<b></b>');
    }

    // create form data to send image to server
    var formData = new FormData();
    formData.append('croppedImage', _blob, filePath);
    formData.append('opt', rowId);
    formData.append('question', questionId);
    // Use `jQuery.ajax` method
    $.ajax('',
    {
      method: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function (_e)
      {
        // if uploaded successfully
        if(_e.status === 1)
        {
          var fileId  = null;
          var fileSrc = null;
          if(_e.msg && _e.msg.file_code)
          {
            fileId = _e.msg.file_code;
            fileSrc = _e.msg.file_url;

            // set url for src of img
            _preview.attr('src', url);
            parentBox.attr('data-file-url', url);

            parentBox.attr('data-file-id', fileId);
            parentBox.attr('data-file-url', fileSrc);
            // first load file, then replace with local addr
            // _preview.attr('src', fileSrc);
          }


        }
        else
        {
          // else remove it
          console.log('Error on upload, remove image!');
          removeFile(parentBox);
        }
        // end sync successfully
        syncing();
      },
      error: function ()
      {
        console.log('Error on upload! not know!');
      },

      xhr: function ()
      {
        var xhr = new window.XMLHttpRequest();
        var syncProgerss = $('.sync .sync-in b');
        xhr.upload.addEventListener("progress", function (evt)
        {
          if (evt.lengthComputable)
          {
            var percentComplete = evt.loaded / evt.total;
            console.log(percentComplete);
            // set progress
            setUploadProgress(percentComplete);

            // if (percentComplete === 1)
            // {
            //  width: 0 + '%'
            // }
          }
        }, false);
        xhr.addEventListener("progress", function (evt)
        {
          if (evt.lengthComputable)
          {
            var percentComplete = evt.loaded / evt.total;
            console.log('progress...');
            console.log(percentComplete);
            // set progress
            setUploadProgress(percentComplete);
            if (percentComplete >= 0.9)
            {
              // after a delay remove progress bar
              setUploadProgress(false);
            }
          }
        }, false);
        return xhr;
      },

    });
  });

  // close modal at the end
  $('#modal-preview').trigger('close');
}


/**
 * [setUploadProgress description]
 * @param {[type]} _precent [description]
 */
function setUploadProgress(_precent)
{
  var syncProgerss = $('.sync .sync-in b');
  // if pass false we reset progress
  if(_precent === false)
  {
    // set opacity to zero at end
    syncProgerss.css({"opacity":0});
    setTimeout(function()
    {
      // after a delay change width to 0
      syncProgerss.css({width: 0});
      // after another delay set opacity to 1
      setTimeout(function()
      {
        syncProgerss.css({"opacity":1});
      }, 1000);
    }, 1500);

    return;
  }
  else if(_precent > 0 && _precent <= 1)
  {
    // set precentage scale
    _precent = _precent * 100;
  }
  // set width
  syncProgerss.css({width: _precent + '%'});
}

</script>
{%endblock%}


