{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Datalist"%}</h2>
  <p>{%trans "Datalist element of HTML5 forms is pretty cool!"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Simple Examples"%}</h3>

  <div class="example">
   <h4>{%trans "Normal"%}</h4>

    <input type="text" list="states" placeholder='{%trans "Find Iran State" %}' class="input">

   <h4>{%trans "Full width"%}</h4>
    <div class="input">
      <input type="text" list="states" placeholder='{%trans "Find Iran State 2" %}'>
    </div>

    <datalist id="states">
      <option value='{%trans "Qom" %}'>
      <option value='{%trans "Tehran" %}'>
      <!-- All the other states -->
    </datalist>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Awesomplete"%}</h3>
  <div class="example">
   <h4>{%trans "No JS"%}</h4>
    <input class="awesomplete input" data-list="Ada, Java, JavaScript, Brainfuck, LOLCODE, Node.js, Ruby on Rails" />

   <h4>{%trans "With datalist"%}</h4>
    <div class="input">
      <input type="text" list="states" placeholder='{%trans "Find Iran State 2" %}' class="awesomplete">
    </div>
  </div>
</div>




{%endblock%}

