{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Date Picker"%}</h2>
  <p>{%trans "A simple date picker for fast use"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>

  <div class="example">
   <div class="pA10">
    <h4>{%trans Without any option %}</h4>
    <input class="input w300 datepicker">
   </div>

   <div class="pA10">
    <h4>{%trans With custom format %}</h4>
    <input class="input w100 datepicker" data-format='YY/MM/DD'>
    <input class="input w200 datepicker" data-format='YYYY/MM/DD'>
    <input class="input w300 datepicker" data-format='LLLL'>
    <h4>{%trans with default value</h4>
    <input class="input w300 datepicker" value='1990/07/06' data-format='YYYY/MM/DD'>
   </div>

   <div class="pA10">
    <h4>{%trans Connect to another field %}</h4>
     <input class="input w200 datepicker" data-format='YY/MM/DD' data-alt='#normalAlt' data-altFormat='LLLL'>
     <input class="input w300" id="normalAlt" disabled>
   </div>

   <div class="pA10">
    <h4>{%trans Inline Mode %}</h4>
    <input class="input w300 pB10" id='datepickerInline' disabled >
    <div class="datepicker" data-inline data-alt='#datepickerInline' data-altFormat='LLLL'></div>
   </div>

   <div class="pA10">
    <h4>{%trans English Number %}</h4>
    <input class="input w200 datepicker" data-format='YY/MM/DD' data-en>
   </div>

   <div class="pA10">
    <h4>{%trans Special View mode %}</h4>
    <input class="input w200 datepicker" data-format='YY/MM/DD' data-view='year'>
    <input class="input w200 datepicker" data-format='YY/MM/DD' data-view='month'>
    <input class="input w200 datepicker" data-format='YY/MM/DD' data-view='day'>
   </div>

   <div class="pA10 hide">
    <h4>{%trans Min is today %}</h4>
    <input class="input w300 datepicker" data-min='now'>
    <h4>{%trans Max is today %}</h4>
    <input class="input w300 datepicker" data-max='now'>
   </div>

   <div class="pA100"><hr/></div>

  </div>
</div>
{%endblock%}



{%block foot_js%}

<script type="text/javascript">

</script>

{%endblock%}



