{%extends display.cpMain%}

{%block content%}
  <div class="dbox cards msg">
    <h3 class="border-title">Page Grids</h3>
    {{ block('content_grid') }}
  </div>
{%endblock%}


{%block content_grid%}
    <div>
      <p>{%trans one row will divide to the number of parts, if you just set class='c' %}</p>
      <div class="f animated bg-grey center">
          <div class="c pTB20">.C</div>
          <div class="c pTB20">.C</div>
          <div class="c pTB20">.C</div>
          <div class="c pTB20">.C</div>
          <div class="c pTB20">.C</div>
      </div>
    </div>

    <div>
      <p>{%trans on large screens if you just set class='x', it will take the x class ratio %}</p>
      <div class="f animated bg-grey center">
          <div class="c12 pTB20 x6">.C12 .X6</div>
          <div class="c12 pTB20 x6">.C12 .X6</div>
      </div>
    </div>

    <div>
    <p>three equal parts</p>
        <div class="f animated bg-grey center">
            <div class="c4 pTB20">.C4</div>
            <div class="c4 pTB20">.C4</div>
            <div class="c4 pTB20">.C4</div>
        </div>
    </div>

    <div>
    <p>{%trans sum of parts is 12, every part will take ratio of it's class number %}</p>
        <div class="f animated bg-grey center">
            <div class="c3 pTB20">.C3</div>
            <div class="c1 pTB20">.C1</div>
            <div class="c4 pTB20">.C4</div>
            <div class="c2 pTB20">.C2</div>
            <div class="c2 pTB20">.C2</div>
        </div>
    </div>

    <div>
    <p>{%trans it will take just 6 part of 12 %}</p>
        <div class="f animated bg-grey center">
            <div class="c3 pTB20">.C3</div>
            <div class="c3 pTB20">.C3</div>
        </div>
    </div>

    <div>
    <p>{%trans float right boxes, by .os class %}</p>
        <div class="f animated bg-grey center">
            <div class="c3 pTB20 os">.C3 OS</div>
            <div class="c3 pTB20">.C3 .OS</div>
        </div>
    </div>

    <div>
    <p>{%trans Responsive on medium devices, like tablet's by .m classes %}</p>
        <div class="f animated bg-grey center">
            <div class="c3 pTB20 m6">.C3 .M6</div>
            <div class="c3 pTB20 m6">.C3 .M6</div>
        </div>
    </div>

    <div>
    <p>{%trans Responsive on mobile devices by .s classes %}</p>
        <div class="f animated bg-grey center">
            <div class="c3 pTB20 m6 s12">.C3 .M6 .S12</div>
            <div class="c3 pTB20 m6 s12">.C3 .M6 .S12</div>
            <div class="c3 pTB20 m9 s4">.C3 .M9 .S4</div>
            <div class="c3 pTB20 m3 s8">.C3 .M3 .S8</div>
        </div>
    </div>
{%endblock%}
