{%extends display.cpMain%}

{%block content%}
<!--   <aside id="sidebar" class="unselectable scr dark">
    <figure>
      <div class="avatar"><img src="http://code.ermile.dev/dash/images/logo.jpg" alt="Avatar of you"></div>
      <figcaption>Hello <b>Ali Modabber</b></figcaption>
    </figure>
    <h2><a href="http://tejarak.dev" data-direct="">Tejarak</a></h2>
    <div class="menu scr dark">
      <ul class="sidenav" data-xhr="sidenav">
        <li><a href="http://tejarak.dev/cp"><i class="icon-laptop"></i> <span>Dashboard</span></a></li>
        <li><a href="http://tejarak.dev/cp/tools"><i class="icon-gavel"></i> <span>Tools</span></a></li>
        <li><a href="http://tejarak.dev/cp/sample"><i class="icon-balance-scale"></i> <span>Sample Design</span></a></li>
        <li><a href="http://tejarak.dev/cp"><i class="icon-laptop"></i> <span>Dashboard</span></a></li>
        <li><a href="http://tejarak.dev/cp/tools"><i class="icon-gavel"></i> <span>Tools</span></a></li>
        <li><a href="http://tejarak.dev/cp/sample"><i class="icon-balance-scale"></i> <span>Sample Design</span></a></li>
        <li><a href="http://tejarak.dev/cp"><i class="icon-laptop"></i> <span>Dashboard</span></a></li>
        <li><a href="http://tejarak.dev/cp/tools"><i class="icon-gavel"></i> <span>Tools</span></a></li>
        <li><a href="http://tejarak.dev/cp/sample"><i class="icon-balance-scale"></i> <span>Sample Design</span></a></li>
        <li><a href="http://tejarak.dev/cp"><i class="icon-laptop"></i> <span>Dashboard</span></a></li>
      </ul>
    </div>

  </aside>
 -->
  <h1>Sample Page of admin</h1>

  <br/><br/><br/>
  <div class="dbox cards">
    <h3 class="border-title">{%trans Page Grids %}</h3>
    {{ block('content_grid') }}
  </div>

  <div class="dbox cards">
    <h3 class="border-title">{%trans Template Form %}</h3>
    <div class="f">
      <div class="c"></div>
      <div class="f c7 m8 s12 g1 form-box">
        {{ block('content_form') }}
      </div>
      <div class="c"></div>
    </div>
  </div>

  <div class="dbox cards">
    <h3 class="border-title">{%trans Messages %}</h3>
    {{ block('content_message') }}
  </div>

  <div class="dbox cards">
    <h3 class="border-title">{%trans List %}</h3>
    {{ block('content_list') }}
  </div>

  <div class="dbox cards">
    <h3 class="border-title">{%trans Headings %}</h3>
    {{ block('content_titles') }}
  </div>

{%endblock%}


{%block head_css%}
{{parent()}}
    <style>
        .dbox > .f >.c6{padding-bottom:4em}
        input[type="checkbox"]:disabled+label{cursor:not-allowed;}
        .form-box{border:1px solid #e6e6e6;border-radius:2px;}
        .cards h3.border-title{border-bottom:6px solid #cecece;display:inline-block;transition:.3s;}
        .cards:hover h3.border-title{border-color:rgba(192, 20, 65, 0.68);}
        .temp-grid{background-color:#f5f5f5;padding:3em 2em;}
        .temp-grid div{background-color:#e4e4e4;min-height:50px;border:solid 1px #ccc;transition:.3s;text-align:center;justify-content:center;flex-direction:column;display:flex;font-weight:600;}
        .temp-grid div:hover{background-color:#d6d6d6;}
        .temp-grid-box p{font-size:1.3em;font-weight:500;margin-bottom:1em;margin-top:3em;}

        #page-cover{content: "";position:fixed;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,0.5);z-index:-1;opacity:0;transition:.5s;display:none;}
        @media only screen and (max-width: 959px){
          #sidebar {display:inline-block;z-index:5;position:fixed;top:0;bottom:0;overflow-y:auto;z-index:4;left:-250px;}
          #sidebar figure{margin:2em 0;}
          #sidebar ul > li > a {padding:1.3em 2em;}
          #sidebar h2{display:none;}
        }
        @media only screen and (max-width: 767px){
          #sidebar figure{margin:1em 0;}
          #sidebar ul > li > a {padding:1.2em 2em;}
          #sidebar h2{display:none;}
        }
    </style>
{%endblock%}


{%block foot_js%}

<script type="text/javascript">
    console.log('sample page');

$("#sidebar").append("<span id='page-cover'></span>");

    $("#sidenavHandler").click(function(){
      $("#page-cover").css('display','block');
      setTimeout( function(){
          $('#page-cover').css("opacity", "1");
          },50);
      $("#sidebar").animate({ 'left':'0' }, 300);
    });

    $("#page-cover").click(function(){
      $("#page-cover").css('display','none');

      setTimeout( function(){
              $('#page-cover').css("opacity", "0");
          },50);
      $("#sidebar").animate({ 'left':'-250px' }, 300);
    });

</script>
{%endblock%}


{%block content_grid%}
    <div class="temp-grid-box">
      <p>{%trans one row will divide to the number of parts, if you just set class='c' %}</p>
      <div class="f temp-grid">
          <div class="c">.C</div>
          <div class="c">.C</div>
          <div class="c">.C</div>
          <div class="c">.C</div>
          <div class="c">.C</div>
      </div>
    </div>

    <div class="temp-grid-box">
      <p>{%trans on large screens if you just set class='x', it will take the x class ratio %}</p>
      <div class="f temp-grid">
          <div class="c12 x6">.C12 .X6</div>
          <div class="c12 x6">.C12 .X6</div>
      </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans three equal parts %}</p>
        <div class="f temp-grid">
            <div class="c4">.C4</div>
            <div class="c4">.C4</div>
            <div class="c4">.C4</div>
        </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans sum of parts is 12, every part will take ratio of it's class number %}</p>
        <div class="f temp-grid">
            <div class="c3">.C3</div>
            <div class="c1">.C1</div>
            <div class="c4">.C4</div>
            <div class="c2">.C2</div>
            <div class="c2">.C2</div>
        </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans it will take just 6 part of 12 %}</p>
        <div class="f temp-grid">
            <div class="c3">.C3</div>
            <div class="c3">.C3</div>
        </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans float right boxes, by .os class %}</p>
        <div class="f temp-grid">
            <div class="c3 os">.C3 OS</div>
            <div class="c3">.C3 .OS</div>
        </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans Responsive on medium devices, like tablet's by .m classes %}</p>
        <div class="f temp-grid">
            <div class="c3 m6">.C3 .M6</div>
            <div class="c3 m6">.C3 .M6</div>
        </div>
    </div>

    <div class="temp-grid-box">
    <p>{%trans Responsive on mobile devices by .s classes %}</p>
        <div class="f temp-grid">
            <div class="c3 m6 s12">.C3 .M6 .S12</div>
            <div class="c3 m6 s12">.C3 .M6 .S12</div>
            <div class="c3 m9 s4">.C3 .M9 .S4</div>
            <div class="c3 m3 s8">.C3 .M3 .S8</div>
        </div>
    </div>
{%endblock%}


{%block content_message%}
  <div class="msg">{%trans message (.msg) %}</div>
  <div class="msg warning">{%trans message warning (.msg .warning) %}</div>
  <div class="msg info">{%trans message info (.msg .info) %}</div>
  <div class="msg success">{%trans message success (.msg .success) %}</div>
  <div class="msg error">{%trans message error (.msg .error) %}</div>
  <div class="msg danger">{%trans message danger (.msg .danger) %}</div>
  <div class="msg compact">{%trans message compact (.msg .compact) %}</div>
  <div class="msg small">{%trans message small (.msg .small) %}</div>
  <div class="msg big">{%trans message big (.msg .big) %}</div>
  <div class="msg massive">{%trans message massive (.msg .massive) %}</div>
{%endblock%}



{%block content_form%}

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c s12 g1">
       <div class="c12">
        <input type="text" name="name" placeholder="Name *" value="" required="" autofocus="" maxlength="30" minlength="5" pattern=".{5,30}" title="Enter a valid name from 5 to 30 character">
       </div>

       <div class="c12">
        <input type="url" name="website" placeholder="Website" value="" maxlength="30" minlength="3">
       </div>
      </div>


      <div class="cauto s12 g1">
       <div>
        <input type="file" name="logo" id="logo" accept="image/gif, image/jpeg, image/png" data-preview="">
        <label for="logo" title="{%trans allowed extentions jpg, png (gif for bussiness plans). Max 500Kb %}">
        </label>
       </div>
      </div>
     </div>


     <div data-response="advance" data-response-effect="slide" style="">

      <div class="f g1">
        <div class="cauto s0 lbl"><span>Privacy mode</span></div>
        <div class="c">
         <div class="f radio1">
          <div class="c6">
           <input type="radio" id="r-private" name="privacy" value="private" checked="">
           <label for="r-private">{%trans Private %}</label>
          </div>
          <div class="c6">
           <input type="radio" id="r-public" name="privacy" value="public">
           <label for="r-public">{%trans Public %}</label>
          </div>
         </div>
        </div>
      </div>

      <div class="f g1">
        <div class="cauto s0 lbl"><label for="shortName">{%trans Short Name %}</label></div>
        <div class="c s12">
         <input type="text" name="shortName" id="shortName" placeholder="Like &quot;Ermile&quot;" value="" maxlength="30" minlength="5" pattern=".{5,30}" title="Enter a valid short name from 5 to 50 character">
        </div>
      </div>

      <div class="f g1">
        <div class="cauto s0 lbl"><label for="shortName">{%trans phoneNumber %}</label></div>
        <div class="c s12">
         <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Like &quot;1234&quot;" value="" maxlength="30" minlength="5" pattern=".{5,30}" title="Enter a valid short name from 5 to 50 character">
        </div>
      </div>

      <div class="f g1">
        <div class="cauto s0 lbl"><label for="Alias">{%trans Alias %}</label></div>
        <div class="c s12">
         <input type="text" name="Alias" id="Alias" placeholder="This is &quot;Disabled&quot;" value="" maxlength="30" minlength="5" pattern=".{5,30}" title="Enter a valid short name from 5 to 50 character" disabled="">
        </div>
      </div>

      <div class="f g1">
        <div class="cauto s0 lbl"><span>{%trans Privacy mode %}</span></div>
        <div class="c">
         <div class="f radio1 v">
          <div class="c6">
           <input type="radio" id="r-private2" name="privacy2" value="private" checked="">
           <label for="r-private2">{%trans Private %}</label>
          </div>
          <div class="c6">
           <input type="radio" id="r-public2" name="privacy2" value="public">
           <label for="r-public2">{%trans Public %}</label>
          </div>
         </div>
        </div>
      </div>

      <div class="f g1">
       <div class="c12">
        <textarea name="desc" placeholder="Description" maxlength="200"></textarea>
       </div>
      </div>


      <div class="g1">
       <h4>{%trans Default setting for new members of team %}{%trans  %}</h4>
       <div class="f check1">

        <div class="c4 s12">
         <input type="checkbox" name="showAvatar" id="showAvatar" checked="">
         <label for="showAvatar">{%trans Show users avatars %}</label>
        </div>

        <div class="c4 s6">
         <input type="checkbox" name="allowPlus" id="allowPlus" checked="">
         <label for="allowPlus">{%trans Allow plus %}</label>
        </div>
        <div class="c4 s6">
         <input type="checkbox" name="allowMinus" id="allowMinus" checked="">
         <label for="allowMinus">{%trans Allow minus %}</label>
        </div>

        <div class="c4 s6">
         <input type="checkbox" name="remoteUser" id="remoteUser" disabled="">
         <label for="remoteUser">{%trans Remote user %}</label>
        </div>
        <div class="c4 s6">
         <input type="checkbox" name="24h" id="24h">
         <label for="24h">{%trans 24 hour %}</label>
        </div>

       </div>
       <div class="check2">
        <div class="c4 s6">
         <input type="checkbox" name="allowPlus2" id="allowPlus2">
         <label for="allowPlus2">{%trans allowPlus %}</label>
        </div>
       </div>
        <div class="f g1">
          <div class="cauto s0 lbl"><span>{%trans Privacy mode %}</span></div>
          <div class="c">
           <div class="f radio2 v">
            <div class="c6">
             <input type="radio" id="r-private2-s" name="privacy2-s" value="private" checked="">
             <label for="r-private2-s">{%trans Private %}</label>
            </div>
            <div class="c6">
             <input type="radio" id="r-public2-s" name="privacy2-s" value="public">
             <label for="r-public2-s">{%trans Public %}</label>
            </div>
           </div>
          </div>
        </div>
      </div>

     </div>


     <div class="f g1 mt1">

      <div class="c12 s12 check1">
       <input type="checkbox" name="advance" id="advance">
       <label for="advance">{%trans Advance %}</label>
      </div>
      <div class="c3 os s12">
       <input type="submit" value="Add" class="bp">
      </div>
      <div class="c3 os s12">
       <input type="submit" value="Remove" class="bn">
      </div>
      <div class="c3 os s12">
       <input type="submit" value="Update" class="b1">
      </div>
      <div class="c3 os s12">
       <input type="submit" value="Draft" class="b2">
      </div>

     </div>
    </form>

{%endblock%}

{%block content_list%}
  <ul class="list">
    <li><a href="">{%trans First %}</a></li>
    <li><a href="">{%trans Second %}</a></li>
    <li><a href="">{%trans Third %}</a></li>
  </ul>
{%endblock%}

{%block content_titles%}
  <h1>{%trans This is heading 1 %}</h1>
  <h2>{%trans This is heading 2 %}</h2>
  <h3>{%trans This is heading 3 %}</h3>
  <h4>{%trans This is heading 4 %}</h4>
  <h5>{%trans This is heading 5 %}</h5>
  <h6>{%trans This is heading 6 %}</h6>
{%endblock%}

