{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Pagination"%}</h2>
  <p>{%trans "Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages."%}</p>
</div>

<div class="cbox">
  <h3>{%trans "Overview"%}</h3>
  <p>{%trans "We use a large block of connected links for our pagination, making links hard to miss and easily scalable—all while providing large hit areas. Pagination is built with list HTML elements so screen readers can announce the number of available links. Use a wrapping <nav> element to identify it as a navigation section to screen readers and other assistive technologies."%}</p>
  <div class="example">
    <nav class="pagination">
      {{block('paginationData')}}
    </nav>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Colored"%}</h3>
  <p>{%trans "A pagination can use in many colors"%}</p>

  <div class="example">
    <nav class="pagination primary">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination secondary">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination success">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination warn">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination info">
    {{block('paginationData')}}
    </nav>
  </div>
</div>


<div class="cbox">
  <h3>{%trans "Sizes"%}</h3>
  <p>{%trans "A pagination can vary in size"%}</p>

  <div class="example">
    <nav class="pagination xs">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination sm">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination lg">
    {{block('paginationData')}}
    </nav>
  </div>
  <div class="example">
    <nav class="pagination xl">
    {{block('paginationData')}}
    </nav>
  </div>
</div>

{%endblock%}


{%block paginationData%}
      <a href='#' class="prev disabled">{%trans "Previous" %}</a>
      <a>...</a>
      <a href='#'>6</a>
      <a class='active'>7</a>
      <a href='#'>8</a>
      <a>...</a>
      <a href='#' class="next">{%trans "Next" %}</a>
{%endblock%}

