{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Select"%}</h2>
  <p>{%trans "Easily change default select style to simple and clean Siftal design"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Simple Examples"%}</h3>

  <div class="example">
   <h4>{%trans "Normal"%}</h4>
   <select class="select">
    <option value="sarshomar">{%trans "Sarshomar"%}</option>
    <option value="tejarak">{%trans "Tejarak"%}</option>
    <option value="azvir">{%trans "Azvir"%}</option>
    <option value="talambar">{%trans "Talambar"%}</option>
    <option value="jibres">{%trans "Jibres"%}</option>
   </select>

   <h4>{%trans "Multiple"%}</h4>
   <select class="select" multiple>
    <option value="sarshomar">{%trans "Sarshomar"%}</option>
    <option value="tejarak">{%trans "Tejarak"%}</option>
    <option value="azvir">{%trans "Azvir"%}</option>
    <option value="talambar">{%trans "Talambar"%}</option>
    <option value="jibres">{%trans "Jibres"%}</option>
   </select>

  </div>
</div>


</div>




{%endblock%}

