{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans"Tables"%}</h2>
  <p>{%trans"Documentation and examples for tables with Siftal."%}</p>
</div>

<div class="cbox">
  <h3>{%trans"Examples"%}</h3>
  <p>{%trans"Just add the base class <code class='code1'>.tbl</code> to any <code class='code1'>&lt;table&gt;</code>, then extend with custom styles or our various included modifier classes."%}</p>

  <h4>{%trans"Simple table"%}</h4>
  <div class="example">
    <table class="tbl">
      {{block('tblSimple')}}
    </table>
  </div>

  <div class="example">
    {{block('tblAdvance')}}
  </div>


</div>


<div class="cbox">
  <h3>{%trans"Colored"%}</h3>
  <p>{%trans "A table's colors can be changed" %}</p>

  <div class="example">
    <table class="tbl primary">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl secondary">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl success">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl danger">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl warn">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl info">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl light">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl dark">
      {{block('tblSimple')}}
    </table>
  </div>
</div>


<div class="cbox">
  <h3>{%trans"Table head options"%}</h3>
  <p>{%trans "Similar to colored tables, use one of modifier classes to make rows appear colored." %}</p>

  <table class="tbl">
    <thead class="primary">
      {{block('thead')}}
    </thead>
    <tbody>
      {{block('trow1')}}
      {{block('trow2')}}
      {{block('trow3')}}
      {{block('trow1')}}
      {{block('trow2')}}
      {{block('trow3')}}
    </tbody>
    <tfoot class="dark">
      {{block('tfoot')}}
    </tfoot>
  </table>
</div>


<div class="cbox">
  <h3>{%trans"No Zebra!"%}</h3>
  <p>{%trans"Use <code class='code1'>.dead</code> to add zebra-striping to any table row within the <code class='code1'>&lt;tbody&gt;</code>."%}</p>
  <div class="example">
    <table class="tbl dead">
      <thead>
        {{block('thead')}}
      </thead>
      <tbody>
        {{block('trow1')}}
        {{block('trow2')}}
        {{block('trow3')}}
        {{block('trow1')}}
        {{block('trow2')}}
        {{block('trow3')}}
      </tbody>
      <tfoot>
        {{block('tfoot')}}
      </tfoot>
    </table>
  </div>


  <div class="example">
    <table class="tbl dark dead">
      <thead>
        {{block('thead')}}
      </thead>
      <tbody>
        {{block('trow1')}}
        {{block('trow2')}}
        {{block('trow3')}}
        {{block('trow1')}}
        {{block('trow2')}}
        {{block('trow3')}}
      </tbody>
      <tfoot>
        {{block('tfoot')}}
      </tfoot>
    </table>
  </div>
</div>


<div class="cbox">
  <h3>{%trans"Custom cell"%}</h3>
  <p>{%trans"A cell or row may let a user know whether a value is good or bad."%}</p>
  <p>{%trans"you can add <code class='code1'>.positive</code>, <code class='code1'>.negative</code>, <code class='code1'>.active</code>, <code class='code1'>.warning</code> and <code class='code1'>.disabled</code> to create custom design on cell or rows"%}</p>
  <div class="example">
    <table class="tbl dead">
      <thead>
        {{block('thead')}}
      </thead>
      <tbody>
        <tr class="positive"><th>1</th><td><i class="sf-check"></i>{%trans "Javad" %}</td><td>{%trans "Evazzadeh" %}</td><td>@evazzadeh</td></tr>
        <tr><th>2</th><td>{%trans "Reza" %}</td><td class="positive">{%trans "Mohiti" %}</td><td>@biqarar</td></tr>
        <tr><th>3</th><td class="negative">{%trans "Hasan" %}</td><td class="negative">{%trans "Salehi" %}</td><td>@baravak</td></tr>
        <tr class="negative"><th>1</th><td>{%trans "Javad" %}</td><td><i class="sf-pencil-square-o"></i>{%trans "Evazzadeh" %}</td><td>@evazzadeh</td></tr>
        <tr class="disabled"><th>2</th><td>{%trans "Reza" %}</td><td>{%trans "Mohiti" %}</td><td>@biqarar</td></tr>
        <tr class="active"><th>3</th><td>{%trans "Hasan" %}</td><td>{%trans "Salehi" %}</td><td>@baravak</td></tr>
        <tr class="warning"><th>3</th><td>{%trans "Hasan" %}</td><td>{%trans "Salehi" %}</td><td>@baravak</td></tr>
      </tbody>
      <tfoot>
        {{block('tfoot')}}
      </tfoot>
    </table>
  </div>
</div>


<div class="cbox">
  <h3>{%trans"Bordered table"%}</h3>
  <p>{%trans "Add <code class='code1'>.bordered</code> for borders on all sides of the table and cells." %}</p>
  <div class="example">
    <table class="tbl bordered">
      {{block('tblSimple')}}
    </table>
  </div>
  <div class="example">
    <table class="tbl bordered dark">
      {{block('tblSimple')}}
    </table>
  </div>
</div>


<div class="cbox">
  <h3>{%trans"Sizes"%}</h3>
  <h4>{%trans"Compact"%}</h4>
  <p>{%trans "A table may sometimes need to be more compact to make more rows visible at a time" %}</p>
  <div class="example">
    <table class="tbl compact">
      {{block('tblSimple')}}
    </table>
  </div>

  <h4>{%trans"Normal"%}</h4>
  <div class="example">
    <table class="tbl">
      {{block('tblSimple')}}
    </table>
  </div>
  <h4>{%trans"Padded"%}</h4>
  <p>{%trans "A table may sometimes need to be more padded for legibility" %}</p>
  <div class="example">
  <table class="tbl padded">
    {{block('tblSimple')}}
  </table>
  </div>
  <h4>{%trans"Small"%}</h4>
  <p>{%trans "A table may sometimes need to be small" %}</p>
  <div class="example">
  <table class="tbl sm">
    {{block('tblSimple')}}
  </table>
  </div>
  <h4>{%trans"Large"%}</h4>
  <p>{%trans "A table may sometimes need to be large" %}</p>
  <div class="example">
  <table class="tbl lg">
    {{block('tblSimple')}}
  </table>
  </div>
</div>


<div class="cbox">
  <h3>{%trans"Sortable heading"%}</h3>
  <p>{%trans "Add <code class='code1'>data-sort=desc|asc</code> to table header for add icon of sorting" %}</p>
  <div class="example">
    <table class="tbl bordered">
      <thead>
        <tr>
          <th>#</th>
          <th data-sort='desc'><a href='#'>{%trans "First Name" %}</a></th>
          <th data-sort><a href='#'>{%trans "Last Name" %}</a></th>
          <th data-sort='asc'><a href='#'>{%trans "Username" %}</a></th>
        </tr>
      </thead>
      <tbody>
        {{block('trow1')}}
        {{block('trow2')}}
        {{block('trow3')}}
      </tbody>
      <tfoot>
        {{block('tfoot')}}
      </tfoot>
    </table>
  </div>
</div>
{%endblock%}



{%block tblSimple%}
<thead>
  {{block('thead')}}
</thead>
<tbody>
  {{block('trow1')}}
  {{block('trow2')}}
  {{block('trow3')}}
</tbody>
<tfoot>
  {{block('tfoot')}}
</tfoot>
{%endblock%}


{%block thead%}
  <tr>
    <th>#</th>
    <th>{%trans "First Name" %}</th>
    <th>{%trans "Last Name" %}</th>
    <th>{%trans "Username" %}</th>
  </tr>
{%endblock%}

{%block tfoot%}
  <tr>
    <th>-</th>
    <th colspan="3">{%trans "Footer" %}</th>
  </tr>
{%endblock%}

{%block trow1%}
  <tr>
    <th>1</th>
    <td>{%trans "Javad" %}</td>
    <td>{%trans "Evazzadeh" %}</td>
    <td>{%trans "@evazzadeh" %}</td>
  </tr>
{%endblock%}


{%block trow2%}
  <tr>
    <th>2</th>
    <td>{%trans "Reza" %}</td>
    <td>{%trans "Mohiti" %}</td>
    <td>{%trans "@biqarar" %}</td>
  </tr>
{%endblock%}


{%block trow3%}
  <tr>
    <th>3</th>
    <td>{%trans "Hasan" %}</td>
    <td>{%trans "Salehi" %}</td>
    <td>{%trans "@baravak" %}</td>
  </tr>
{%endblock%}


{%block tblAdvance%}
  <table class="tbl bordered">
    <thead><tr><th colspan="3">{%trans "Git Repository" %}</th></tr></thead>
      <tbody>
        <tr>
          <td class="collapsing selectable"><a href="#"><i class="sf-folder-2"></i>{%trans "node_modules" %}</a></td>
          <td>{%trans "Initial commit" %}</td>
          <td class="collapsing">{%trans "10 hours ago" %}</td>
        </tr>
        <tr>
          <td class="selectable"><a href='#'><i class="sf-folder-2"></i>{%trans "test" %}</a></td>
          <td>{%trans "Initial commit" %}</td>
          <td>{%trans "10 hours ago" %}</td>
        </tr>
        <tr>
          <td class="selectable"><a href='#'><i class="sf-folder-2"></i>{%trans "build" %}</a></td>
          <td>{%trans "Initial commit" %}</td>
          <td>{%trans "10 hours ago" %}</td>
        </tr>
        <tr>
          <td class="selectable"><a href='#'><i class="sf-file-o"></i>{%trans "package.json" %}</a></td>
          <td>{%trans "Initial commit" %}</td>
          <td>{%trans "10 hours ago" %}</td>
        </tr>
        <tr>
          <td class="selectable"><a href='#'><i class="sf-file-o"></i>{%trans "Gruntfile.js" %}</a></td>
          <td>{%trans "Initial commit" %}</td>
          <td>{%trans "10 hours ago" %}</td>
        </tr>
      </tbody>
    </table>
{%endblock%}


