{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Textarea"%}</h2>
  <p>{%trans "A textarea can be used to allow for extended user input."%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>
  <p class="msg info2">{%trans "To specify an approximate text area size use the rows attribute."%}</p>


  <div class="example">

   <textarea class="txt mTB10"></textarea>

   <textarea class="txt mTB10" rows="6"></textarea>
   <textarea class="txt mTB10" rows="12"></textarea>


  </div>
</div>




{%endblock%}

