{%extends display.cpMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "vcard"%}</h2>
  <p>{%trans "Siftal's cards provide a flexible and extensible content container with multiple variants and options."%}</p>
</div>

<div class="cbox">
  <h3>{%trans "Examples"%}</h3>
  <p>{%trans "A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options."%}</p>
  <p>{%trans "Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other  components."%}</p>

  <div class="example f">
      <div class="vcard shadow mA10 s12">
{{block('vcardSample1')}}
      </div>
      <div class="vcard shadow mA10 s12">
        <img src="http://code.ermile.dev/siftal/images/avatar/2.png">
        <div class="content">
          <a class="header">{%trans "Ermile" %}</a>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          <div class="desc">{%trans "Ermile is our company in Qom!" %}</div>
        </div>
        <div class="footer"><i class="sf-users"></i> 123 Friends</div>
      </div>
      <div class="vcard mA10 s12">
        <img src="http://code.ermile.dev/siftal/images/avatar/3.png">
        <div class="content">
          <a class="header">{%trans "Ermile" %}</a>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          <div class="desc">{%trans "Ermile is our company in Qom!" %}</div>
        </div>
        <div class="footer"><i class="sf-users"></i>{%trans "123 Friends" %}</div>
      </div>
  </div>
</div>

<div class="cbox">
  <div class="example f">
      <div class="vcard shadow mA10 s12">
        <div class="content">
          <div class="floataR meta">{%trans "10h" %}</div>
          <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="avatar">{%trans "Ermile" %}
        </div>
        <img src="http://code.ermile.dev/siftal/images/tools/image.png">
        <div class="content f">
          <div class="c s12"><i class="sf-comment"></i>{%trans "5 Comments" %}</div>
          <div class="cauto os s12 meta"><i class="sf-heart-o"></i>{%trans "1k likes" %}</div>
        </div>
        <div class="footer f">
          <i class="sf-heart-o cauto"></i>
          <input type='text' class="transparent c" placeholder='Add Comment...'>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <div class="floataR meta">{%trans "10h" %}</div>
          <img src="http://code.ermile.dev/siftal/images/avatar/2.png" class="avatar">{%trans "Ermile" %}
        </div>
        <img src="http://code.ermile.dev/siftal/images/tools/image.png">
        <div class="content f">
          <div class="c s12"><i class="sf-comment"></i>{%trans "5 Comments" %}</div>
          <div class="cauto os s12 meta"><i class="sf-heart-o"></i>{%trans "1k likes" %}</div>
        </div>
        <div class="footer f">
          <i class="sf-heart-o cauto"></i>
          <input type='text' class="transparent c" placeholder='Add Comment...'>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <div class="floataR meta">{%trans "10h" %}</div>
          <img src="http://code.ermile.dev/siftal/images/avatar/3.png" class="avatar">{%trans "Ermile" %}
        </div>
        <img src="http://code.ermile.dev/siftal/images/tools/image.png">
        <div class="content f">
          <div class="c s12"><i class="sf-comment"></i>{%trans "5 Comments" %}</div>
          <div class="cauto os s12 meta"><i class="sf-heart-o"></i>{%trans "1k likes" %}</div>
        </div>
        <div class="footer f">
          <i class="sf-heart-o cauto"></i>
          <input type='text' class="transparent c" placeholder='Add Comment...'>
        </div>
      </div>
  </div>
</div>

<div class="cbox">
  <p>{%trans "Cards are designed to be flexible to your content. content blocks can include any custom elements related to your content." %}</p>
  <div class="example f">
      <div class="vcard shadow mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Ermile" %}</a>
            <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          </div>
          <div class="cauto">
            <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="mini">
          </div>
          <div class="desc c12">{%trans "Ermile requested permission to transfer <b>Tejarak</b> team to you" %}</div>
        </div>
        <div class="footer f">
          <div class="c6 s pA5"><button class="btn success outline block">{%trans "Approve"%}</button></div>
          <div class="c6 s pA5"><button class="btn danger outline block">{%trans "Decline"%}</button></div>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Ermile" %}</a>
            <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          </div>
          <div class="cauto">
            <img src="http://code.ermile.dev/siftal/images/avatar/2.png" class="mini">
          </div>
          <div class="desc c12">{%trans "Ermile requested permission to transfer <b>Tejarak</b> team to you" %}</div>
        </div>
        <div class="footer f">
          <div class="c6 s pA5"><button class="btn success outline block">{%trans "Approve"%}</button></div>
          <div class="c6 s pA5"><button class="btn danger outline block">{%trans "Decline"%}</button></div>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Ermile" %}</a>
            <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          </div>
          <div class="cauto">
            <img src="http://code.ermile.dev/siftal/images/avatar/3.png" class="mini">
          </div>
          <div class="desc c12">{%trans "Ermile requested permission to transfer <b>Tejarak</b> team to you" %}</div>
        </div>
        <div class="footer f">
          <div class="c6 s pA5"><button class="btn primary outline block">{%trans "Accept"%}</button></div>
          <div class="c6 s pA5"><button class="btn secondary outline block">{%trans "Decline"%}</button></div>
        </div>
      </div>
  </div>
</div>

<div class="cbox">
  <p>{%trans "A card can contain a header." %}</p>
  <div class="example f">
      <div class="vcard shadow mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Javad Evazzadeh" %}</a>
            <div class="meta">{%trans "Friend" %}</div>
          </div>
          <div class="cauto">
            <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="mini">
          </div>
          <div class="desc c12">{%trans "Javad is a CEO and founder of Ermile and start developing Siftal from 2017 and hope to write documentaion for it!" %}</div>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Reza Mohiti" %}</a>
            <div class="meta">{%trans "Friend" %}</div>
          </div>
          <div class="desc c12">{%trans "Reza is a back-end developer of Ermile." %}</div>
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content f">
          <div class="c">
            <a class="header">{%trans "Hasan Salehi" %}</a>
            <div class="meta">{%trans "Friend" %}</div>
          </div>
          <div class="cauto">
            <img src="http://code.ermile.dev/siftal/images/avatar/3.png" class="mini">
          </div>
          <div class="desc c12">{%trans "Hasan is a full-stack developer of Ermile and always trying to be in classrooms!" %}</div>
        </div>
      </div>
  </div>
</div>

<div class="cbox">
  <p>{%trans "A card can contain content metadata." %}</p>
  <div class="example f">
      <div class="vcard shadow mA10 s12">
        <div class="content">
          <a class="header">{%trans "Javad Evazzadeh" %}</a>
          <div class="meta"><span>{%trans "3 days ago" %}</span> <a href="#">{%trans "Ermile"%} </a></div>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <a class="header">{%trans "Reza Motiti" %}</a>
          <div class="meta"><span>{%trans "6 days ago" %}</span> <a href="#">{%trans "Ermile" %}</a> <a href="#">{%trans "Haram" %}</a></div>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <a class="header">{%trans "Hasan Salehi" %}</a>
          <div class="meta"><span>{%trans "10 days ago" %}</span> <a href="#">{%trans "School" %}</a> </div>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
      </div>
  </div>
</div>

<div class="cbox">
  <h3>{%trans "Link" %}</h3>
  <p>{%trans "A card can be formatted so that the entire contents link to another page. Also a card can contain contain links as images, headers, or inside content." %}</p>
  <div class="example f">
      <div class="vcard shadow mA10 s12">
{{block('vcardSample1')}}
      </div>
      <div class="vcard shadow mA10 s12">
        <a href='#1'><img src="http://code.ermile.dev/siftal/images/avatar/1.png"></a>
        <div class="content">
          <a href="#2" class="header">{%trans "Ermile" %}</a>
          <a href="#3" class="meta"><span>{%trans "Joined in 2018" %}</span></a>
          <a href="#4" class="desc">{%trans "Ermile is our company in Qom!" %}</a>
        </div>
        <a href='#5' class="footer"><i class="sf-users"></i>{%trans "123 Friends" %}</a>
      </div>
      <a class="vcard shadow mA10 s12 c" href='#allISLink'>
        <img src="http://code.ermile.dev/siftal/images/avatar/1.png">
        <div class="content">
          <div class="header">{%trans "Ermile" %}</div>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          <div class="desc">{%trans "Ermile is our company in Qom!" %}</div>
        </div>
        <div class="footer"><i class="sf-users"></i>{%trans "123 Friends" %}</div>
      </a>
  </div>
</div>

<div class="cbox">
  <h3>{%trans "Center Card" %}</h3>
  <p>{%trans "A card can center itself inside its container." %}</p>
  <div class="example">
      <div class="vcard shadow mA10 mLRa w300">
{{block('vcardSample1')}}
      </div>
  </div>
</div>

<div class="cbox">
  <h3>{%trans "Colored" %}</h3>
  <p>{%trans "A card can specify a color." %}</p>
  <div class="example f">
      <div class="vcard green mA10 s12">{{block('vcardSample1')}}</div>
      <div class="vcard red mA10 s12">{{block('vcardSample1')}}</div>
      <div class="vcard blue mA10 s12">{{block('vcardSample1')}}</div>
      <div class="vcard yellow mA10 s12">{{block('vcardSample1')}}</div>
      <div class="vcard black mA10 s12">{{block('vcardSample1')}}</div>
  </div>
</div>



<div class="cbox">
  <p>{%trans "A card can contain content metadata." %}</p>
  <div class="example f">
      <div class="vcard mA10 s12">
        <div class="content">
          <a class="header">{%trans "Javad Evazzadeh" %}</a>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
        <div class="footer"><button class="btn block primary">{%trans "Check more!" %}</button></div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <a class="header">{%trans "Reza Motiti" %}</a>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
        <div class="footer pAn"><button class="btn block primary">{%trans "Check more!" %}</button></div>
      </div>
      <div class="vcard mA10 s12">
        <div class="content">
          <a class="header">{%trans "Hasan Salehi" %}</a>
          <img src="http://code.ermile.dev/siftal/images/tools/paragraph.png" class="mT15 op50">
        </div>
        <div class="footer pAn"><button class="btn block success">{%trans "Check more!" %}</button></div>
      </div>
  </div>
</div>

<div class="cbox">
  <h3>{%trans "Sizes" %}</h3>
  <p>{%trans "A card can be used in many sizes" %}</p>
  <h4>{%trans "Mini" %}</h4>

  <div class="example mini">
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarakIcon')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
  </div>

  <h4>{%trans "Tiny" %}</h4>
  <div class="example tiny">
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarakIcon')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
  </div>

  <h4>{%trans "Small" %}</h4>
    <div class="example small">
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarakIcon')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow">{{block('vcardSampleTejarak')}}</a>
  </div>

  <h4>{%trans "Normal" %}</h4>
  <div class="example normal f">{{block('vcardSample8')}}</div>

  <h4>{%trans "Large" %}</h4>
  <div class="example large f">{{block('vcardSample8')}}</div>

  <h4>{%trans "Big" %}</h4>
  <div class="example big f">{{block('vcardSample4')}}</div>

  <h4>{%trans "Huge" %}</h4>
  <div class="example huge f">{{block('vcardSample4')}}</div>

  <h4>{%trans "Massive" %}</h4>
  <div class="example massive f">{{block('vcardSample4')}}</div>
</div>

<div class="cbox">
  <h3>{%trans "Live Card" %}</h3>
  <p>{%trans "A card can be used in live with on and off status" %}</p>

  <div class="example mini live">
      <a href='#' class="vcard shadow" data-live='on'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='off'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='off'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='deactive'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='hidden'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='hidden'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='on'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='on'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='deactive'>{{block('vcardSampleTejarak')}}</a>
      <a href='#' class="vcard shadow" data-live='off'>{{block('vcardSampleTejarak')}}</a>
  </div>
</div>

{%endblock%}



{%block vcardSample1%}
        <img src="http://code.ermile.dev/siftal/images/avatar/1.png">
        <div class="content">
          <a class="header">{%trans "Ermile" %}</a>
          <div class="meta"><span>{%trans "Joined in 2018" %}</span></div>
          <div class="desc">{%trans "Ermile is our company in Qom!" %}</div>
        </div>
        <div class="footer"><i class="sf-users"></i>{%trans "123 Friends" %}</div>
{%endblock%}


{%block vcardSampleTejarak%}
          <img src="http://code.ermile.dev/siftal/images/avatar/1.png">
          <div class="content">
            <div class="header">{%trans "Javad Evazzdeh" %}</div>
            <div class="meta"><span>{%trans "CEO and Founder" %}</span></div>
          </div>
{%endblock%}

{%block vcardSampleTejarakIcon%}
          <img src="http://code.ermile.dev/siftal/images/avatar/2.png">
          <div class="content">
            <button class="btn block success">{%trans "Add new" %}</button>
          </div>
{%endblock%}


{%block vcardSample8%}
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarakIcon')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
{%endblock%}


{%block vcardSample4%}
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarakIcon')}}</div>
      <div class="vcard mA10">{{block('vcardSampleTejarak')}}</div>
{%endblock%}



