{%extends display.suMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Clock"%}</h2>
  <p>{%trans "A simple real time clock using online and offline method for update."%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>

  <div class="example">

    <div class="clock">
       <div class="time">-</div>
       <div class="date">{% if lang.current == "fa" %} {{"now"|jdate("l j F Y") |fitNumber}} {% else %} {{"now"|date("j F Y")}} {% endif %}</div>
    </div>

  </div>
</div>

{%endblock%}

