{%extends display.suMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Notif"%}</h2>
  <p>{%trans "Show simple and powerful notificaion via js and html attr"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>

  <div class="example">
  	<h4>{%trans "Complete Example with autorun"%}</h4>
  	<button class="btn primary" data-notif='{%trans "Hello World!"%}' data-notif-title='{%trans "Hi"%}' data-notif-type='warning' data-notif-icon='person' data-notif-autorun>{%trans "On page route run this"%}</button>
  </div>

  <div class="example">
  	<h4>{%trans "Simple"%}</h4>
  	<button class="btn" data-notif='{%trans "Hi"%}'>{%trans "Simple Notification"%}</button>
  	<button class="btn" data-notif='{%trans "How are you?"%}' data-notif-title='{%trans "Ok"%}'>{%trans "With title"%}</button>
  	<button class="btn secondary" data-notif='{%trans "Sticky Notif"%}' data-notif-timeout='false'>{%trans "Sticky Notif"%}</button>
  </div>

  <div class="example">
  	<h4>{%trans "Colored"%}</h4>
  	<button class="btn success" data-notif='{%trans "How are you?"%}' data-notif-type='success'>{%trans "Success"%}</button>
  	<button class="btn warn" data-notif='{%trans "How are you?"%}' data-notif-type='warning'>{%trans "Warning"%}</button>
  	<button class="btn danger" data-notif='{%trans "How are you?"%}' data-notif-type='error'>{%trans "Error"%}</button>
  	<button class="btn info" data-notif='{%trans "How are you?"%}' data-notif-type='info'>{%trans "Info"%}</button>
  </div>

  <div class="example">
  	<h4>{%trans "Notif in special target"%}</h4>
  	<button class="btn" data-notif='{%trans "How are you?"%}' data-notif-target='.notifBox'>{%trans "Simple"%}</button>
  	<button class="btn" data-notif='{%trans "How are you?"%}' data-notif-type='error' data-notif-timeout='false' data-notif-target='.notifBox'>{%trans "Sticky"%}</button>
  	<div class="notifBox">
  	</div>
  </div>

  <div class="example txtc">
  	<h4>{%trans "Notif in all position"%}</h4>
  	<div class="f pA10">
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='topLeft'>{%trans "Top"%} {%trans "Left"%}</button>
  		</div>
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='topCenter'>{%trans "Top"%} {%trans "Center"%}</button>
  		</div>
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='topRight'>{%trans "Top"%} {%trans "Right"%}</button>
  		</div>
  	</div>
  	<div class="f pA10">
  		<div class="c4 s12">-</div>
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='center'>{%trans "Center"%}</button>
  		</div>
  		<div class="c4 s12">-</div>
  	</div>
  	<div class="f pA10">
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='bottomLeft'>{%trans "Bottom"%} {%trans "Left"%}</button>
  		</div>
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='bottomCenter'>{%trans "Bottom"%} {%trans "Center"%}</button>
  		</div>
  		<div class="c4 s12">
  			<button class="btn" data-notif='{%trans "Hi"%}' data-notif-pos='bottomRight'>{%trans "Bottom"%} {%trans "Right"%}</button>
  		</div>
  	</div>
  </div>

</div>

{%endblock%}

