{%extends display.suMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Share"%}</h2>
  <p>{%trans "A complete box of share links to social media"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>

  <div class="example">
    <nav class="share1">
      {{block("socialLinks")}}
    </nav>
  </div>


  <div class="example bg-black">
    <nav class="share1">
      {{block("socialLinks")}}
    </nav>
  </div>
</div>




{%endblock%}

{%block socialLinks%}
<a data-direct href="https://www.facebook.com/{{social.facebook}}" class="facebook">jibres facebook</a>
<a data-direct href="https://twitter.com/{{social.twitter}}" class="twitter">jibres twitter</a>
<a data-direct href="https://plus.google.com/{{social.googleplus}}" class="googleplus">jibres google+</a>
<a data-direct href="https://t.me/{{social.telegram}}" class="telegram">jibres telegram</a>
<a data-direct href="https://instagram.com/{{social.instagram}}" class="instagram">jibres instagram</a>
<a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">jibres linkedin</a>
<a data-direct href="{{url.base}}/rss" class="rss">jibres rss</a>
{%endblock%}