{%extends display.suMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Sortable"%}</h2>
  <p>{%trans "Allow to easily add sortable to projects"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>
  <div class="example">

    <ul class="sortable fs14">
      <li><span class="handle">☰</span>Select text freely</li>
      <li><span class="handle">☰</span>Drag my handle</li>
      <li><span class="handle">☰</span>Best of both worlds</li>
    </ul>

  </div>
</div>




{%endblock%}

