{%extends display.suMain%}


{%block content%}

<div class="tbox">
  <h2>{%trans "Step"%}</h2>
  <p>{%trans "A step shows the completion status of an activity in a series of activities"%}</p>
</div>


<div class="cbox">
  <h3>{%trans "Example"%}</h3>

  <div class="example">

    <div class="steps">
      <div class="step">
        <i class="sf-info"></i>
        <div class="content">
          <div class="title">Shipping</div>
          <div class="description">Choose your shipping options</div>
        </div>
      </div>
      <div class="active step">
        <i class="sf-info"></i>
        <div class="content">
          <div class="title">Billing</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="sf-info"></i>
        <div class="content">
          <div class="title">Confirm Order</div>
        </div>
      </div>
    </div>

  </div>


  <div class="example">
    <div class="ordered steps">
      <div class="completed step">
        <div class="content">
          <div class="title">Shipping</div>
          <div class="description">Choose your shipping options</div>
        </div>
      </div>
      <div class="completed step">
        <div class="content">
          <div class="title">Billing</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
      <div class="active step">
        <div class="content">
          <div class="title">Confirm Order</div>
          <div class="description">Verify order details</div>
        </div>
      </div>
    </div>
  </div>


  <div class="example">
    <div class="w300">
      <div class="vertical steps">
        <div class="completed step">
          <i class="sf-info"></i>
          <div class="content">
            <div class="title">Shipping</div>
            <div class="description">Choose your shipping options</div>
          </div>
        </div>
        <div class="completed step">
          <i class="sf-card"></i>
          <div class="content">
            <div class="title">Billing</div>
            <div class="description">Enter billing information</div>
          </div>
        </div>
        <div class="active step">
          <i class="sf-info"></i>
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

{%endblock%}

