{%extends display.suMain%}


{%block content%}

 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{requestGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl">
	<thead>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.id}}">{%trans "id"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.invoice_id}}">{%trans "invoice_id"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.title}}">{%trans "title"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.price}}">{%trans "price"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.count}}">{%trans "count"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.total}}">{%trans "total"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.discount}}">{%trans "discount"%}</a></th>
		<th><a href="{{url.kingdom}}/su/invoicedetails/{{orderUrl.desc}}">{%trans "desc"%}</a></th>

	</thead>
	<tbody>
		{%for key, value in invoicedetailsList%}
		<tr>
			<td>{{value.id|fitNumber}}</td>
			<td><a href="{{url.kingdom}}/su/invoices/id={{value.invoice_id}}">{{value.invoice_id|fitNumber}}</a></td>
			<td>{{value.title}}</td>
			<td>{{value.price|number_format|fitNumber}}</td>
			<td>{{value.count|number_format|fitNumber}}</td>
			<td>{{value.total|number_format|fitNumber}}</td>
			<td>{{value.discount|number_format|fitNumber}}</td>
			<td>{{value.desc}}</td>
		</tr>
		{%endfor%}

	</tbody>
</table>

{%include display.pagination%}

{%endblock%}
