{%extends display.suMain%}


{%block content%}
<div class="tbox">
  <h2>{%trans "Backup database"%}</h2>
</div>

<div class="cbox">
  <form method="post">
  	<div class="f">
  		<input type="hidden" name="backup" value="now">
  		<div class="c">{%trans "You can create backup now"%}</div>
  		<div class="c">
  			<button class="btn success block">{%trans "Backup now"%}</button>
  		</div>
  	</div>
  </form>
  <hr>
<h2>{%trans "Backup schedule"%}</h2>
  <form method="post">
  	<input type="hidden" name="backup" value="schedule">
  	
  	<div class="switch1">
     <input type="checkbox" name="auto_backup" id="auto_backup" {%if config_backup.auto_backup%} checked {%endif%}>
     <label for="auto_backup"></label>
     <label for="auto_backup">{%trans "Auto backup"%}</label>
    </div>

    <div data-response="auto_backup" {%if config_backup.auto_backup%} {%else%}  data-response-hide {%endif%} class="w300">

    	<label for="every">{%trans "Start backup every"%}</label>
    	<select name="every" id="every" class="select">
    		<option value="year" {%if config_backup.every == 'year' %} selected {%endif%} >{%trans "Year"%}</option>
    		<option value="month" {%if config_backup.every == 'month' %} selected {%endif%} >{%trans "Month"%}</option>
    		<option value="week" {%if config_backup.every == 'week' %} selected {%endif%} >{%trans "Week"%}</option>
    		<option value="day" {%if config_backup.every == 'day' %} selected {%endif%} >{%trans "Day"%}</option>
    		<option value="hour" {%if config_backup.every == 'hour' %} selected {%endif%} >{%trans "hour"%}</option>
    	</select>
  		
    	<br>
    	<label for="time">{%trans "Start backup at time"%}</label>
    	<select name="time" id="time" class="select">
    		<option value="00" {%if config_backup.time == '00' %} selected {%endif%} >{{"00" | fitNumber}}</option>
    		<option value="01" {%if config_backup.time == '01' %} selected {%endif%} >{{"01" | fitNumber}}</option>
    		<option value="02" {%if config_backup.time == '02' %} selected {%endif%} >{{"02" | fitNumber}}</option>
    		<option value="03" {%if config_backup.time == '03' %} selected {%endif%} >{{"03" | fitNumber}}</option>
    		<option value="04" {%if config_backup.time == '04' %} selected {%endif%} >{{"04" | fitNumber}}</option>
    		<option value="05" {%if config_backup.time == '05' %} selected {%endif%} >{{"05" | fitNumber}}</option>
    		<option value="06" {%if config_backup.time == '06' %} selected {%endif%} >{{"06" | fitNumber}}</option>
    		<option value="07" {%if config_backup.time == '07' %} selected {%endif%} >{{"07" | fitNumber}}</option>
    		<option value="08" {%if config_backup.time == '08' %} selected {%endif%} >{{"08" | fitNumber}}</option>
    		<option value="09" {%if config_backup.time == '09' %} selected {%endif%} >{{"09" | fitNumber}}</option>
    		<option value="10" {%if config_backup.time == '10' %} selected {%endif%} >{{"10" | fitNumber}}</option>
    		<option value="11" {%if config_backup.time == '11' %} selected {%endif%} >{{"11" | fitNumber}}</option>
    		<option value="12" {%if config_backup.time == '12' %} selected {%endif%} >{{"12" | fitNumber}}</option>
    		<option value="13" {%if config_backup.time == '13' %} selected {%endif%} >{{"13" | fitNumber}}</option>
    		<option value="14" {%if config_backup.time == '14' %} selected {%endif%} >{{"14" | fitNumber}}</option>
    		<option value="15" {%if config_backup.time == '15' %} selected {%endif%} >{{"15" | fitNumber}}</option>
    		<option value="14" {%if config_backup.time == '14' %} selected {%endif%} >{{"14" | fitNumber}}</option>
    		<option value="17" {%if config_backup.time == '17' %} selected {%endif%} >{{"17" | fitNumber}}</option>
    		<option value="19" {%if config_backup.time == '19' %} selected {%endif%} >{{"19" | fitNumber}}</option>
    		<option value="20" {%if config_backup.time == '20' %} selected {%endif%} >{{"20" | fitNumber}}</option>
    		<option value="21" {%if config_backup.time == '21' %} selected {%endif%} >{{"21" | fitNumber}}</option>
    		<option value="22" {%if config_backup.time == '22' %} selected {%endif%} >{{"22" | fitNumber}}</option>
    		<option value="23" {%if config_backup.time == '23' %} selected {%endif%} >{{"23" | fitNumber}}</option> 		
    	</select>
  

    </div>

  	<button class="btn primary ">{%trans "Backup now"%}</button>
  </form>
</div>
{%endblock%}
