{%extends display.mvc%}



{%set codeUrl%}{%if url.tld == 'local'%}http://code.ermile.local/{%else%}https://code.ermile.com/{%endif%}{%endset%}



{%block body%}

{%block sideBox%} <aside id='sidebar' class='scr' data-xhr='sidebar'>{{block ('aside')}} </aside>{%endblock%}

 <main id='main'>
{%block headerBox%}  <header id='header' class='f'>{{block ('header')}}  </header>{%endblock%}
{%block contentBox%}
  <div id='content' class='scr' data-xhr='content'>
{%block content%}

{%block pageHeader%}
<div class="tbox">
  <h2>{{page.title}}{%if page.badge.text%} <a{%if page.badge.link%} href="{{page.badge.link}}"{%endif%} class="badge primary" {%if page.badge.shortkey%} data-shortkey="{{page.badge.shortkey}}"{%endif%}>{{page.badge.text}} {%if page.badge.shortkey == 120%}<kbd>f9</kbd>{%endif%}</a>{%endif%}</h2>
  <p>{{page.desc | raw}}</p>
</div>
{%endblock%}

{%block pageContent%}
  <div class="f justify-center">
{%block pageCenter%}{%endblock%}
  </div>
{%endblock%}


{%endblock%}
  </div>
{%endblock%}

{%block footerBox%}  <footer id='footer' class='f'>{{block ('footer')}}  </footer>{%endblock%}

 </main>
{%endblock%}




{%block aside%}
  <figure>
{%block avatar%}
{%if login%}
   <a href="{{url.base}}/account/profile" title='{%trans "Edit your profile"%}' class="avatar">
{%if login.avatar%}
     <img src="{{url.base}}/{{login.avatar}}" alt='{%trans "Avatar of you"%}'>
{%else%}
     <img src="{{url.site}}/static/siftal/images/default/avatar.png" alt='{%trans "Default Avatar"%}'>
{%endif%}
   </a>
{%else%}

{%endif%}
   <figcaption>{%trans "Hello"%} <b>{{login.displayname}}</b></figcaption>
{%endblock%}
  </figure>
  <div class="menu scr">
   <ul class="sidenav" data-xhr='sidenav'>
{%block sidenav%}
    <li><a href="{{url.here}}"><i class='sf-tachometer'></i> <span>{% trans "Dashboard" %}</span></a></li>
{%endblock%}
   </ul>
  </div>
  <abbr class="toggleClean" title='{%trans "Click to toggle sidebar status"%}'><span class="sf-arrows-out"></span></abbr>
{%endblock%}



{%block header%}
   <div id='sidenavHandler' class="c0 sauto mauto" title='{%trans "Show side menu"%}'><i class="sf-ellipsis-v"></i></div>

   {%block headerTitle%}<h1 class='cauto' title='{%trans "View website"%}'><a href="{{url.base}}" data-direct target='_blank' class='flex'><img src="{{url.site}}/static/images/logo.png" alt='{{site.title}}'><span>{{site.title}}</span></a></h1>{%endblock%}

   <div class='hm flex cauto'>
{%block headerMenu%}
    <div class="vm" title='{%trans "Work in your language"%}' data-tippy-placement='left'><i class="sf-globe"></i>{{langList({'html':true, 'all':true})}}</div>
{%endblock%}
   </div>
   <div class='hm right flex cauto os'>
{%block headerRight%}
{%if false%}
{%block headerLock%}    <a><i class="sf-unlock-alt"></i></a>{%endblock%}
{%endif%}
    <a href="{{url.base}}/logout" title='{%trans "Logout"%}' data-direct><i class="sf-out"></i></a>
{%endblock%}
   </div>
{%endblock%}



{%block footerDel%}

   <div class="c8 s0" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='top'><nav data-xhr="breadcrumb" class="breadcrumb">{{breadcrumb() | raw}}</nav></div>
   <div class="cauto os s12" id='copyright'>
{%block copyright%}{%endblock%}
   </div>
{%endblock%}