{%if xhr.breadcrumb%}
<nav data-xhr="breadcrumb">{{breadcrumb() | raw}}</nav>
{%endif%}

  <div id='content' class='scr' data-xhr='content'>
{%block content%}

{%block pageHeader%}
<div class="tbox">
  <h2>{{page.title}}</h2>
  <p>{{page.desc}}</p>
</div>
{%endblock%}

{%block pageContent%}
  <div class="full flex justify-center align-center wrap">
{%block pageCenter%}{%endblock%}
  </div>
{%endblock%}


{%endblock%}
  </div>


<ul class="sidenav" data-xhr='sidenav'>{%block sidenav%}{%endblock%}</ul>

{%if xhr.footjs%}
<div data-xhr="foot_js" class="foot_js">{%block foot_js%}{%endblock%}</div>
{%endif%}