{%if xhr.breadcrumb%}
<nav data-xhr="breadcrumb">{{breadcrumb() | raw}}</nav>
{%endif%}

  <div id='content' class='scr' data-xhr='content'>
{%block content%}

{%block pageHeader%}
{%if page.tbox is null and (page.title or page.desc)%}
<div class="tbox{%if page.pictogram%} pictogram{%endif%}">
  <div class="f align-center">
    <div class="c">
      <h2>{{page.title | raw}} {%if page.desc%}<i class="compact sf-info-circle mLR5" title='{{page.desc | raw}}'></i>{%endif%}</h2>
      {%if badge.text%} <a {%if badge.link%} href="{{badge.link}}"{%endif%} class="badge primary" {%if badge.shortkey%} data-shortkey="{{badge.shortkey}}"{%endif%}>{{badge.text}} {%if badge.shortkey == 120%}<kbd>f9</kbd>{%endif%}</a>{%endif%}
    </div>
    <div class="cauto os">{%if badge2.text and badge2.link and badge2.shortkey%} <a href="{{badge2.link}}" class="badge light" data-shortkey="{{badge2.shortkey}}">{{badge2.text}} {%if badge2.shortkey == 121%}<kbd>f10</kbd>{%endif%}</a>{%endif%}</h2></div>
  </div>

{%if page.breadcrumb%}
  <nav class="breadcrumb">
{%for key, value in page.breadcrumb%}
   <a{%if value.link%} href="{{value.link}}"{%endif%}{%if value.title%} title="{{value.title}}"{%endif%}{%if value.attr%} {{value.attr}}{%endif%}>{%if value.icon%}<span class="sf-{{value.icon}} mRa5"></span>{%endif%}{{value.text}}</a>
{%endfor%}
  </nav>
{%endif%}
  {%if page.pictogram%}
  <span class="sf-{{page.pictogram}}"></span>
  {%endif%}
</div>
{%endif%}
{%endblock%}

{%block pageContent%}
  <div class="f justify-center">
{%block pageCenter%}{%endblock%}
  </div>
{%endblock%}


{%endblock%}
  </div>


   <ul class="sidenav" data-xhr='sidenav'>
{%block sidenav%}
    <li><a href="{{url.here}}"><i class='sf-tachometer'></i> <span>{% trans "Dashboard" %}</span></a></li>
{%endblock%}

    <li class="hr"></li>
    <li class="title" data-kerkere="[data-sidebarService]" data-kerkere-icon>{%trans "Quick Access"%}</li>
   </ul>


{%block sidebarService%}
   <ul class="sidenavService" data-xhr='sidenavService' data-sidebarService data-kerkere-content='hide'>
{%block sidebarServiceTop%}{%endblock%}

{%include 'includes/html/sidebarServiceTop.html' ignore missing %}

{%if perm('contentCp')%}
        <li><a href="{{url.kingdom}}/cms" {%if url.content == "cms"%} class="activeContent"{%endif%} data-shortkey="67+77" data-shortkey-prevent data-shortkey-timeout='1000' title='{%trans "Shortkey"%} cm' data-tippy-placement='right'><i class='sf-align-left'></i> {% trans "CMS" %}</a></li>
{%endif%}

{%if perm('contentCrm')%}
        <li><a href="{{url.kingdom}}/crm" {%if url.content == "crm"%} class="activeContent"{%endif%} data-shortkey="77+85" data-shortkey-prevent data-shortkey-timeout='1000' title='{%trans "Shortkey"%} mu' data-tippy-placement='right'><i class='sf-group-full'></i> {% trans "CRM Panel" %}</a></li>
{%endif%}

{%if perm_su()%}
        <li><a href="{{url.kingdom}}/su" {%if url.content == "su"%} class="activeContent"{%endif%} data-shortkey="83+85" data-shortkey-prevent data-shortkey-timeout='1000' title='{%trans "Shortkey"%} su' data-tippy-placement='right'><i class='sf-heartbeat'></i> <span>{% trans "Supervisor Panel" %}</span></a></li>
{%endif%}

{%if login%}
        <li><a href="{{url.kingdom}}/account" {%if url.content == "account"%} class="activeContent"{%endif%} data-shortkey="77+69" data-shortkey-prevent data-shortkey-timeout='1000' title='{%trans "Shortkey"%} me' data-tippy-placement='right'><i class='sf-user'></i> <span>{% trans "My Account" %}</span></a></li>
{%endif%}

        <li><a href="{{url.kingdom}}/support" {%if url.content == "support"%} class="activeContent"{%endif%} data-shortkey="112" data-shortkey-prevent data-shortkey-timeout='1000' title='{%trans "Shortkey"%} f1' data-tippy-placement='right'><i class='sf-life-ring'></i> <span>{% trans "Help Center" %}</span></a></li>

        <li class="hr"></li>
   </ul>
{%endblock%}

<div data-xhr="foot_js" class="foot_js">{%block foot_js%}{%endblock%}</div>
