{%extends display.cpMain%}


{%block pageContent%}

<div class="cbox">
  <table class="tbl">
    <thead class="primary">
      <tr>
        <th>{%trans "Permission title"%}</th>
        {%for myGroup in perm.group%}
        <th class="txtC">{{myGroup.title}}</th>
        {%endfor%}
      </tr>
    </thead>

    <tbody>
      {%for cat, permList in perm.list.dash%}

      <tr class="active">
        <th colspan="{{ (perm.group | length) + 1}}">{{cat}}</th>
      </tr>

      {%for key, value in permList%}
      <tr>
        <td class="txtC">
          {{value.title}}
        </td>
        {%for groupList in perm.group%}
        <td class="txtC">
          {%if key in groupList.contain%}
          <i class="sf-check fc-green"></i>
          {%else%}
          <i class="sf-times fc-red"></i>
          {%endif%}
        </td>
        {%endfor%}
      </tr>
      {%endfor%}
      {%endfor%}

    </tbody>
  </table>

</div>
{%endblock%}



