{%extends display.cpMain%}


{%block pageContent%}
{%for content, allPerms in perm.list%}
<div class="cbox">
  <h3>{%trans content%}</h3>
  <table class="tbl">
    <thead class="primary">
      <tr>
        <th>{%trans "Permission title"%}</th>
        {%for myGroup in perm.group%}
        <th class="txtC">{{myGroup.title}}</th>
        {%endfor%}
      </tr>
    </thead>

    <tbody>
      {%for cat, permList in allPerms%}
      <tr class="active">
        <th colspan="{{ (perm.group | length) + 1}}">{{cat}}</th>
      </tr>
      {%for key, value in permList%}
      <tr>
        <td class="txtB" title="{{key}}">
          {{value.title}}
        </td>
        {%for groupList in perm.group%}
        <td class="txtC">
          {%if key in groupList.contain%}
          <i class="sf-check fc-green"></i>
          {%else%}
          <i class="sf-times fc-red"></i>
          {%endif%}
        </td>
        {%endfor%}
      </tr>
      {%endfor%}
      {%endfor%}
    </tbody>
  </table>
</div>
{%endfor%}
{%endblock%}



