{%extends display.dash%}



{%block body%}

<div class="f justify-center align-center mT100">
	<div class="c4 s12">
		<div class="cbox">

			{%if payDetail.msg_go%}
			<div class="msg" >{{payDetail.msg_go}}</div>
			{%endif%}

			{%if dataRow.displayname%}
				<div class="teal statistic fs06">
		           <div class="value">{{dataRow.displayname}}</div>
		        </div>
			{%endif%}

			{%if dataRow.banktoken%}
				{%if dataRow.condition == 'ok'%}
		          <div class="green statistic">
		            <div class="value">{{dataRow.plus | fitNumber}}</div>
		            <div class="label">{%trans "Toman"%}</div>
		          </div>
		          <div class="msg success txtC txtB">{%trans "Payed"%}</div>
				{%elseif dataRow.condition == 'error' or dataRow.condition == 'verify_error'%}
					<div class="red statistic">
			           <div class="value">{{dataRow.plus | fitNumber}}</div>
			           <div class="label">{%trans "Toman"%}</div>
			        </div>
		          	<div class="msg danger txtC txtB">{%trans "Canceled"%}</div>
				{%else%}
					<div class="yellow statistic">
			           <div class="value">{{dataRow.plus | fitNumber}}</div>
			           <div class="label">{%trans "Toman"%}</div>
			        </div>
		          	<div class="msg warn txtC txtB">{%trans "Canceled"%}</div>
				{%endif%}
			{%else%}
				<div class="green statistic">
		            <div class="value">{{dataRow.plus | fitNumber}}</div>
		            <div class="label">{%trans "Toman"%}</div>
	            </div>
			{%endif%}



			<form method="post">

			  <p>{%trans "Choose a gateway"%}</p>
	          {%if options.parsian.status%}
	          <div class="radioGateway" title='{%trans "Parsian"%}'>
	           <input type="radio" name="bank" value="parsian" id="parsian" checked>
	           <label for='parsian' class="spay-64-parsian"></label>
	          </div>
	          {%endif%}

	          {%if options.asanpardakht.status%}
	          <div class="radioGateway">
	           <input type="radio" name="bank" value="asanpardakht" id="asanpardakht">
	           <label for='asanpardakht' class="spay-64-asanpardakht"></label>
	          </div>
	          {%endif%}

	          {%if options.irkish.status%}
	           <div class="radioGateway">
	           <input type="radio" name="bank" value="irKish" id="irKish">
	           <label for='irKish' class="spay-64-irkish"></label>
	          </div>
	          {%endif%}

	          {%if options.zarinpal.status%}
	          <div class="radioGateway">
	           <input type="radio" name="bank" value="ZarinPal" id="ZarinPal">
	           <label for='ZarinPal' class="spay-64-zarinpal"></label>
	          </div>
	          {%endif%}

	          {%if options.payir.status%}
	          <div class="radioGateway">
	           <input type="radio" name="bank" value="payir" id="payir">
	           <label for='payir' class="spay-64-payir"></label>
	          </div>
	          {%endif%}

	          {%if options.mellat.status%}
	          <div class="radioGateway">
	           <input type="radio" name="bank" value="mellat" id="mellat">
	           <label for='mellat' class="spay-64-mellat"></label>
	          </div>
	          {%endif%}



				<input type="hidden" name="ok" value="1">
				<button class="btn primary block">{%trans "Pay"%}</button>
			</form>
			{%if payDetail.turn_back%}
			<a class="btn success block mT10" href="{{payDetail.turn_back}}">{%trans "Back"%}</a>
			{%endif%}

		</div>

	</div>

</div>

{%if perm_su()%}
<div class="f">
	<div class="c s12">
		<div class="cbox">
			<h3>Payment detail</h3>
			{%for key, value in dataRow.payment_response%}
			{% if key not in ['raw', 'final_fn']%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%else%}
				<div class="msg"><code>{{key}}</code> <pre class="floatL">{{value | dump}}</pre></div>

			{%endif%}
			{%endfor%}
		</div>
	</div>

	<div class="c s12">
		<div class="cbox">
			<h3>Payment response1</h3>
			{%for key, value in dataRow.payment_response1%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>

	<div class="c s12">
		<div class="cbox">
			<h3>Payment response2</h3>
			{%for key, value in dataRow.payment_response2%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>

	<div class="c s12">
		<div class="cbox">
			<h3>Payment response3</h3>
			{%for key, value in dataRow.payment_response3%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endfor%}
		</div>
	</div>

	<div class="c s12">
		<div class="cbox">
			<h3>Payment record</h3>
			{%for key, value in dataRow%}
			{% if key not in ['payment_response','payment_response1','payment_response2','payment_response3']%}
				<div class="msg"><code>{{key}}</code> <kbd class="floatL">{{value}}</kbd></div>
			{%endif%}
			{%endfor%}
		</div>
	</div>
</div>
{%endif%}

{%endblock%}
