{%extends display.suMain%}


{%block content%}

 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{utilityGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl">
	<thead>
		<th><a href="{{url.base}}/su/invoices/{{order_url.id}}">{%trans "ID"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.date}}">{%trans "Date"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.user_id}}">{%trans "User id"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.temp}}">{%trans "Is Temp?"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.title}}">{%trans "Title"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.total}}">{%trans "Total"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.total_discount}}">{%trans "Total Discount"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.status}}">{%trans "Status"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.count_detail}}">{%trans "Count Detail"%}</a></th>
		<th><a href="{{url.base}}/su/invoices/{{order_url.desc}}">{%trans "desc"%}</a></th>
		<th>{%trans "Detail"%}</th>
	</thead>
	<tbody>
		{%for key, value in invoices_list%}
		<tr>
			<td>{{value.id|number_format|fitNumber}}</td>
			{%if lang.current == 'fa'%}
				<td>{{value.date|jdate("Y-m-d H:i:s")}}</td>
			{%else%}
				<td>{{value.date}}</td>
			{%endif%}
			<td>{{value.user_id|fitNumber}}</td>
			{%if value.temp%}
				<td><i>{%trans "Yes"%}</i></td>
			{%else%}
				<td><i>{%trans "No"%}</i></td>
			{%endif%}
			<td>{{value.title}}</td>
			<td>{{value.total|number_format|fitNumber}}</td>
			<td>{{value.total_discount|number_format|fitNumber}}</td>
			<td>{%set my_status = value.status%}{%trans my_status%}</td>
			<td>{{value.count_detail|number_format|fitNumber}}</td>
			<td>{{value.desc}}</td>
			<td><a href="{{url.base}}/su/invoicedetails/invoice_id={{value.id}}"><i class="sf-list"></i></a></td>
		</tr>
		{%endfor%}

	</tbody>

</table>

{%include display.pagination%}

{%endblock%}
