


{%block pageSteps%}

  <div class="f">


   <div class="c s4">
    <a class="dcard {%if url.child == 'general' or not url.child%}active{%endif%}" href='{{url.this}}' data-shortkey="49ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-cog"></i></div>
      <div class="label">{%trans "About you"%}<br><kbd class="mT5">Ctrl+Shift+1</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'security'%}active{%endif%}" href='{{url.this}}/security' data-shortkey="50ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-lock"></i></div>
      <div class="label">{%trans "Security"%}<br><kbd class="mT5">Ctrl+Shift+2</kbd></div>
     </div>
    </a>
   </div>


   <div class="c s4">
    <a class="dcard {%if url.child == 'social'%}active{%endif%}" href='{{url.this}}/social' data-shortkey="51ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-network"></i></div>
      <div class="label">{%trans "Social network"%}<br><kbd class="mT5">Ctrl+Shift+3</kbd></div>
     </div>
    </a>
   </div>

    <div class="c s4">
    <a class="dcard {%if url.child == 'other'%}active{%endif%}" href='{{url.this}}/other' data-shortkey="52ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Improve User Experience"%}<br><kbd class="mT5">Ctrl+Shift+4</kbd></div>
     </div>
    </a>
   </div>


   {%if perm("supportTicketAnswer")%}
    <div class="c s4">
    <a class="dcard {%if url.child == 'signature'%}active{%endif%}" href='{{url.this}}/signature' data-shortkey="53ctrlshift" >
     <div class="statistic sm">
      <div class="value"><i class="sf-user-3"></i></div>
      <div class="label">{%trans "Signature"%}<br><kbd class="mT5">Ctrl+Shift+5</kbd></div>
     </div>
    </a>
   </div>
   {%endif%}



  </div>
{%endblock%}