{%extends display.cmsMain%}

{%block pageContent%}

 <div class="cbox">
  <h2>{%trans "Create sitemap automatically by click on this page"%}</h2>
   <a class="btn" target="_blank" href="{{url.base}}/sitemap.xml">{%trans "Base Sitemap"%}</a>
   <a class="btn" target="_blank" href="{{url.base}}/sitemap/sitemap.xml">{%trans "Sitemap Detail"%}</a>
   <a class="btn floatRa" href="{{url.this}}?run=yes">{%trans "Create it Again"%}</a>
 </div>


{%if sitemapData%}
<div class="f justify-center">
	<div class="c6 s12">
		 <div class="cbox">
		  <div class="in">
		   <h3>{%trans "Create Sitemap Result"%}</h3>
		   {%for key, value in sitemapData%}
		   <div class="msg">{{key}} <span class="floatL txtB txtC">{{value | fitNumber}} <small>{%trans "Item"%}</small></span></div>
		   {%endfor%}

		  </div>
		 </div>
	</div>
</div>
{%endif%}

{%endblock%}
