{%extends display.crmMain%}




{%block pageContent%}
  <div class="f">
    <div class="c4 m12 s12 pRa5">
	     {{block ("chartGender")}}
    </div>

    <div class="c4 m12 s12 pRa5">
       {{block ("chartStatus")}}
    </div>

    <div class="c4 m12 s12 pRa5">
       {{block ("chartIdentify")}}
    </div>
  </div>

	{{block ("blockUsers")}}
{%endblock%}



{%block chartGender%}
<a class="cbox pA0">
 <div class="chart x4" id="genderchart" ></div>
</a>
{%endblock%}

{%block chartStatus%}
<a class="cbox pA0">
 <div class="chart x4" id="statuschart" ></div>
</a>
{%endblock%}

{%block chartIdentify%}
<a class="cbox pA0">
 <div class="chart x4" id="chartdiv" ></div>
</a>
{%endblock%}



{%block blockHelpCenter%}
<div class="f">
  <div class="c s6">{{block ("dHelpCenter")}}</div>
  <div class="c s6">{{block ("dHelpCenterTags")}}</div>
  <div class="c s6">{{block ("dSupportTags")}}</div>
  <div class="c s6">{{block ("dTickets")}}</div>
  <div class="c s6">{{block ("dVisitor")}}</div>
</div>
{%endblock%}


{%block dHelpCenter%}
<a class="dcard" href="{{url.here}}/posts?type=help">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-info-circle"></i> {%trans "Help Center Article"%}</div>
  <div class="value">{{dashboardDetail.helpcenter | fitNumber}}</div>
 </div>
</a>
{%endblock%}



{%block dHelpCenterTags%}
<a class="dcard" href="{{url.here}}/terms?type=help_tag">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-clone"></i> {%trans "Help tags"%}</div>
  <div class="value">{{dashboardDetail.helpcentertags | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dSupportTags%}
<a class="dcard" href="{{url.here}}/terms?type=support_tag">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-bug"></i> {%trans "Support tags"%}</div>
  <div class="value">{{dashboardDetail.supporttags | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dTickets%}
<a class="dcard" href="{{url.kingdom}}/support/ticket">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-life-ring"></i> {%trans "Tickets"%}</div>
  <div class="value">{{dashboardDetail.tickets | fitNumber}}</div>
 </div>
</a>
{%endblock%}



{%block dVisitor%}
<a class="dcard" href="{{url.kingdom}}/cp/visitor">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-life-ring"></i> {%trans "Visitor"%}</div>
  <div class="value">{{dashboardDetail.visit | fitNumber}}</div>
 </div>
</a>
{%endblock%}





{%block blockUsers%}
<div class="f mB20">
  <div class="c s6">{{block ("dUsers")}}</div>
  <div class="c s6">{{block ("dUserPerms")}}</div>
  <div class="c s6">{{block ("dLogs")}}</div>
  <div class="c s6">{{block ("dComments")}}</div>
  <!-- <div class="c s6">{{block ("dComments")}}</div> -->
</div>
{%endblock%}


{%block dUsers%}
<a class="dcard" href="{{url.here}}/member">
 <div class="statistic sm teal">
  <div class="label mB10"><i class="fs20 mRa5 sf-users"></i> {%trans "Users"%}</div>
  <div class="value counter" data-value={{dashboardDetail.users}}>{{dashboardDetail.users | fitNumber}}</div>
 </div>
</a>
{%endblock%}



{%block dUserPerms%}
<a class="dcard" href="{{url.here}}/permission">
 <div class="statistic sm red">
  <div class="label mB10"><i class="fs20 mRa5 sf-lock"></i> {%trans "Permissions"%}</div>
  <div class="value">{{dashboardDetail.permissions | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dLogs%}
<a class="dcard" href="{{url.here}}/log">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-crosshairs"></i> {%trans "Logs"%}</div>
  <div class="value">{{dashboardDetail.logs | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dComments%}
<a class="dcard" href="{{url.here}}/comments">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-comments"></i> {%trans "Comments"%}</div>
  <div class="value">{{dashboardDetail.comments | fitNumber()}}</div>
 </div>
</a>
{%endblock%}







{%block foot_js%}
<script type="text/javascript">
    {%include 'content_crm/home/chart.js'%}
  {%if dashboardDetail.chart.categories and dashboardDetail.chart.visitor and dashboardDetail.chart.visit%}
  {%endif%}
</script>
{%endblock%}

