{%extends display.suMain%}

{%block pageContent%}
{%if logList%}
  <div class="f">
  {%for value in logList%}
    <div class="c s12">
        <a class="dcard x1 fc-red"  href='{{url.this}}/log?folder={{value.name}}'>
         <div class="statistic ">
          <div class="value "><i class="sf-bug-2"></i></div>
          <div class="label">Folder: {{value.name}}</div>
         </div>
        </a>
     </div>
  </div>
  {%endfor%}
  </div>
{%endif%}

{%if logFileList%}

<a class="btn mB10 outline primary block" href="{{url.this}}/log">{%trans "Back"%}</a>
<div class="f">
{%for value in logFileList%}
  <div class="c s12">
      <a class="dcard x2"  href='{{url.this}}/log?folder={{requestGET.folder}}&file={{value.name}}'>
       <div class="statistic ">
        <div class="value "><i class="sf-file-1"></i></div>
        <div class="label">{{value.name}}</div>
        <hr>
        <div class="label ">{%trans "datemodified"%}</div>
        <div class=" txtC mT10" title="{{value.mtime | tdate('Y-m-d H:i:s')}}">{{value.mtime | sdate}}</div>
        <hr>
        <div class="label">{{value.size | fitNumber}} {%trans "MB"%}</div>
       </div>
      </a>
   </div>
{%endfor%}
</div>
{%endif%}
{%endblock%}
