{%extends display.admin%}


{%block pageContent%}


<div class="f">
  <div class="c9 s12 pRa10">
    {%include 'content_support/ticket/addForm.html'%}
		{{block("iChatList")}}

  </div>
  <div class="c3 s12">
    <div class="cbox">
      <div class="msg txtC">{%trans "Ticket No"%} <b>{{masterTicketDetail.id}}</b></div>
      <div class="msg txtC" title='{{masterTicketDetail.datecreated | tdate("Y-m-d H:i:s")}}'>{%trans "Create date"%} <b>{{masterTicketDetail.datecreated | sdate("year")}}</b></div>
      <div class="msg txtC" title='{{dataTable.0.datecreated | tdate("Y-m-d H:i:s")}}'>{%trans "Last activity"%} <b>{{dataTable.0.datecreated | sdate("year")}}</b></div>
      <div class="msg txtC info2">{%trans "Status"%} <b>{%set myStatus =  masterTicketDetail.status%}{%trans myStatus%}</b></div>
      <form method="post">
        <input type="hidden" name="TicketFormType" value="changeStatus">
      <button class="btn block mTB10 success" name="status" value="solved">{%trans "Submit as Solved"%}</button>
  {%if perm('supportTicketView') %}
        <button class="btn block mTB10 secondary"  name="status" value="close">{%trans "Close ticket"%}</button>
  {%endif%}
      </form>

    </div>
{%if perm('supportTicketView') %}
    <div class="cbox">
<!-- do some admin actions -->

      <label for="creator">{%trans "Creator"%}</label>
      <div class="input">
        <input type="text" id="creator" disabled value="{{masterTicketDetail.author}}">
      </div>

      <label for="email">{%trans "Email"%}</label>
      <div class="input">
        <input type="text" id="email" disabled value="{{masterTicketDetail.email}}">
      </div>

      <label for="mobile">{%trans "Mobile"%}</label>
      <div class="input">
        <input type="text" id="mobile" disabled value="{{masterTicketDetail.mobile | fitNumber('mobile')}}">
      </div>

      <form method="post">
        {{block("iTag")}}
        <button class="btn block mTB10 primary"  name="TicketFormType" value="tag">{%trans "Save tag"%}</button>
      </form>
    </div>
{%endif%}

  </div>
</div>
{%endblock%}




{%block iChatList%}
<div class="cbox">

{%for key, value in dataTable%}
  <div class="msg f align-center {%if value.user_id == masterTicketUser %}{%else%}info{%endif%}">
    <span class="cauto"><img src="{{value.avatar}}" class="avatar mRa10" src="{{value.displayname}}"></span>
    <span class="c2 s0 txtB pRa10">{{value.displayname}}</span>
    <span class="c s0">{{value.content | raw}}
      {%if value.file %}<hr><a target="_blank" href="{{value.file}}">{%trans "Attachment"%}</a>{%endif%}
    </span>
    <span class="cauto we80 s0 txtRa os" title='{{value.datecreated | tdate("Y-m-d H:i:s")}}'>{{value.datecreated | sdate("year")}}</span>
  </div>
{%endfor%}
</div>
{%endblock%}




{%block iTag%}
<div class="tagDetector">
{%set postTag = tags({"post_id" : requestGET.id , "title" : true, "format" : 'csv', "related" : "comments"}) %}
{%if not requestGET.type or requestGET.type == 'post' %}
{%if options.tagSpecial%}
  <div class="specialTags mB5" title='{%trans "Click on special tags to use this depending on your website design"%}'>
    {%for key, value in options.tagSpecial%}
      <span class="badge {%if key in postTag%} success{%endif%}" href="#" title="{%trans value%}" data-val='{{key}}'>{%if key in postTag%}<i class="sf-check compact"></i> {%endif%}{{key}}</span>
    {%endfor%}
  </div>
{%endif%}
{%endif%}

  <div class="input mB10 hide">
    <input type="text" class="input tagVals" name="tag" value="{{postTag}}" id="tagValues" placeholder='{%trans "Tag"%}'>
  </div>

  <div class="input" title='{%trans "Add tag manually to link tickets togethers"%}'>
    <input type="text" class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
    <button class="addon tagAdd">+</button>
  </div>
  <div class="tagBox"></div>
</div>
{%endblock%}