{%extends display.suMain%}

{%block pageContent%}
{%if logList%}
  <div class="f">
  {%for value in logList%}
    <div class="c s12">
        <a class="dcard x1 fc-red"  href='{{url.this}}?folder={{value.name}}'>
         <div class="statistic ">
          <div class="value "><i class="sf-bug-2"></i></div>
          <div class="label">Folder: {{value.name}}</div>
         </div>
        </a>
     </div>
  </div>
  {%endfor%}
  </div>
{%endif%}

{%if logFileList%}

<a class="btn mB10 outline primary block" href="{{url.this}}">{%trans "Back"%}</a>
<div class="f">
{%for value in logFileList%}
<div class="c2 mA5 txtC">
<a   href='{{url.this}}?folder={{requestGET.folder}}&file={{value.name}}'>
  <div class="msg {%if value.is_old%} secondary2 {%endif%}">
    <i class="sf-file-1 fs30"></i>
    <div class="label"><b>{{value.name}}</b></div>
    <div class=" txtC mT10" title="{{value.mtime | dt(true)}}">{{value.mtime | dt('human')}}</div>
    <div class="label">{{value.size}} {%trans "MB"%}</div>
  </div>
</a>
</div>

{%endfor%}
</div>
{%endif%}
{%endblock%}
