{%extends display.admin%}


{%block pageContent%}
{{block('pageSteps')}}

<form method="post" enctype="multipart/form-data" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 m8 x5 s12">


      <div class="cbox">
        <h3 class="txtC">{%trans "Email and Social Networks"%}</h3>
          {{block("iWebsite")}}
          {{block("iEmail")}}
          {{block("iGmail")}}
          {{block("iInstagram")}}
          {{block("iFacebook")}}
          {{block("iTwitter")}}
          {{block("iLinkedin")}}
          {{block("isave")}}
      </div>

    </div>
  </div>
</form>
{%endblock%}




{%block iWebsite%}
<label for="website">{%trans "Website"%}</label>
<div class="input ltr">
  <input type="url" name="website" id="website" placeholder='{%trans "Website"%} {%trans "like"%} https://ermile.com' value="{{dataRow.website}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid website from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iInstagram%}
<label for="instagram">{%trans "Instagram"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-instagram"></i> instagram.com/</span>
  <input type="text" name="instagram" id="instagram" placeholder='{%trans "Instagram"%}' value="{{dataRow.instagram}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid instagram from 3 to 40 character"%}' >
</div>
{%endblock%}

{%block iFacebook%}
<label for="facebook">{%trans "Facebook"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-facebook-official"></i> facebook.com/</span>
  <input type="text" name="facebook" id="facebook" placeholder='{%trans "Facebook"%}' value="{{dataRow.facebook}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid facebook from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iTwitter%}
<label for="twitter">{%trans "Twitter"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-twitter"></i> twitter.com/</span>
  <input type="text" name="twitter" id="twitter" placeholder='{%trans "Twitter"%}' value="{{dataRow.twitter}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid twitter from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iLinkedin%}
<label for="linkedin">{%trans "Linkedin"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-linkedin"></i> linkedin.com/</span>
  <input type="text" name="linkedin" id="linkedin" placeholder='{%trans "Linkedin"%}' value="{{dataRow.linkedin}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid linkedin from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iGmail%}
{%if value.gmail %}
<label for="gmail">{%trans "Gmail"%}</label>
<div class="input ltr">
  <input type="email" name="gmail" id="gmail" placeholder='{%trans "Like"%} your-mail' value="{{dataRow.gmail}}" maxlength='50' readonly disabled>
</div>
{%endif%}
{%endblock%}




{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{dataRow.email}}" maxlength='50'>
</div>
{%endblock%}



{%block isave%}
<div class="txtRa">
  <button class="btn primary  mT20">{%trans "Save"%}</button>
</div>
{%endblock%}









