{%block emobile%}
   <div class='flex fix' id='emobile'>
    <label for='mobile' title='{%trans "Mobile"%}'><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 35 35" xml:space="preserve"><path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604 c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287 c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818 c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625 H8.979V3.749h17.042V30.625z" fill="#fff"/></svg></label>
    <input id='mobile' name="mobile" type='tel' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{get_mobile}}" data-pl-user='{%trans "Mobile"%}' autocomplete="off" {%if site.currentlang == 'fa'%}pattern=".{10,14}" title='{%trans "Enter correct iranian mobile from 10 to 14 character"%}'{%else%}pattern=".{7,15}" title='{%trans "7 to 15 characters is allowed for mobile"%}'{%endif%} required {%if mobile_readonly%} readonly {%endif%} {%if not mobile_readonly%}autofocus{%endif%}>
   </div>
{%endblock%}



{%block eramz%}
   <div class='flex fix' id='eramz'>
    <label for='ramz' title='{%trans "Password"%}'>*</label>
    <input id='ramz' name="ramz" type='password' placeholder='{%trans "Password"%}' autocomplete="new-password" autocapitalize="off" minlength="6" maxlength="40" pattern=".{6,40}" title='{%trans "Enter a valid password from 6 to 40 character"%}' autofocus required>
   </div>
{%endblock%}



{%block eramzNew%}
   <div class='flex fix' id='eramzNew'>
    <label for='ramzNew' title='{%trans "New Password"%}'>**</label>
    <input id='ramzNew' name="ramzNew" type='password' placeholder='{%trans "New Password"%}' autocomplete="new-password" autocapitalize="off" minlength="6" maxlength="40" pattern=".{6,40}" title='{%trans "Enter a valid password from 6 to 40 character"%}' autofocus required>
   </div>
{%endblock%}



{%block epass%}
   <div class='flex fix{%if url.tld != "dev" or true%} hide{%endif%}' id='epasscode'>
    <label for='passcode'>Pwd</label>
    <input id='passcode' name="password" type='password' placeholder='{%trans "Password?"%}' autocomplete="new-password" minlength="6" maxlength="40">
   </div>
{%endblock%}



{%block ecode%}
   <div class='flex fix' id='ecode'>
    <label for='code'>Code</label>
    <input id='code' name="code" type='number' placeholder='{%trans "Verify Code"%}' autocomplete="new-password" inputmode="numeric" min="10000" max="99999" pattern=".{5,5}" title='{%trans "Enter a valid code!"%}' autofocus required>
   </div>
{%endblock%}


{%block ecodeSend%}
   <div class='flex fix' id='ecodeSend'>
    <label for='code'>Code</label>
    <input id='code' name="code" type='number' readonly placeholder='{%trans "Code"%}' title='{%trans "Send this code to our number!"%}' value="{{codeSend}}">
   </div>
{%endblock%}

{%block enumberSend%}
   <div class='flex fix' id='enumberSend'>
    <label for='ErmileMobileNumber'>SMS</label>
    <input id='ErmileMobileNumber' name="ErmileMobileNumber" type='tel' readonly placeholder='{%trans "send to this number"%}' title='{%trans "Send code to this number!"%}' value="{{codeSendNum}}">
   </div>
{%endblock%}


{%block email%}
   <div class='flex fix' id='email'>
    <label for='email' title='{%trans "Email"%}'>@</label>
    <input id='email' name="email" type='email' placeholder='{%trans "email"%}' autocomplete="off" autocapitalize="off" minlength="6" maxlength="100" title='{%trans "Enter a valid eamil!"%}' value="{{get_email}}" required>
   </div>
{%endblock%}


{%block eusername%}
   <div class='flex fix' id='eusername'>
    <label for='usercode' title='{%trans "username"%}'><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 258.75 258.75" style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve" width="30px" height="30px"><circle cx="129.375" cy="60" r="60" fill="#FFFFFF"/><path d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z" fill="#FFFFFF"/></svg></label>
    <input id='usercode' name="username" type='username' placeholder='{%trans "username"%}' autocomplete="off" autocapitalize="off" value="{{get_username}}" pattern=".{4,50}" title='{%trans "Enter a valid username from 4 to 50 character"%}' required>
   </div>
{%endblock%}


{%block ego%}
   <div class='flex' id='ego'>
    <button type="submit">{%trans "Go"%}</button>
   </div>
{%endblock%}

{%block egoCheck%}
   <div class='flex' id='egoCheck'>
    <button type="submit">{%trans "Go and check it"%}</button>
   </div>
{%endblock%}


{%block egoMobile%}
   <div class='flex hide' id='egoMobile' data-require='mobile'>
    <button type="submit">{%trans "Go"%}</button>
   </div>
{%endblock%}



{%block enext%}
   <div class='flex' id='enext'>
    <button type="submit">{%trans "Next"%}</button>
   </div>
{%endblock%}



{%block esignup%}
   <div class='flex' id='esignup'>
    <button type="submit">{%trans "Signup"%}</button>
   </div>
{%endblock%}

{%block eset%}
   <div class='flex' id='eset'>
    <button type="submit">{%trans "Set Password"%}</button>
   </div>
{%endblock%}

{%block erecovery%}
   <div class='flex' id='erecovery'>
    <button type="submit">{%trans "Recovery password"%}</button>
   </div>
{%endblock%}


{%block elogin%}
   <div class='flex' id='elogin'>
    <button type="submit">{%trans "Enter"%}</button>
   </div>
{%endblock%}


{%block eloginUsername%}
   <div class='flex hide' id='eloginUsername' data-require='usercode'>
    <button type="submit">{%trans "Enter"%}</button>
   </div>
{%endblock%}



{%block esubmit%}
   <div class='flex' id='esubmit'>
    <button type="submit">{%trans "Submit"%}</button>
   </div>
{%endblock%}





{%block eMethods%}
  <div class="f" id='eMethods'>
  <p>{%trans "Enter with another methods"%}</p>
{{block ('ebgoogle')}}
{{block ('ebmobile')}}
{{block ('ebemail2')}}
{{block ('ebusername')}}
  </div>
{%endblock%}



{%block ebmobile%}
   <a href="{{url.base}}/enter" title='{%trans "Log in with mobile"%}' id='ebmobile' class="c {%if module == 'home'%}active{%endif%}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 35 35" xml:space="preserve"><path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604 c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287 c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818 c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625 H8.979V3.749h17.042V30.625z" fill="#fff"/></svg>
    <span>{%trans "Enter with mobile"%}</span>
   </a>
{%endblock%}



{%block ebgoogle%}
    <a href="{{url.base}}/enter/google" class="c" id='ebgoogle'>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455.73 455.73" xml:space="preserve"><path style="fill:#DD4B39;" d="M0,0v455.73h455.73V0H0z M265.67,247.037c-7.793,51.194-45.961,80.543-95.376,80.543 c-55.531,0-100.552-45.021-100.552-100.552c0-55.517,45.021-100.538,100.552-100.538c26.862,0,50.399,9.586,67.531,26.226 l-28.857,28.857c-9.773-9.846-23.147-15.094-38.674-15.094c-32.688,0-59.189,27.874-59.189,60.548 c0,32.703,26.501,59.768,59.189,59.768c27.397,0,48.144-13.243,54.129-39.758h-54.129v-40.38h95.131 c1.142,6.506,1.72,13.315,1.72,20.37C267.144,234.025,266.638,240.69,265.67,247.037z M386.419,234.517h-35.233v35.218H326.16 v-35.218h-35.233v-25.041h35.233v-35.233h25.026v35.233h35.233V234.517z"/>
      </svg>
     <span>{%trans "Enter with Google"%}</span>
    </a>
{%endblock%}



{%block ebemail%}
   <div id='ebemail' class="c {%if module == 'email'%}active{%endif%}">
    <a href="{{url.base}}/enter/email">@<abbr>{%trans "Enter with email"%}</abbr></a>
  </div>
{%endblock%}



{%block ebusername%}
   <a href="{{url.base}}/enter/username" id='ebusername' class="c {%if module == 'username'%}active{%endif%}">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 258.75 258.75" style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve" width="20px" height="20px"><circle cx="129.375" cy="60" r="60" fill="#FFFFFF"/><path d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z" fill="#FFFFFF"/></svg>
     <span>{%trans "Enter with username"%}</span>
   </a>
{%endblock%}







































{%block eresend%}
<div class="c">
 <a data-href="{{url.base}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='60' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend120%}
<div class="c">
 <a data-href="{{url.base}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='120' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend180%}
<div class="c">
 <a data-href="{{url.base}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='180' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend240%}
<div class="c">
 <a data-href="{{url.base}}/enter/verify/resend" data-direct data-text='{%trans "Another way?"%}' data-timer='240' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block ereset%}
<a class="c" href="{{url.base}}/enter" data-direct>{%trans "Restart with new mobile"%}</a>
{%endblock%}


{%block emailNew%}
   <div class='flex fix' id='emailNew'>
    <label for='emailNew' title='{%trans "New email"%}'>@@</label>
    <input id='emailNew' name="emailNew" type='email' placeholder='{%trans "New email"%}' autocomplete="off" autocapitalize="off" minlength="6" maxlength="100" title='{%trans "Enter a valid eamil!"%}' required>
   </div>
{%endblock%}


{%block usernameNew%}
   <div class='flex fix' id='usernameNew'>
    <label for='usernameNew' title='{%trans "New username"%}'>@</label>
    <input id='usernameNew' name="usernameNew" type='username' placeholder='{%trans "New username"%}' autocomplete="off" autocapitalize="off" minlength="6" maxlength="100" title='{%trans "Enter a valid username!"%}' required>
   </div>
{%endblock%}