<!DOCTYPE html>
<html lang="{{global.lang|replace({'_': '-'}) }}" dir="{{global.direction}}"{%if url.tld == 'dev'%} data-develop{%endif%}>
<head>
{%block head_def%}
{%set pageTitle%}{%spaceless%}{%if pageTitle%}{{pageTitle}}{%else%}{{global.title}}{%endif%}{%endspaceless%}{%endset%}
{%set pageDesc%}{%spaceless%}{%if pageDesc%}{{pageDesc}}{%else%}{{page.desc}}{%endif%}{%endspaceless%}{%endset%}
 <meta charset="UTF-8"/>
 <base href="{{url.baseRaw}}"/>
 <title>{{pageTitle}}</title>
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
{%if url.domain != 'deadbrowser'%}
 <!--[if lte IE 9]><script>document.location = 'https://deadbrowser.com/{{site.currentlang}}';</script><![endif]-->
{%endif%}
 <meta name     ="description"             content="{{pageDesc}}"/>
 <meta name     ="site:root"               content="{{url.root}}"/>
{%block head_twitter%}
 <meta name     ="twitter:card"            content="{{share.twitterCard}}"/>
{%if social.twitter%}
 <meta name     ="twitter:site"            content="@{{social.twitter}}"/>
{%endif%}
 <meta name     ="twitter:title"           content="{{pageTitle}}"/>
 <meta name     ="twitter:description"     content="{{pageDesc}}"/>
 <meta name     ="twitter:image"           content="{{share.image}}"/>
{%endblock%}
{%if browser.ua_type == 'mobile' %}
 {%if browser.browser_name == 'edge' %}
  {%if options.tabColor.value %}
   <!-- Windows Phone -->
   <meta name="msapplication-navbutton-color" content="#{{options.tabColor.value}}">
  {%endif%}
 {%elseif browser.browser_name == 'safari' %}
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
 {%else%}
   {% if options.tabColor.value %}
   <!-- Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="#{{options.tabColor.value}}">
   {%endif%}
 {%endif%}
{%endif%}
{%block facebook%}
 <meta property ="og:image"                content="{{url.static}}images/logo.png"/>
 <meta property ="og:url"                  content="{{url.full}}"/>
 <meta property ='og:locale'               content='{{global.lang}}'/>
{%endblock%}
 <meta name     ="application-name"        content="{{pageTitle}}"/>
 <meta name     ="viewport"                content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0 maximum-scale=1.5, minimal-ui"/>
{%block favicon%}
 <link rel="shortcut icon"    href="{{url.static}}images/favicon.png"/>
 <link rel="apple-touch-icon" href="{{url.static}}images/favicon.png">
{%endblock%}
{%if false%}
 <link rel="alternate"        href="{{url.root}}/feed" title="{{site.title}} RSS feed" type="application/rss+xml"/>
{%endif%}
 <link rel="author"           href="{{url.static}}humans.txt"/>
{%for key, lang in site.langlist if site.langlist|length > 1 and not url.SubDomain and site.currentlang != key|slice(0, 2)%}
{%set myLangUrl%}
{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}/{{key|slice(0, 2)}}{%endif%}{%if url.content%}/{{url.content}}{%endif%}{%if url.path%}/{{url.path}}{%endif%}
{%endset%}
 <link rel="alternate"        href="{{myLangUrl}}" hreflang="{{key|slice(0, 2)}}"/>
{%endfor%}

{%if include.siftal and siftalCSS != 'off' %}
{%if dev.siftal %}
 <link rel="stylesheet"       href="http://siftal.dev/css/siftal.css"/>{%else%}
 <link rel="stylesheet"       href="{{url.static}}{{'siftal/css/siftal.css' | filemtime(true)}}"/>{%endif%}
{%endif%}
{%if include.css %}
 <link rel="stylesheet"       href="{{url.static}}css/style.css"/>{{include.newline}}{%endif%}

{%block head_css         %}{%endblock%}
{%block head_js          %}{%endblock%}
{%endblock%}
{%block head             %}{%endblock%}
</head>
{% if extendForm%}
{% import macro.forms as forms %}
  {% import macro.forms as forms %}
{% endif %}

<body data-xhr="body" class="{{global.direction}} {{bodyclass}}" data-in='{{url.repository}}' data-page="{{global.id}}" {{bodyel|raw}}>
{%block body%}
{%block header%}{%endblock%}
{%block content%}
 <style type="text/css">body{background-color:#eee}.def-msg{font-family:sans-serif;padding-left:15%;color:#403B33;}h1.def-msg{margin-top:10%;color:#9E4949} .rtl .def-msg{padding-right:15%;}</style>
 <h1 class='def-msg'>{{site.title}}</h1>
 <h2 class='def-msg'>{{site.desc}}</h2>
 <p class='def-msg'>Let start using Dash! start edit twig block for show your content. for replace this text use <b>block content</b>.</p>
{%endblock%}
{%block footer%}{%endblock%}
{%endblock%}
{%block debug%}
 {%if debug is iterable%}
  <div id="formError" class="error_{{debug.status}} unselectable">
  {%for key, mydebug in debug.messages if mydebug is iterable %}
   <ul class="{{key}}">
   {%for key, err in mydebug%}
   {%if err.title is defined%}
   <li class="{{err.group}} {{err.redirect}}">{{err.title}}</li>
   {%else%}
   <li class="n_{{key}}">{{err}}</li>
   {%endif%}
   {%endfor%}
   </ul>
   {%endfor%}
  </div>
 {%endif%}
{%endblock%}
{%block foot_css%}{%endblock%}

{%if include.siftal  and siftalJS != 'off' %}
{%if dev.siftal %}
 <script src="http://siftal.dev/js/siftal.js"></script>
{%else%}
 <script src="{{url.static}}{{'siftal/js/siftal.js' | filemtime(true)}}"></script>
{%endif%}
{%endif%}

{%if include.js        %} <script src="{{url.static}}{{'js/script.js' | filemtime(true)}}"></script>{{include.newline}}{%endif%}
{%block js             %}{%endblock%}
 <div data-xhr='foot_js' class="foot_js">{%block foot_js%}{%endblock%}</div>
</body>
</html>