{%extends display.mvc%}



{%set codeUrl%}{%if url.tld == 'dev'%}http://code.ermile.dev/{%else%}https://code.ermile.com/{%endif%}{%endset%}



{%block body%}

{%block sideBox%} <aside id='sidebar' class='unselectable scr' data-xhr='sidebar'>{{block ('aside')}} </aside>{%endblock%}

 <main id='main'>
{%block headerBox%}  <header id='header' class='f'>{{block ('header')}}  </header>{%endblock%}
{%block contentBox%}  <div id='content' class='scr' data-xhr='content'>{{block ('content')}}  </div>{%endblock%}
{%block footerBox%}  <footer id='footer' class='flex'>{{block ('footer')}}  </footer>{%endblock%}
 </main>
{%endblock%}




{%block aside%}

  <figure>
{%block avatar%}
   <a href="{{url.baseFull}}/profile" title='{%trans "Edit your profile"%}' class="avatar">
{%if login.fileurl%}
     <img src="{{url.root}}/{{login.fileurl}}" alt='{%trans "Avatar of you"%}'>
{%else%}
     <img src="{{codeUrl}}dash/images/logo.jpg" alt='{%trans "Avatar of you"%}'>
{%endif%}
   </a>
   <figcaption>{%trans "Hello"%} <b>{{login.displayname}}</b></figcaption>
{%endblock%}
  </figure>
{%block sideTitle%}  <h2><a href="{{url.base}}" data-direct>{{site.title}}</a></h2>{%endblock%}
  <div class="menu scr">
   <ul class="sidenav" data-xhr='sidenav'>
{%block sidenav%}
    <li><a href="{{url.baseFull}}"><i class='sf-tachometer'></i> <span>{% trans "Dashboard" %}</span></a></li>
{%endblock%}
   </ul>
  </div>
{%endblock%}



{%block header%}
   <div id='sidenavHandler' class="c0 sauto mauto"><i class="sf-ellipsis-v"></i></div>

   {%block headerTitle%}<h1 class='cauto'><a href="{{url.base}}" data-direct target='_blank' class='flex'><img src="{{url.static}}images/logo.png" alt='{{site.title}}'><span>{{site.title}}</span></a></h1>{%endblock%}

   <div class='hm flex cauto'>
{%block headerMenu%}
    <div class="vm"><i class="sf-globe"></i>{{langList({'html':true, 'all':true})}}</div>
{%endblock%}
   </div>
   <div class='hm right flex cauto os'>
{%block headerRight%}
{%block headerLock%}    <a><i class="sf-unlock-alt"></i></a>
{%endblock%}
    <a href="{{url.base}}/logout" title='{%trans "Logout"%}' data-direct><i class="sf-out"></i></a>
{%endblock%}
   </div>
{%endblock%}



{%block footer%}

   <div class="c8" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='top'><nav data-xhr="breadcrumb" class="breadcrumb">{{breadcrumb() | raw}}</nav></div>
   <div id='copyright'>
{%block copyright%}{%endblock%}
   </div>
{%endblock%}

