{%extends display.admin%}


{%block pageContent%}

{%if dataTable or 1%}
 {%if dataFilter%}


  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}


  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}


  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}





{%block htmlTable%}

  <table class="tbl1 v4 layoutFixed openable fs13">
    <thead class="primary">
      <tr>
        <th class="type s0">{%trans "Type"%}</th>
        <th class="subject">{%trans "Subject"%}</th>
        <th class="date">{%trans "Date"%}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="type s0"><i class="sf-heart"></i></td>
        <td class="subject">
          <div class="txtCut txtB">Spaces now has a built-in CDN!Spaces now has a built-in CDN!Spaces now has a built-in CDN!Spaces now has a built-in CDN!Spaces now has a built-in CDN!</div>
          <div class="detail">
            <p>
              <img src="//cloud.digitalocean.com/images/Droplets-Pricing-Configurations.png" style="padding:20px 60px 0;"><br><br>
              Introducing Droplets with more memory, larger SSDs, and several new plans! There is a Droplet for every application. Read about it on our <a href="https://blog.digitalocean.com/new-droplet-plans/">blog post</a> or <a href="https://cloud.digitalocean.com/droplets/new">try a new Droplet now</a>.
            </p>
          </div>
        </td>
        <td class="date">یک روز پیش</td>
      </tr>
      <tr>
        <td class="type s0"><i class="sf-heart"></i></td>
        <td class="subject">
          <div class="txtCut txtB">Private networking changing</div>
          <div class="detail">
            <p>
              <img src="https://assets.digitalocean.com/public/vpc-product-notification.png" alt="">
              Starting April 4th, Droplets in TOR1 and BLR1 will have improved private networking security. Traffic over private IPs in these data centers will be restricted to Droplets within a team or account. Other data centers will follow soon. <a>Learn More</a>
            </p>
          </div>
        </td>
        <td class="date">یک روز پیش</td>
      </tr>

      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td>{{value.title}}</td>
        <td>{{value.content}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No notifications found"%}</p>
{%endblock%}

