{%extends display.admin%}


{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}


  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}


  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}


  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlTable%}



  <table class="tbl1 v4 layoutFixed openable fs13">
    <thead class="primary">
      <tr>
        <th class="type s0"></th>
        <th class="subject">{%trans "Subject"%}</th>
        <th class="via s0"></th>
        <th class="date">{%trans "Date"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}

      <tr {%if not value.txt or not value.excerpt%}data-open-disable{%endif%}>
        <td class="type s0" title='{{value.cat}}'><i class="{%if value.icon%}sf-{{value.icon}}{%else%}sf-heart{%endif%}{%if value.iconClass%} {{value.iconClass}}{%endif%}"></i></td>
        <td class="subject">

          <div class="title">
            {%if not value.title%}{{value.caller}}{%else%}{{value.title}}{%endif%}{%if perm_su()%}<small><code class="mLa5 floatRa fs09">{{value.caller}}</code></small>{%endif%}
            {%if not value.readdate%}<span class="mLa5 badge danger">{%trans "New"%}</span>{%endif%}
          </div>

          {%if value.excerpt%}
          <div class="excerpt txtCut" {%if value.txt%}data-openable-close{%endif%}>
            {{value.excerpt | raw}}
          </div>
          {%endif%}

          {%if value.txt%}
          <div class="detail" {%if value.excerpt%}data-openable-open{%endif%}>
              {{value.txt | raw}}
          </div>
          {%endif%}

        </td>
        <td class="via s0">
          {%if value.sms or value.telegram or value.email%}
            {%if value.sms%}
              <i class="sf-envelope" title='{%trans "Sended via SMS"%}'></i>
            {%endif%}
            {%if value.telegram%}
              <i class="sf-paper-plane" title='{%trans "Sended via Telegram"%}'></i>
            {%endif%}
          {%endif%}
        </td>
        <td class="date collapsing">
          <span title="{{value.datecreated | dt(true)}}">{{value.datecreated | dt('human', 'year')}}</span>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No notifications found"%}</p>
{%endblock%}

