{%extends display.admin%}


{%block pageContent%}

{%if dataTable or 1%}
 {%if dataFilter%}


  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}


  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}


  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}





{%block htmlTable%}

  <table class="tbl1 v4 layoutFixed openable fs13">
    <thead class="primary">
      <tr>
        <th class="type s0">{%trans "Type"%}</th>
        <th class="subject">{%trans "Subject"%}</th>
        <th class="date">{%trans "Date"%}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="type s0"><i class="sf-heart"></i></td>
        <td class="subject">
          <div class="title">Spaces now has a built-in CDN!</div>
          <div class="detail" data-openable-open>
            <p>
              Introducing Droplets with more memory, larger SSDs, and several new plans! There is a Droplet for every application. Read about it on our <a href="https://blog.digitalocean.com/new-droplet-plans/">blog post</a> or <a href="https://cloud.digitalocean.com/droplets/new">try a new Droplet now</a>.
            </p>
          </div>
          <div class="excerpt txtCut" data-openable-close>
            Introducing Droplets with more memory, larger SSDs, and several new plans! There is a Droplet for every application.
          </div>
        </td>
        <td class="date">
          <div>یک روز پیش</div>
          <div class="mT10" data-openable-open>2018-08-12 23:35:12</div>
{%if perm_su()%}
          <pre class="mT10 badge txtL ltr" data-openable-open>{%trans "Ip address"%} 192.168.1.100</pre>
{%endif%}
        </td>
      </tr>

      <tr>
        <td class="type s0"><i class="sf-heart"></i></td>
        <td class="subject">
          <div class="title">Test2</div>
          <div class="excerpt">
              Introducing Droplets with more memory, larger SSDs, and several new plans! There is a Droplet for every application. Read about it on our <a href="https://blog.digitalocean.com/new-droplet-plans/">blog post</a> or <a href="https://cloud.digitalocean.com/droplets/new">try a new Droplet now</a>.
          </div>
        </td>
        <td class="date">
          <div>یک روز پیش</div>
          <div class="mT10" data-openable-open>2018-08-12 23:35:12</div>
        </td>
      </tr>

      <tr data-open-disable>
        <td class="type s0"><i class="sf-heart"></i></td>
        <td class="subject">
          <div class="title">Test2</div>
          <div class="detail">
              Introducing Droplets with more memory, larger SSDs, and several new plans! There is a Droplet for every application. Read about it on our <a href="https://blog.digitalocean.com/new-droplet-plans/">blog post</a> or <a href="https://cloud.digitalocean.com/droplets/new">try a new Droplet now</a>.
          </div>
        </td>
        <td class="date">
          <div>یک روز پیش</div>
          <div class="sendVia f">
            <div class="cauto">
              <span class="btn sm sf-envelope" title='{%trans "Sended via SMS"%}'></span>
              <span class="btn sm sf-paper-plane" title='{%trans "Sended via Telegram"%}'></span>
            </div>
          </div>
        </td>
      </tr>



      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td>{{value.title}}</td>
        <td>{{value.content}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No notifications found"%}</p>
{%endblock%}

