{%extends display.suMain%}


{%block content%}
<div class="tbox">
	<h2>{%trans "logitems Detail"%}</h2>
</div>

<div class="cbox">
	<form method="post">
		<label for="id">{%trans "ID"%}</label>
		<div class="input">
			<input type="text" readonly disabled value="{{logitem.id|fitNumber}}">
		</div>

		<label for="caller">{%trans "caller"%}</label>
		<div class="input">
			<input type="text" id="caller"  value="{{logitem.caller}}" readonly disabled>
		</div>

		<label for="title">{%trans "title"%}</label>
		<div class="input">
			<input type="text" name="title" id="title"  value="{{logitem.title}}">
		</div>

		<div class="input">
			<label for="type">{%trans "Type"%}</label>
			<input type="text" name="type" id="type"  value="{{logitem.type}}">
		</div>

		<label for="priority">{%trans "priority"%}</label>
		<select class="select" name="priority">
			<option value="critical" {%if logitem.priority == 'critical' %} selected {%endif%}>{%trans "Critical"%}</option>
			<option value="high" {%if logitem.priority == 'high' %} selected {%endif%}>{%trans "High"%}</option>
			<option value="medium" {%if logitem.priority == 'medium' %} selected {%endif%}>{%trans "Medium"%}</option>
			<option value="low" {%if logitem.priority == 'low' %} selected {%endif%}>{%trans "Low"%}</option>
		</select>


		<label for="desc">{%trans "desc"%}</label>
		<div class="input">
			<input type="text" name="desc" id="desc"  value="{{logitem.desc}}">
		</div>

		<div class="input ">
			<button class="btn primary " type="submit">{%trans "Save"%}</button>
		</div>

	</form>
</div>
{%endblock%}
