{%extends display.cpMain%}


{%block content%}
 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>


<div class="dt big">
	<div class="f th">

		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.id}}">{%trans "id"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.invoice_id}}">{%trans "invoice_id"%}</a></div>
		<div class="c5"><a href="{{url.base}}/cp/invoicedetails/{{order_url.title}}">{%trans "title"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.price}}">{%trans "price"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.count}}">{%trans "count"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.total}}">{%trans "total"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.discount}}">{%trans "discount"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/invoicedetails/{{order_url.desc}}">{%trans "desc"%}</a></div>

	</div>
	{%for key, value in invoicedetails_list%}
	<div class="f">

		<div class="c">{{value.id|fitNumber}}</div>
		<div class="c"><a href="{{url.base}}/cp/invoices/id={{value.invoice_id}}">{{value.invoice_id|fitNumber}}</a></div>
		<div class="c5">{{value.title}}</div>
		<div class="c">{{value.price|number_format|fitNumber}}</div>
		<div class="c">{{value.count|number_format|fitNumber}}</div>
		<div class="c">{{value.total|number_format|fitNumber}}</div>
		<div class="c">{{value.discount|number_format|fitNumber}}</div>
		<div class="c">{{value.desc}}</div>

	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
