{%extends display.dash%}


{%block pageContent%}
<form method="post" enctype="multipart/form-data">
<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">

        {{block("iAvatar")}}
        <br>

      <div class="f">
        <div class="c6 s12 pRa5">{{block("imobile")}}</div>
        <div class="c6 s12">{{block("iDisplayName")}}</div>
      </div>

      <div class="f">
        <div class="c6 s12 pRa5">{{block("iEmail")}}</div>

      </div>

      <div class="f">
        <div class="c s12 pRa5">{{block("iPassword")}}</div>
        <div class="c s12">{{block("irePassword")}}</div>
      </div>

      <div class="f">
        <div class="c s12 pRa5">{{block("iPermission")}}</div>
        <div class="c s12">{{block("iStatus")}}</div>
      </div>

      {{block("igender")}}

      {{block("iadd")}}

    </div>
  </div>
</div>
</form>
{%endblock%}





{%block iDisplayName%}
<label for="displayname">{%trans "Display name"%}</label>
<div class="input">
  <input type="text" name="displayname" id="displayname" placeholder='{%trans "Display name"%}' value="{{dataRaw.displayname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid displayname from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%} *' value="{{dataRaw.lastname}}" maxlength='60' required>
</div>
{%endblock%}



{%block imobile%}
<label for="mobile">{%trans "Mobile"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="mobile" id="mobile" placeholder='{%trans "Like 09120123456"%} *' value="{{dataRaw.mobile}}" maxlength='30' required autofocus>
</div>
{%endblock%}



{%block ibirthday%}
<label for="birthdate">{%trans "Birthday"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="birthdate" id="birthdate" placeholder='{{"1369/04/15" | fitNumber}}' value="{{dataRaw.birthdate}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}



{%block igender%}
<div class="mT10">
  <label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="f">
   <div class="radio1 green">
    <input type="radio" id="r-male" name="gender" value="male" {%if dataRaw.gender == 'male' or ( not dataRaw.gender and defaultDenderExpert == 'male') %}checked{%endif%}>
    <label for="r-male">{%trans "Male"%}</label>
   </div>

   <div class="radio1 green">
    <input type="radio" id="r-female" name="gender" value="female" {%if dataRaw.gender == 'female' or ( not dataRaw.gender and defaultDenderExpert == 'female') %}checked{%endif%}>
    <label for="r-female">{%trans "Female"%}</label>
   </div>
  </div>
</div>
{%endblock%}


{%block iStatus%}
<div class="mT10">
  <label for="status">{%trans "Status"%}</label>
  <select name="status" class="ui dropdown" id="status">
    <option value="" readonly>{%trans "Select one item"%} *</option>
    <option value="active">{%trans "Active"%}</option>
    <option value="awaiting">{%trans "Awaiting"%}</option>
    <option value="deactive">{%trans "Deactive"%}</option>
    <option value="removed">{%trans "Removed"%}</option>
    <option value="filter">{%trans "Filter"%}</option>
    <option value="unreachable">{%trans "Unreachable"%}</option>
  </select>
</div>
{%endblock%}


{%block iPermission%}
<div class="mT10">
  <label for="permission">{%trans "Permission"%}</label>
  <select name="permission" class="ui dropdown" id="permission">
    <option value="" readonly>{%trans "No permission"%}</option>
    {%for perm in permGroup%}
      <option value="{{perm}}">{%trans perm%}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}

{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{dataRaw.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iPassword%}
<label for="password">{%trans "Password"%}</label>
<div class="input">
  <input type="password" name="password" id="password" placeholder='{%trans "Password"%}' value="{{dataRaw.password}}" maxlength='50'>
</div>
{%endblock%}


{%block irePassword%}
<label for="repassword">{%trans "RePassword"%}</label>
<div class="input">
  <input type="password" name="repassword" id="repassword" placeholder='{%trans "Password"%}' value="{{dataRaw.password}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if dataRaw.avatar%}<img src="{{dataRaw.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}










