{%extends display.cpMain%}


{%block pageContent%}


<form method="post" enctype="multipart/form-data">
<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">

        {{block("iAvatar")}}
        <br>

      <div class="f">
        <div class="c6 s12 pRa5">{{block("imobile")}}</div>
        <div class="c6 s12">{{block("iDisplayName")}}</div>
      </div>

      <div class="f">
        <div class="c6 s12 pRa5">{{block("iEmail")}}</div>

      </div>

      <div class="f">
        <div class="c s12 pRa5">{{block("iPassword")}}</div>
        <div class="c s12">{{block("irePassword")}}</div>
      </div>

      <div class="f">
        <div class="c s12 pRa5">{{block("iPermission")}}</div>
        <div class="c s12">{{block("iStatus")}}</div>
      </div>

      {{block("igender")}}

      {{block("iadd")}}

    </div>
  </div>
</div>
</form>
{%endblock%}


{%block iTwostep%}
<label for="twostep">{%trans "Twostep"%}</label>
<div class="switch1 mTB0">
 <input type="checkbox" name="twostep" id="twostep" {%if dataRaw.twostep  %}checked{%endif%}>
 <label for="twostep"></label>
</div>
{%endblock%}


{%block iSidebar%}
<label for="xsidebar">{%trans "Sidebar"%}</label>
<div class="switch1 mTB0">
 <input type="checkbox" name="sidebar" id="xsidebar" {%if dataRaw.sidebar  %}checked{%endif%}>
 <label for="xsidebar"></label>
</div>
{%endblock%}


{%block iLanguage%}
<div class="mT10">
  <label for="language">{%trans "Language"%}</label>
  <select name="language" class="ui dropdown" id="language">
    <option value="" readonly>{%trans "Select one item"%}</option>
    {%for lang in lang.list%}
      <option value="{{lang}}" {%if dataRaw.language == lang%} selected {%endif%} >{%trans lang%}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block iWebsite%}
<label for="website">{%trans "Website"%}</label>
<div class="input">
  <input type="url" name="website" id="website" placeholder='{%trans "Website"%}' value="{{dataRaw.website}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid website from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iInstagram%}
<label for="instagram">{%trans "Instagram"%}</label>
<div class="input">
  <input type="text" name="instagram" id="instagram" placeholder='{%trans "Instagram"%}' value="{{dataRaw.instagram}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid instagram from 3 to 40 character"%}' >
</div>
{%endblock%}

{%block iFacebook%}
<label for="facebook">{%trans "Facebook"%}</label>
<div class="input">
  <input type="text" name="facebook" id="facebook" placeholder='{%trans "Facebook"%}' value="{{dataRaw.facebook}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid facebook from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iTwitter%}
<label for="twitter">{%trans "Twitter"%}</label>
<div class="input">
  <input type="text" name="twitter" id="twitter" placeholder='{%trans "Twitter"%}' value="{{dataRaw.twitter}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid twitter from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iLinkedin%}
<label for="twitter">{%trans "Linkedin"%}</label>
<div class="input">
  <input type="text" name="twitter" id="twitter" placeholder='{%trans "Linkedin"%}' value="{{dataRaw.twitter}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid twitter from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iGmail%}
<label for="gmail">{%trans "Gmail"%}</label>
<div class="input">
  <input type="email" name="gmail" id="gmail" placeholder='{%trans "Like"%} abc@example.com' value="{{dataRaw.gmail}}" maxlength='50'>
</div>
{%endblock%}



{%block iFirstname%}
<label for="firstname">{%trans "Firstname"%}</label>
<div class="input">
  <input type="text" name="firstname" id="firstname" placeholder='{%trans "Firstname"%}' value="{{dataRaw.firstname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid firstname from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iLastname%}
<label for="lastname">{%trans "Lastname"%}</label>
<div class="input">
  <input type="text" name="lastname" id="lastname" placeholder='{%trans "Lastname"%}' value="{{dataRaw.lastname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid lastname from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iUsername%}
<label for="username">{%trans "Username"%}</label>
<div class="input">
  <input type="text" name="username" id="username" placeholder='{%trans "Username"%}' value="{{dataRaw.username}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid username from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iTitle%}
<label for="title">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Title"%}' value="{{dataRaw.title}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid title from 3 to 40 character"%}' >
</div>
{%endblock%}




{%block iType%}
<label for="type">{%trans "Type"%}</label>
<div class="input">
  <input type="text" name="type" id="type" placeholder='{%trans "Type"%}' value="{{dataRaw.type}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid type from 3 to 40 character"%}' >
</div>
{%endblock%}

{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{dataRaw.birthday}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}



{%block iBio%}
<label for="bio">{%trans "Bio"%}</label>
<textarea class="txt mB20" name="bio" placeholder='{%trans "Bio"%}' maxlength='300' rows="3">{{dataRaw.bio}}</textarea>
{%endblock%}



{%block iDisplayName%}
<label for="displayname">{%trans "Display name"%}</label>
<div class="input">
  <input type="text" name="displayname" id="displayname" placeholder='{%trans "Display name"%}' value="{{dataRaw.displayname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid displayname from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iFullname%}
<label for="fullname">{%trans "Last name"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="fullname" id="fullname" placeholder='{%trans "Full name"%} *' value="{{dataRaw.fullname}}" maxlength='60' >
</div>
{%endblock%}



{%block imobile%}
<label for="mobile">{%trans "Mobile"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="mobile" id="mobile" placeholder='{%trans "Like 09120123456"%} *' value="{{dataRaw.mobile}}" maxlength='30' required autofocus>
</div>
{%endblock%}



{%block igender%}
<div class="mT10">
  <label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="f">
   <div class="radio1 green">
    <input type="radio" id="r-male" name="gender" value="male" {%if dataRaw.gender == 'male' %}checked{%endif%}>
    <label for="r-male">{%trans "Male"%}</label>
   </div>

   <div class="radio1 green">
    <input type="radio" id="r-female" name="gender" value="female" {%if dataRaw.gender == 'female' %}checked{%endif%}>
    <label for="r-female">{%trans "Female"%}</label>
   </div>
  </div>
</div>
{%endblock%}


{%block iStatus%}
<div class="mT10">
  <label for="status">{%trans "Status"%}</label>
  <select name="status" class="ui dropdown" id="status">
    <option value="" readonly>{%trans "Select one item"%} *</option>
    <option value="active" {% if dataRaw.status == 'active' %} selected {%endif%}>{%trans "Active"%}</option>
    <option value="awaiting" {% if dataRaw.status == 'awaiting' %} selected {%endif%}>{%trans "Awaiting"%}</option>
    <option value="deactive" {% if dataRaw.status == 'deactive' %} selected {%endif%}>{%trans "Deactive"%}</option>
    <option value="removed" {% if dataRaw.status == 'removed' %} selected {%endif%}>{%trans "Removed"%}</option>
    <option value="filter" {% if dataRaw.status == 'filter' %} selected {%endif%}>{%trans "Filter"%}</option>
    <option value="unreachable" {% if dataRaw.status == 'unreachable' %} selected {%endif%}>{%trans "Unreachable"%}</option>
  </select>
</div>
{%endblock%}


{%block iPermission%}
<div class="mT10">
  <label for="permission">{%trans "Permission"%}</label>
  <select name="permission" class="ui dropdown" id="permission">
    <option value="" readonly>{%trans "No permission"%}</option>
    {%for perm in permGroup%}
      <option value="{{perm}}" {%if dataRaw.permission == perm%} selected {%endif%} >{%trans perm%}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}

{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{dataRaw.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iPassword%}
<label for="password">{%trans "Password"%}</label>
<div class="input">
  <input type="password" name="password" id="password" placeholder='{%if dataRaw.password%}{%trans "Password was set, enter to change it!"%}{%else%}{%trans "Password not set, enter  to set it!"%}{%endif%}'  maxlength='50'>
</div>
{%endblock%}


{%block irePassword%}
<label for="repassword">{%trans "RePassword"%}</label>
<div class="input">
  <input type="password" name="repassword" id="repassword" placeholder='{%if dataRaw.password%}{%trans "Password was set, enter to change it!"%}{%else%}{%trans "Password not set, enter  to set it!"%}{%endif%}'  maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if dataRaw.avatar%}<img src="{{dataRaw.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}










