{%extends display.admin%}
{%use 'content_account/profile/pagestep.html'%}


{%block pageContent%}
{{block('pageSteps')}}

<form method="post" enctype="multipart/form-data" autocomplete="off">
  <div class="f justify-center">
    <div class="c8 s12">



      <div class="cbox">
        <h3 class="txtC">{%trans "Improve User Experience"%}</h3>
{{block("iAvatar")}}
{{block("iLanguage")}}
{{block("ibirthday")}}
{{block("igender")}}
{{block("iSidebar")}}
{{block("iSaveAll")}}
      </div>



    </div>
  </div>
</form>
{%endblock%}



{%block iSidebar%}
<label for="xsidebar">{%trans "Show sidebar"%}</label>
<div class="switch1 mTB0">
 <input type="checkbox" name="sidebar" id="xsidebar" {%if userToggleSidebar %}checked{%endif%}>
 <label for="xsidebar"></label>
</div>
{%endblock%}


{%block iLanguage%}
<div class="mTB10">
  <label for="language">{%trans "Default language"%}</label>
  <select name="language" class="ui dropdown" id="language">
    <option value="" readonly>{%trans "Select one item"%}</option>
    {%for key, lang in lang.list%}
      <option value="{{key}}" {%if dataRow.language == key%} selected {%endif%} >{{lang}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{dataRow.birthday}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}




{%block igender%}
<div class="mT10">
  <label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="f">
   <div class="radio1 green">
    <input type="radio" id="r-male" name="gender" value="male" {%if dataRow.gender == 'male' %}checked{%endif%}>
    <label for="r-male">{%trans "Male"%}</label>
   </div>

   <div class="radio1 green">
    <input type="radio" id="r-female" name="gender" value="female" {%if dataRow.gender == 'female' %}checked{%endif%}>
    <label for="r-female">{%trans "Female"%}</label>
   </div>
  </div>
</div>
{%endblock%}

{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if dataRow.avatar%}<img src="{{dataRow.avatar}}">{%endif%}
 </label>
</div>
<a class="badge danger floatL" href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"remove" : "avatar"}'>{%trans "Remove"%} {%trans "Your avatar"%}</a>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save all"%}</button>
{%endblock%}









