{%extends display.suMain%}

{%block content%}

{%if url.tld == 'local'%}
 <div class=" dbox">
  <h2>{%trans "Translate"%}</h2>
  <div class="btns">
   <a target='_blank' href="{{url.here}}/tools/translation?path=current">{%trans "Extract twig trans func in current project"%}</a>
   <br/><br/>
   <a target='_blank' href="{{url.here}}/tools/translation?path=addons">{%trans "Extract twig trans func in dash addons"%}</a>
   <a target='_blank' href="{{url.here}}/tools/translation?path=addons&update=dash">{%trans "Extract twig trans func in dash addons and update on dash addons"%}</a>
  </div>
 </div>
{%endif%}

{%endblock%}
