{%extends display.cpMain%}


{%block content%}
 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>


<div class="dt big">
	<div class="f th">
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.id}}">{%trans "ID"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.mobile}}">{%trans "Mobile"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.email}}">{%trans "Email"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.displayname}}">{%trans "Display name"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.status}}">{%trans "Status"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.parent}}">{%trans "Parent"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.username}}">{%trans "Username"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/users/{{order_url.fileurl}}">{%trans "Avatar"%}</a></div>
		<div class="c1">{%trans "More"%}</div>
		<!-- <div class="c1">{%trans "Edit"%}</div> -->
		<div class="c1">{%trans "Logs"%}</div>
		<div class="c1">{%trans "Transactions"%}</div>
	</div>
	{%for key, value in users_list%}
	<div class="f">

		<div class="c">{{value.id|fitNumber}}</div>
		<div class="c">{{value.mobile|fitNumber}}</div>
		<div class="c">{{value.email}}</div>
		<div class="c">{{value.displayname}}</div>
		<div class="c">{{value.status}}</div>
		<div class="c">{{value.parent}}</div>
		<div class="c">{{value.username}}</div>
		{%if value.fileurl%}
			<div class="c">
				<a href="{{url.root}}/{{value.fileurl}}" target="_blank"><img src="{{url.root}}/{{value.fileurl}}" height="25" width="25"></a>
				</div>
		{%else%}
			<div class="c"><span class="sf-file-image-o"></span></div>
		{%endif%}

		<div class="c1"><a href='{{url.base}}/cp/users/detail/{{value.id}}'><span class="sf-align-left-1"></span></a></div>
		<!-- <div class="c1"><a href='{{url.base}}/cp/users/edit/{{value.id}}'><span class="sf-edit-write"></span></a></div> -->
		<div class="c1"><a href='{{url.base}}/cp/logs/sort=id/order=desc/user_id={{value.id}}'><span class="sf-archive"></span></a></div>
		<div class="c1"><a href='{{url.base}}/cp/transactions/sort=id/order=desc/user_id={{value.id}}'><span class="sf-credit-card"></span></a></div>

	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
