{%extends display.cpMain%}


{%block sidenav%}
{{parent()}}
<li>
	<a href="{{url.base}}/cp/transactions/add" title='{%trans "Add New Transaction"%}'><i class="sf-plus"></i><span>{%trans "Add New Transaction"%}</span></a>
</li>
{%endblock%}


{%block content%}

 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>


<div class="dt big">
	<div class="f th">
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.mobile}}">{%trans "Mobile"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.displayname}}">{%trans "Displayname"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.code}}">{%trans "Code"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.title}}">{%trans "Title"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.type}}">{%trans "Type"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.date}}">{%trans "Date"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.amount_request}}">{%trans "Amount request"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.amount_end}}">{%trans "Amount end"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.plus}}">{%trans "Plus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.minus}}">{%trans "Minus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.unit_id}}">{%trans "Unit"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.budget_before}}">{%trans "Budget before"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.budget}}">{%trans "Budget"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.status}}">{%trans "Status"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.condition}}">{%trans "Condition"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.verify}}">{%trans "Verify"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.payment}}">{%trans "Payment"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.parent_id}}">{%trans "Parent"%}</a></div>
		<div class="c">{%trans "More"%}</div>
		<div class="c">{%trans "Repait"%}</div>
		<div class="c">{%trans "Add new"%}</div>
		<!-- <div class="c">{%trans "Revers"%}</div> -->
	</div>
	{%for key, value in transactions_list%}
	<div class="f">
		<div class="c" >{{value.mobile|fitNumber}}</div>
		<div class="c" >{{value.displayname}}</div>
		<div class="c" >{{value.code|fitNumber}}</div>
		<div class="c" >{{value.title}}</div>
		<div class="c" >{%set my_type = value.type %}{%trans my_type%}</div>
		{%if site.currentlang == 'fa'%}
			<div class="c" ><a href='{{url.base}}/cp/transactions/date={{value.date | date("Y-m-d H:i:s")}}'>{{value.date | jdate("Y-m-d H:i:s")}}</a></div>
		{%else%}
			<div class="c" ><a href='{{url.base}}/cp/transactions/date={{value.date | date("Y-m-d H:i:s")}}'>{{value.date | fitNumber}}</a></div>
		{%endif%}
		<div class="c" >{{value.amount_request | number_format | fitNumber}}</div>
		<div class="c" >{{value.amount_end | number_format | fitNumber}}</div>
		<div class="c" >{{value.plus | number_format | fitNumber}}</div>
		<div class="c" >{{value.minus | number_format | fitNumber}}</div>
		<div class="c" >{%set my_unit = value.unit %}{%trans my_unit%}</div>
		<div class="c" >{{value.budget_before | number_format | fitNumber}}</div>
		<div class="c" >{{value.budget | number_format | fitNumber}}</div>
		<div class="c" >{%set my_status = value.status %}{%trans my_status%}</div>
		<div class="c" >{%set my_condition = value.condition %}{%trans my_condition%}</div>
		<div class="c" >{{value.verify|fitNumber}}</div>
		<div class="c" >{%set my_payment = value.payment %}{%trans my_payment%}</div>
		<div class="c" >{{value.parent_id|fitNumber}}</div>

		<div class="c">
			<a href="{{url.base}}/cp/logs/order=desc/sort=id/data={{value.id}}"><i class='sf-align-justify-1 b2'></i> <span> </span></a>
		</div>

		<div class="c">
			<a href="{{url.base}}/cp/transactions/add/transactions={{value.id}}"><i class='sf-bug b1'></i> <span> </span></a>
		</div>

		<div class="c">
			<a href="{{url.base}}/cp/transactions/add?mobile={{value.mobile}}"><i class='sf-plus bp'></i> <span> </span></a>
		</div>
		<!-- <div class="c">
			<a href="{{url.base}}/cp/transactions/add?mobile={{value.mobile}}"><i class='sf-history bn'></i> <span> </span></a>
		</div> -->
	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
