{%extends display.suMain%}


{%block pageContent%}

<div class="cbox">
 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{requestGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl mT15">
	<thead>
		<tr>
			<th>{%trans "ID"%}</th>
			<th>{%trans "Type"%}</th>
			<th>{%trans "Caller"%}</th>
			<th>{%trans "Title"%}</th>
			<th>{%trans "Priority"%}</th>
			<th>{%trans "datecreated"%}</th>
			<th>{%trans "Edit"%}</th>
		</tr>
	</thead>

	<tbody>
		{%for key, value in logitemsList%}
		<tr>
			<td>{{value.id|fitNumber}}</td>
			<td>{{value.type}}</td>
			<td><a href="{{url.kingdom}}/su/logs/caller={{value.caller}}"  title='{%trans "Click to show all logs by this logitems"%}'>{{value.caller}}</a></td>
			<td>{{value.title}}</td>
			<td>{%set myPriority = value.priority |capitalize %}{%trans myPriority%}</td>
			<td>{{value.datecreated | tdate}}</td>
			<td><a href="{{url.kingdom}}/su/logitems/edit?id={{value.id}}"><i class="sf-edit"></i></a></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%include display.pagination%}
</div>
{%endblock%}
