{%extends display.suMain%}


{%block content%}

 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{requestGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl">
	<thead>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.id}}">{%trans "id"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.user_id}}">{%trans "user_id"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.user_idsender}}">{%trans "user_idsender"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.title}}">{%trans "title"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.content}}">{%trans "content"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.url}}">{%trans "url"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.read}}">{%trans "read"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.star}}">{%trans "star"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.status}}">{%trans "status"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.category}}">{%trans "category"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.createdate}}">{%trans "createdate"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.senddate}}">{%trans "senddate"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.deliverdate}}">{%trans "deliverdate"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.expiredate}}">{%trans "expiredate"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.readdate}}">{%trans "readdate"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.gateway}}">{%trans "gateway"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.auto}}">{%trans "auto"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.datemodified}}">{%trans "datemodified"%}</a></th>
		<th><a href="{{url.base}}/su/notifications/{{orderUrl.desc}}">{%trans "desc"%}</a></th>
	</thead>
	<tbody>
		{%for key, value in notifications_list%}
		<tr >
			<td>{{value.id}}</td>
			<td>{{value.user_id}}</td>
			<td>{{value.user_idsender}}</td>
			<td>{{value.title}}</td>
			<td>{{value.content}}</td>
			<td>{{value.url}}</td>
			<td>{{value.read}}</td>
			<td>{{value.star}}</td>
			<td>{{value.status}}</td>
			<td>{{value.category}}</td>
			<td>{{value.createdate}}</td>
			<td>{{value.senddate}}</td>
			<td>{{value.deliverdate}}</td>
			<td>{{value.expiredate}}</td>
			<td>{{value.readdate}}</td>
			<td>{{value.gateway}}</td>
			<td>{{value.auto}}</td>
			<td>{{value.datemodified}}</td>
			<td>{{value.desc}}</td>
		</tr>
		{%endfor%}

	</tbody>
</table>

{%include display.pagination%}

{%endblock%}
