{%extends display.dash%}



{%block sidenav%}

<li><a href="{{url.base}}/a"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %} {{site.title}}</span></a></li>
<li><a href="{{url.here}}"><i class='sf-life-ring'></i> <span>{% trans "Support Panel" %}</span></a></li>

<li>
  <a href="{{url.here}}/ticket"><i class="sf-question-circle"></i>{%trans "Tickets"%}</a>
  <ul>
    <li><a href="{{url.here}}/ticket/add"><i class="floatRa mRa10 fc-mute sf-plus"></i>{%trans "New Ticket"%}</a></li>
  </ul>
</li>


{%if perm('supportTicketView') %}
<hr>
<li>
  <ul>
    <li><a href="{{url.here}}/ticket"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.unanswered | fitNumber}}</span>{%trans "Unanswered"%}</a></li>
    <li><a href="{{url.here}}/ticket"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.mine | fitNumber}}</span>{%trans "Mine"%}</a></li>
    <li><a href="{{url.here}}/ticket"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.all | fitNumber}}</span>{%trans "All"%}</a></li>
    <li>
    <li><a href="{{url.here}}/ticket?status=close"><span class="floatRa mRa10 fc-mute sf-archive"></span>{%trans "Archived"%}</a></li>
    <li><a href="{{url.here}}/ticket?status=spam"><span class="floatRa mRa10 fc-mute sf-bug"></span>{%trans "Spam"%}</a></li>
    <li><a href="{{url.here}}/ticket?status=deleted"><span class="floatRa mRa10 fc-mute sf-trash"></span>{%trans "Trash"%}</a></li>
  </ul>
</li>


<hr>
<li>
  <ul>
    <li class="title">{%trans "Labels"%}</li>
    <li><a href="{{url.here}}/ticket?label=billing"><span class="floatRa mRa10 fc-mute sf-tag"></span>{%trans "Billing"%}</a></li>
    <li><a href="{{url.here}}/ticket?label=bug"><span class="floatRa mRa10 fc-mute sf-tag"></span>{%trans "Bug"%}</a></li>
    <li><a href="{{url.here}}/ticket?label=feature"><span class="floatRa mRa10 fc-mute sf-tag"></span>{%trans "Feature"%}</a></li>
  </ul>
</li>
{%endif%}


{%endblock%}


