{%extends display.dash%}



{%block sidenav%}

<li><a href="{{url.kingdom}}/a" data-direct><i class='sf-gauge'></i> <span>{% trans "Dashboard" %} {{site.title}}</span></a></li>
<li><a href="{{url.here}}{{accessGet}}"><i class='sf-life-ring'></i> <span>{% trans "Support Dashboard" %}</span></a></li>

<li>
  <a href="{{url.here}}/ticket{{accessGet}}"><i class="sf-question-circle"></i>{%trans "Tickets"%}</a>

    <ul>
      <li><a href="{{url.here}}/ticket/add{{accessGet}}"><i class="floatRa mRa10 fc-mute sf-plus"></i>{%trans "New Ticket"%}</a></li>
{%if sidebarDetail.all%}
      <li><a href="{{url.here}}/ticket?status=all{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.all | fitNumber}}</span>{%trans "All"%}</a></li>
      <li><a href="{{url.here}}/ticket?type=last&status=all{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.all | fitNumber}}</span>{%trans "Last activity"%}</a></li>
{%endif%}
{%if sidebarDetail.open%}
      <li><a href="{{url.here}}/ticket?status=open{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.open | fitNumber}}</span>{%trans "Open tickets"%}</a></li>
{%endif%}
{%if sidebarDetail.answered%}
      <li><a href="{{url.here}}/ticket?status=answered{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.answered | fitNumber}}</span>{%trans "Answered"%}</a></li>
{%endif%}
{%if sidebarDetail.awaiting%}
      <li><a href="{{url.here}}/ticket?status=awaiting{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.awaiting | fitNumber}}</span>{%trans "Awaiting answer"%}</a></li>
{%endif%}
{%if sidebarDetail.archived%}
      <li><a href="{{url.here}}/ticket?status=archived{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute badge dark">{{sidebarDetail.archived | fitNumber}}</span>{%trans "Archived"%}</a></li>
{%endif%}
{%if perm('supportTicketTrash')%}
      <li><a href="{{url.here}}/ticket?status=deleted{{accessGetAnd}}"><span class="floatRa mRa10 fc-mute sf-trash"></span>{%trans "Trash"%}</a></li>
{%endif%}
    </ul>
</li>


<li class="hr"></li>

{%if sidebarDetail.tags%}
<li>
  {%if perm('cpSupportTagAdd') and 0 %}
    <a data-direct href="{{url.kingdom}}/cp/terms?type=support_tag"><i class='sf-tag'></i> {%trans "Tags"%}</a>
  {%else%}
    <a href="#" class="title"><i class='sf-tag'></i> {%trans "Tags"%}</a>
  {%endif%}
    <ul>
    {%for key, value in sidebarDetail.tags%}
      {%if value.status == 'enable' or perm_su()%}
          <li>
            <a href="{{url.here}}/ticket?tag={{value.slug}}{{accessGetAnd}}">
            <span class="floatRa mRa10 badge dark fc-mute"> {{value.useage_count | fitNumber}}</span>
            <span class="mRa10 badge rounded {{value.meta.color}}">&nbsp;</span>{{value.title}}</a>
          </li>
      {%endif%}
    {%endfor%}
    </ul>
</li>
{%endif%}


{%endblock%}


