
<table class="tbl1 v1 cbox fs12">
  <thead>
    <th colspan="2">{%trans "Last active tickets"%}</th>
    <th></th>
{%if haveSubdomain%}
    <th></th>
{%endif%}
    <th></th>
    <th></th>
    <th class="collapsing txtRa"><a href="{{url.here}}/ticket" class="btn dark sm">{%trans "All Tickets"%}</a></th>
  </thead>
  <tbody>
{%for key, value in dataTable%}
    <tr class="{{value.rowColor}}">
      <td class="collapsing txtB"><a href="{{url.here}}/ticket/show?id={{value.id}}">{{value.title | slice(0, 40)}}</a></td>
      <td><a href="{{url.here}}/ticket/show?id={{value.id}}">{{value.content | slice(0, 70)}}</a>
{%if value.tag%}
        <div class="mT5 fs12">
{%for Tkey, Tvalue in value.tag%}
          <a class="badge" href="{{url.here}}/ticket?tag={{Tvalue}}">{{Tvalue}}</a>
{%endfor%}
        </div>
{%endif%}
      </td>
{%if haveSubdomain%}
    <td class="collapsing">
{%if value.subdomain%}
      <a href="{{url.here}}/ticket?access=all&subdomain={{value.subdomain}}">{{value.subdomain | capitalize}}</a></td>
{%endif%}
{%endif%}
      <td class="collapsing">{%if value.plus%}{{value.plus | fitNumber}} <i class="compact sf-chat-alt-fill"></i>{%else%}{%endif%}</td>
      <td class="collapsing"><span title='{%trans "Created on"%} {{value.datecreated | tdate("Y-m-d H:i:s")}}'>{{value.datecreated | sdate("year")}}</span></td>
      <td class="collapsing fs08">{%set myStatus = value.status%} {%trans myStatus%} {%if value.status != 'awaiting'%}<i class="compact sf-spin-alt fc-green"></i>{%else%}<i class="compact sf-asterisk spiny fc-red"></i>{%endif%}
      </td>

      <td class="collapsing txtRa">
        <a href="{{url.here}}/ticket?access=all&user={{value.userid}}">
        <span class="txtB">{{value.displayname}}</span>
        <img src="{{value.avatar}}" class="avatar mLa10" src="{{value.displayname}}">
        </a>
      </td>
    </tr>
{%endfor%}
  </tbody>
</table>

{%include display.pagination%}
