{%extends display.admin%}

{%block pageContent%}
<div class="cbox">
	<div class="msg f">
	 <div class="cauto">
	  <span class="{%if userToggleSidebar %}sf-monitor{%else%}sf-display{%endif%} fs40 pA10 pRa25 vlbottom"></span>
	 </div>
	  <div class="c">
	   <h3>{%trans "Toggle side bar"%}</h3>
	   <p>{%trans "You can save side bar status"%}</p>
	 </div>
	</div>
  <form method="post">
	<div class="switch1">
	   <input type="checkbox" name="togglesidebar" id="togglesidebar" {%if userToggleSidebar %} checked {%endif%}>
	   <label for="togglesidebar" data-on="YES" data-off="NO!"></label>
	   <label for="togglesidebar">{%trans "Are your need side bar?"%}</label>
  </div>
    <button class="btn primary mT5 block">{%trans "Save"%}</button>
  </form>
</div>
{%endblock%}
