{%extends 'content_crm/member/layout.html'%}


{%block pageContent%}
<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">
      {%if perm('cpUsersEdit') %}
        <div class="f">
          <div class="c">
              <a class="btn danger outline block mB20" href="{{url.this}}/general?id={{requestGET.id}}">{%trans "Edit"%}</a>
          </div>

        {%if perm_su() %}
          <div class="cauto">
            <a class="btn mLa5 danger  mB20" href="{{url.this}}/glance?id={{requestGET.id}}&showlog=1">{%trans "Log"%}</a>
          </div>
        {%endif%}

        </div>

      {%endif%}
      <table class="tbl">
        <thead>
          <tr class="primary">
            <th>{%trans "Field"%}</th>
            <th>{%trans "Value"%}</th>
          </tr>
        </thead>
        <tbody>
          {%for key, value in dataRowMember%}
{%if value%}
            {%if key in ['password', 'unit_id', 'detail', 'avatar_raw'] %}
            {%elseif key == 'id'%}
                <tr>
                  <th>{%trans key%}</th>
                  <td class="ltr">
                    {{value}}
                    {%if perm_su()%}
                      <div title='{%trans "Decode"%}' class="badge mLR10">{{value | coding("decode") | fitNumber(false)}}</div>
                    {%endif%}
                  </td>
                </tr>
            {%elseif key == 'mobile'%}
              <tr class="f-{{key}} positive">
                <th>{%trans key%}</th>
                <td class="ltr">
                  <a href="tel:{{value}}"><i class="sf-mobile"></i> {{value | fitNumber('mobile12')}}</a>
      {%if perm('cpSmsSend') %}
                  <br>
                  <a class="btn" href="{{url.here}}/sms/send?mobile={{value}}"><i class="sf-envelope"></i> {%trans "Send SMS"%}</a>
      {%endif%}
      {%if perm_su() %}
                  <a class="btn" href="{{url.kingdom}}/enter?mobile={{value}}" data-direct><i class="sf-user"></i> {%trans "Enter"%}</a>
      {%endif%}
                </td>
              </tr>
            {%else%}
              <tr class="f-{{key}} {%if key == 'username' or key == 'mobile'%}positive{%endif%}">
                {%if key == 'android_meta' and perm_su() %}
                  <th class="collapsing">{%trans key%}</th>
                {%else%}
                  <th class="collapsing">{%trans key%}</th>
                {%endif%}
                <td>{%set myValue = value | capitalize | fitNumber(false)%}
                {%if key == 'birthday' or 'date' in key %}
                  <span class="block ltr" title="{{value}}"><i class="sf-calendar"></i> {{value | dt(true)}}</span>
                {%elseif 'code' in key or 'id' in key or key == 'phone'%}
                  <span class="block ltr">{{myValue}}</span>
                {%elseif key == 'website'%}
                  <a class="block ltr" href="{{value}}">{{value}}</a>
                {%elseif key == 'facebook'%}
                  <a class="block ltr" href="https://facebook.com/{{value}}">{{value}}</a>
                {%elseif key == 'twitter'%}
                  <a class="block ltr" href="https://twitter.com/{{value}}">{{value}}</a>
                {%elseif key == 'instagram'%}
                  <a class="block ltr" href="https://instagram.com/{{value}}">{{value}}</a>
                {%elseif key == 'linkedin'%}
                  <a class="block ltr" href="https://linkedin.com/in/{{value}}">{{value}}</a>
                {%elseif key == 'email' or key == 'gmail'%}
                  <a class="block ltr" href="mailto:{{value}}">{{value}}</a>
                {%elseif key == 'avatar' %}
                  <img src="{{value}}" class="size-we80">
                {%elseif key == 'android_meta' and perm_su() %}
                  <pre>
                    {{myValue}}
                  </pre>
                {%else%}
                  {%trans myValue%}
                {%endif%}
                </td>
              </tr>
            {%endif%}
{%endif%}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  {%if perm_su()%}
  {%if requestGET.showlog%}
  <div class="c3">
    <div class="cbox mLa5">
      {%for key, value in showUserLog%}
      <div class="msg"><span>{%trans key%}</span> <span class="floatL txtB">{{value | fitNumber}}</span></div>
      {%endfor%}
    </div>
  </div>
  {%endif%}
  {%endif%}
</div>
{%endblock%}









