
{%block iTitle %}
<div class="input mB10">
  <input type="text" name="title" id="title" placeholder='{%trans "Enter title here"%} *' value="{{dataRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}">
{%if dataRow.type == 'post' or dataRow.type == 'mag'%}
  <span class="addon" data-kerkere='.subTitle'>{%trans "Subtitle"%}</span>
{%endif%}
</div>

{%if dataRow.type == 'post' or dataRow.type == 'mag'%}
<div class="subTitle" data-kerkere-content='{%if dataRow.subtitle%}show{%else%}hide{%endif%}'>
  <label>{%trans "Subtitle"%} <small>{%trans "Subtitle show under title and used on press websites"%}</small></label>
  <div class="input">
    <input type="text" name="subtitle" id="subtitle" placeholder='{%trans "Enter subtitle here"%}' value="{{dataRow.subtitle}}" maxlength='300' minlength="1" pattern=".{1,300}">
  </div>
</div>
{%endif%}
{% endblock %}



{%block iContent%}
<textarea class="txt mB10" data-editor id='descInput' name="content" placeholder='{%trans "Write post "%}' maxlength='100000' rows="15">{{dataRow.content}}</textarea>
{%endblock%}



{%block iThumb%}
<section class="pbox">
  <header data-kerkere='.thumbPanel' data-kerkere-icon='open'>{%trans "Featured Image"%}</header>
  <div class="body thumbPanel" data-kerkere-content='show'>
{%if dataRow.meta.thumb%}
   <div class="mB20">
    <div class="mediaBox">
      <img src="{{dataRow.meta.thumb}}" alt="{{dataRow.title}}">
    </div>
    <div class="floatRa badge danger mT5" data-confirm data-data='{"deleteThumb": 1}'>{%trans "Remove"%}</div>
   </div>
{%endif%}

  <div>
    <label for="fthumb" class="block">{%trans "Featured Image"%}</label>
    <div class="input" >
     <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="fthumb" data-max="1000">
     </label>
    </div>
  </div>

  </div>
</section>
{%endblock%}



{%block iCat%}
{%if dataRow.type == 'post' or dataRow.type == 'mag'%}
  <section class="pbox">
    <header data-kerkere='.catPanel' data-kerkere-icon='open'>{%trans "Category"%}</header>
    <div class="body catPanel" data-kerkere-content='show'>
      {%if listCats%}
      <div title='{%trans "Choose category for posts is fix url of post relative and help people find it better."%}'>
        {%set postCat = category({"post_id" : dataRow.id, "id" : true, "type" : dataRow.type })%}
        <div title='{%trans "Choose category of post"%}'>
      {%for key, value in listCats%}
          <div class="check1">
            <input type="checkbox" name="cat_{{value.id}}" value="{{value.title}}" id="cat_{{value.id}}" {%if value.id in postCat %} checked {%endif%}>
            <label for="cat_{{value.id}}">{{value.title}}</label>
          </div>
      {%endfor%}
        </div>
      </div>
      {%else%}
      <div class="msg warn2 mB0"><a href="{{url.here}}/terms?type={%if myDataType == 'help'%}help{%elseif myDataType == 'mag'%}mag{%else%}cat{%endif%}">{%trans "Add new category"%}</a></div>
      {%endif%}
    </div>

  </section>
{%endif%}
{%endblock%}



{%block iTag%}
{%if dataRow.type == 'page'%}
{%else%}
<section class="pbox">
  <header data-kerkere='.tagPanel' data-kerkere-icon='open'>{%trans "Keywords"%}</header>
  <div class="body tagPanel" data-kerkere-content='show'>
    <div class="tagDetector">
    {%if dataRow.type == 'help'%}
      {%set myTagType = 'help_tag'%}
    {%elseif dataRow.type == 'mag'%}
      {%set myTagType = 'mag_tag'%}
    {%else%}
      {%set myTagType = 'tag'%}
    {%endif%}

    {%set postTag = tags({"post_id" : requestGET.id , "title" : true, "format" : 'csv', "type" : myTagType}) %}

    {%if options.tagSpecial and  requestGET.type == 'post' %}
      <div class="specialTags mB5" title='{%trans "Click on special tags to use this depending on your website design"%}'>
        {%for key, value in options.tagSpecial%}
          <span class="badge {%if key in postTag%} success{%endif%}" href="#" title="{%trans value%}" data-val='{{key}}'>{%if key in postTag%}<i class="sf-check compact"></i> {%endif%}{{key}}</span>
        {%endfor%}
      </div>
    {%endif%}

      <div class="input mB10 hide">
        <input type="text" class="input tagVals" name="tag" value="{{postTag}}" id="tagValues" placeholder='{%trans "Tag"%}'>
      </div>
      <label>{%trans "Add tag to link articles"%}</label>
      <div class="input">
        <input type="text" class="tagInput" placeholder='{%trans "Keywords"%}...'>
        <button class="addon tagAdd">{%trans "Add"%}</button>
      </div>
      <div class="tagBox"></div>
    </div>
  </div>

</section>
{%endif%}
{%endblock%}



{%block iComment%}
{%if dataRow.type != 'page'%}
<section class="pbox">
  <header data-kerkere='.commentPanel' data-kerkere-icon='close'>{%trans "Comments"%}</header>
  <div class="body commentPanel" data-kerkere-content='hide'>
    <div class="switch1">
     <input type="checkbox" name="comment" id="comment" {%if dataRow.comment == 'open' %} checked {%endif%}>
     <label for="comment"></label>
     <label for="comment">{%trans "Allow Comments"%}</label>
    </div>
  </div>
</section>
{%endif%}
{%endblock%}



{%block iPublishdate %}
<section class="pbox">
  <header data-kerkere='.publishDatePanel' data-kerkere-icon='close'>{%trans "Publish Date"%}</header>
  <div class="body publishDatePanel" data-kerkere-content='hide'>
    <div title='{%trans "Allow change default publish date"%}'>
      <label for="publishdate">{%trans "Publish date"%}</label>
      <div class="input ltr">
        <input class="datepicker" type="text" name="publishdate" id="publishdate" placeholder='{%trans "Default is now"%}' value="{{dataRow.publishdate}}" maxlength='15' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
      </div>
    </div>
    <div>
      <label for="publishtime">{%trans "Publish time"%}</label>
      <div class="input clockpicker ltr">
        <input type="text" name="publishtime" id="publishtime" placeholder='{%trans "Publish time"%}' autocomplete="off" {%if dataRow.publishdate %} value="{{dataRow.publishdate | date('H:i')}}" {%endif%}>
      </div>
    </div>
  </div>
</section>
{% endblock %}



{%block iStatus%}
{%if perm('cpPostsEditStatus')%}
<section class="pbox">
  <header data-kerkere='.statusPanel' data-kerkere-icon='close'>{%trans "Status"%}</header>
  <div class="body statusPanel" data-kerkere-content='hide'>
    <div class="radio1 green">
      <input type="radio" id="r-publish" name="status" value="publish" {%if dataRow.status == 'publish' or not dataRow.status %} checked{%endif%}>
      <label for="r-publish">{%trans "Publish"%}</label>
    </div>

    <div class="radio1 black">
      <input type="radio" id="r-draft" name="status" value="draft" {%if dataRow.status == 'draft'%} checked{%endif%} >
      <label for="r-draft">{%trans "Draft"%}</label>
    </div>

    <div class="radio1 red">
      <input type="radio" id="r-deleted" name="status" value="deleted" {%if dataRow.status == 'deleted'  %} checked{%endif%}>
      <label for="r-deleted">{%trans "Deleted"%}</label>
    </div>

  </div>
</section>
{%endif%}
{%endblock%}



{%block iLanguage%}
<section class="pbox">
  <header data-kerkere='.languagePanel' data-kerkere-icon='close'>{%trans "Language"%}</header>
  <div class="body languagePanel" data-kerkere-content='hide'>
    <label for="language">{%trans "You can publish in another language"%}</label>
    <select name="language" class="ui dropdown select">
      <option value=""><i>{%trans "Please select one item"%}</i></option>
      {%for key, value in lang.list%}
        {%if key | length == 2%}
        <option value="{{key}}" {%if dataRow.language == key or (not dataRow.lang and lang.current == key)  %} selected {%endif%}>{{value}}</option>
        {%endif%}
      {%endfor%}
    </select>
  </div>
</section>
{%endblock%}



{%block galleryImporter %}
<section class="pbox">
  <header data-kerkere='.addGalleryPanel' data-kerkere-icon='close'>{%trans "Add to gallery"%}</header>
  <div class="body addGalleryPanel" data-kerkere-content='hide'>
    <div class="dropzone">
      <h4>{%trans "Add to gallery"%}</h4>
      <label for='gallery' class="btn light">{%trans "Choose or Drop file here"%}</label>
      <input id="gallery" type="file" name="gallery" multiple>
      <div class="progress shadow" data-percent='30'>
        <div class="bar"></div>
        <div class="detail"></div>
      </div>
      <small>{%trans "Maximum file size"%} <b>{{maxUploadSize}}</b></small>
    </div>

  </div>
</section>
{% endblock %}





{%block iSEO%}
{%if dataRow.type == 'help'%}
  {%set myFirstURL = 'support/'%}
{%elseif dataRow.type == 'mag'%}
  {%set myFirstURL = 'mag/'%}
{%endif%}
  <section class="cbox">
    <div class="seoPreview">
      <a target="_blank" href="{{url.kingdom}}/{{myFirstURL}}{{dataRow.url}}">
        <h3>{{dataRow.title}}</h3>
        <cite><span>{{url.kingdom}}/{{myFirstURL}}</span>{{dataRow.url}}</cite>
      </a>
      <div class="f">
        <div class="c s12">
          <div class="desc">
            <time class="publishdate" datetime="{{dataRow.publishdate}}">{{dataRow.publishdate | dt('d M Y')}}</time> -
            <p>{{dataRow.excerpt}}</p>
          </div>
        </div>
        <div class="cauto os s12">
          <img src="{{url.siftal}}/images/logo/google.png" alt='{%trans "Google"%}'>
        </div>
      </div>
    </div>
    <div class="txtL">
      <div class="btn white" data-kerkere='.seoData'>{%trans "Customize for SEO"%}</div>
    </div>

    <div class="seoData" data-kerkere-content='hide'>
      <div class="mT10">
        <div>
          <label for='seoTitle'>{%trans "SEO Title"%} <small>{%trans "Recommended being more than 40 character and appear at the beginning of page content"%}</small></label>
          <div class="input">
            <input type="text" name="seotitle" id="seoTitle" placeholder='{%trans "Enter title here"%} *' value="{{dataRow.title}}" autofocus required maxlength='200' minlength="1" pattern=".{1,200}">
          </div>
        </div>

{%if dataRow.type == 'page' or dataRow.type == 'help'%}
        <div>
          <label for="parent">{%trans "Parent"%} <small>{%trans "Choose parent for this page to create related url as tree"%}</small></label>
          <select name="parent" class="select ui dropdown search">
            <option value=""><i>{%trans "Choose Parent"%}</i></option>
            <option value="0"><i>{%trans "Without Parent"%}</i></option>
        {%for key, value in pageList%}
        {%if value.id == dataRow.id%}
        {%else%}
              <option value="{{value.id}}" {%if dataRow.parent == value.id %} selected {%endif%}>{{value.title | slice(0, 50)}}</option>
        {%endif%}
        {%endfor%}
          </select>
        </div>
{%endif%}


        <div>
          <label for="seoSlug">{%trans "Slug"%} <small>{%trans "End part of your post url."%}</small></label>
          <div class="input ltr mB10">
            <input type="text" name="slug" id="seoSlug" placeholder='{%trans "Slug"%}' value="{{dataRow.slug_raw}}" maxlength='100' minlength="1" pattern=".{1,100}">
          </div>
        </div>

        <div>
          <label for='seoDesc'>{%trans "SEO Description"%} <small>{%trans "If leave it empty we are generate it automatically"%}</small></label>
          <textarea class="txt mB10" name="excerpt" id="seoDesc" placeholder='{%trans "Excerpt used for social media and search engines"%} *' maxlength='300' minlength="1" rows='3'>{{dataRow.excerpt}}</textarea>
        </div>
      </div>
    </div>

  </section>
{%endblock%}




{%block iGalleryShow%}

{%if dataRow.meta.gallery%}
<div class="cbox">
  <h2>{%trans "Gallery"%}</h2>
  <div class="normal f">

    {% for key, myUrl in dataRow.meta.gallery%}
      <div class="vcard mA10">

        {%if myUrl ends with '.jpg' or myUrl ends with '.png' or myUrl ends with '.gif'%}
        <img src="{{myUrl}}">
        <div class="content"></div>
        {%elseif myUrl ends with '.mp4' %}
        <video>
          <source src="{{myUrl}}" type="video/mp4">
        </video>
        <div class="content"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "Video"%}</a></div>
        <div class="content"></div>
        {%elseif myUrl ends with '.mp3' %}
        <audio controls>
          <source src="{{myUrl}}" type="audio/mpeg">
        </audio>
        <div class="content"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "MP3"%}</a></div>
        {%elseif myUrl ends with '.pdf' %}
          <div class="content title"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "PDF"%}</a></div>
        {%else%}
        <div class="content title"><a href="{{myUrl}}" title='{%trans "Click to download"%}'>{%trans "Without preview"%}</a></div>
        {%endif%}
        <div class="footer f">
          <button class="btn block secondary" data-ajaxify data-data='{"type" : "remove_gallery", "id": "{{key}}"}' data-method='post'>{%trans "Remove"%}</button>
        </div>
      </div>
    {%endfor%}
  </div>
</div>
{%endif%}

{%endblock%}


